<section>
  <div class="imgsize">
    <img [src]="collaboratorBanner" id="cimage" />
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12"></div>
        <!-- <p class="text-center" id="textdec">Collaborators</p> -->
      </div>
    </div>
  </div>
  <p class="container pt-10 partnerBody">
    Organizations and institutions who are practitioners of Societal Platform approach and
    contributing assets for public use.
  </p>
  <div class="container container-fluid partnerContainer">
    <div class="partnerContainerBody">
      <div class="row imageRow">
        <div class="box">
          <a href="https://www.aastar.org/" target="_blank"
            ><img class="p-0" src="assets/instances/space/app-collaborators-logos/aastar.png"
          /></a>
        </div>
        <div class="box">
          <a href="https://www.echoindia.in/" target="_blank"
            ><img src="assets/instances/space/app-collaborators-logos/ECHO.png"
          /></a>
        </div>
        <div class="box">
          <a href=" https://www.egovernments.org/" target="_blank"
            ><img class="p-0" src="assets/instances/space/app-collaborators-logos/Egov.png"
          /></a>
        </div>
        <div class="box">
          <a href="https://ekstep.in/" target="_blank"
            ><img class="p-0" src="assets/instances/space/app-collaborators-logos/EkStep.png"
          /></a>
        </div>
        <div class="box">
          <a href="https://shikshalokam.org/" target="_blank"
            ><img src="assets/instances/space/app-collaborators-logos/ShikshaLokam.png"
          /></a>
        </div>
      </div>
    </div>
    <!---->
  </div>
</section>
