<div #about id="views">
<ws-public-about></ws-public-about>
</div>
<div #collaborator id="view">
<ws-public-collaborators></ws-public-collaborators>
</div>
<!-- <div id="about" #about>
  <div class="flex">
    <div class="col-1">
      <h1 class="header heading-style pt-12 pl-16" name="about" >About Us</h1>
      <section *ngIf="!aboutPage?.detailaboutenable" style="width: 0rem">
        <div class="pt-12 pl-16 text-wrap text-style" *ngFor="let content of aboutPage.section5.paragraph">
          <p [innerHTML]="content.value | pipeSafeSanitizer: 'html'"></p>
        </div>
      </section>
    </div>
    <div class="col-2 mt-20">
      <div class="img"></div>
      <div class="ellipse"></div>
      <div class="group"></div>
    </div>
  </div>
</div>
<div id="collaborator"  #collaborator>
  <h1 class="header heading-style pt-12 pl-16"  name="collaborator"  >Collaborators</h1>
  <div class="group2"></div>
  <div class="pt-12 pl-16 pb-16">
    <p class="container partnerBody text-style">
      Organizations and institutions who are practitioners of Societal Platform approach and
      contributing assets for public use.
    </p>
    <div class="ellipse2"></div>
    <div class="container container-fluid partnerContainer">
      <div class="partnerContainerBody">
        <div class="row imageRow pt-12">
          <div class="box">
            <a href="https://www.aastar.org/" target="_blank"><img class="p-0"
                src="assets/instances/space/app-collaborators-logos/aastar.png" /></a>
          </div>
          <div class="box">
            <a href="https://www.echoindia.in/" target="_blank"><img
                src="assets/instances/space/app-collaborators-logos/ECHO.png" /></a>
          </div>
          <div class="box">
            <a href=" https://www.egovernments.org/" target="_blank"><img class="p-0"
                src="assets/instances/space/app-collaborators-logos/Egov.png" /></a>
          </div>
          <div class="box exception-style">
            <a href="https://ekstep.in/" target="_blank"><img class="p-0"
                src="assets/instances/space/app-collaborators-logos/EkStep.png" /></a>
          </div>
          <div class="box">
            <a href="https://shikshalokam.org/" target="_blank"><img
                src="assets/instances/space/app-collaborators-logos/ShikshaLokam.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->