<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-xs text-truncate">
    <span i18n="page title: assetguidelines" class="margin-left-xs">Asset Guidelines</span>
  </span>
</mat-toolbar> -->
<section>
  <div class="imgsize">
    <img [src]="assetguidelines" id="cimage" />
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12"></div>
        <!-- <p class="text-center" id="textdec">Collaborators</p> -->
      </div>
    </div>
  </div>

  <div class="allignment">
    <!-- <p class="p1"><span class="s1"><strong>Asset Guidelines</strong></span></p> -->
    <p class="p2"><span class="s1">To foster constant and rapid evolution of innovations, assets would have to be
        created
        and used, and should enable collaboration and co-creation among diverse people. Thus, standards play an
        important role in defining certain requirements and guidelines to make assets accessible, acceptable and easy to
        consume for all.</span></p>
    <p class="p2"><span class="s1">These standards are intended for individuals and organisations involved in asset
        creation
        and contribution of assets to the SPace Platform.</span></p>
    <p class="p2"><span class="s1"><strong>What is an asset?</strong></span></p>
    <p class="p2"><span class="s1">An asset is a bundle of resources that can be used repeatedly to provide various
        benefits. An asset can give ideas, methods, tools, data and connections to imagine and implement a societal
        mission.</span></p>
    <p class="p2"><span class="s1">Take the example of an asset that can help in conducting field research. It can have
        several resources such as a guide (a knowledge resource) which could help the audience with steps to follow in a
        research process, a software which could help analyse qualitative data and a case study of a field research
        conducted by an organisation.</span></p>
    <p class="p2"><span class="s1"><em>Note: Both assets and resources are Content types recognised on the SPace
          Platform.
          All Content must follow the terms and policies of SPace Platform, including the </em><a
          href="https://docs.google.com/document/d/1fGVOzIdToEGTSTFBG9XXeS4CurW-fQpNANL9eaf2ldo/edit?usp=sharing"><span
            class="s2"><strong><em>Content Policy &amp; Community
                Guidelines</em></strong></span></a><em>.</em></span></p>
    <p class="p2"><span class="s1"><strong>General considerations</strong></span></p>
    <p class="p2"><span class="s1">Asset creators should ensure that the resources are understandable to different
        individuals (such as social science researchers, technologists, policy makers and programme designers) involved
        in societal missions. The use of resources will vary depending on the context in which users work. It could be
        their sector, functions within organisations, their previous knowledge and so on. A policymaker may want to use
        qualitative data analysis software to analyse policy documents whereas a field researcher may want to use it for
        transcription analysis. Therefore, the value of each asset must be conveyed with appropriate language,
        terminology and supporting information.</span></p>
    <p class="p2"><span class="s1"><strong>Guidelines</strong></span></p>
    <ol class="ol1">
      <li class="li2"><span class="s1">An asset with a diverse range of resources can help in ensuring the relevance of
          the asset for all. For example, in the case of an asset on network mapping, some users may only want to
          understand how to map networks while some others may be interested only in the tool that allows them to map
          networks. Thus, we recommend that an asset has different types of resources. This can also help in making an
          asset more valuable for the users. Types of resources including but not limited to:</span></li>
      <ol class="ol2">
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Knowledge</span></li>
        <ul class="ul1">
          <li class="li2"><span class="s1">Knowledge resources are containers that store knowledge in the form of
              articles, method guides, videos, posters and other such learning objects.<span
                class="Apple-converted-space">&nbsp;</span></span></li>
        </ul>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Protocol</span></li>
        <ul class="ul1">
          <li class="li2"><span class="s1">Protocols, in simple terms, are a set of guidelines and procedures that
              deal with a particular subject. It gets manifested in terms of documents on standards and
              specifications.<span class="Apple-converted-space">&nbsp;</span></span></li>
          <li class="li2"><span class="s1">Protocols provide detailed information on processes and standards for
              interactions between different entities. It could be APIs, hardware specifications, software
              documentation or standards for resource creation, among others.</span></li>
        </ul>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Technology</span></li>
        <ul class="ul1">
          <li class="li2"><span class="s1">Technology refers to software and hardware. Access to microservices in the
              form of a codebase is an example of a technology resource.<span
                class="Apple-converted-space">&nbsp;</span></span></li>
        </ul>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Connections</span></li>
        <ul class="ul1">
          <li class="li2"><span class="s1">Connections are about networks </span><span class="s3">&mdash;</span><span
              class="s1"> information about actors and the interactions between them. For instance, an
              organisation sharing its network of partners can help others to find new actors and leverage
              existing interactions in the system.<span class="Apple-converted-space">&nbsp;</span></span></li>
        </ul>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Data</span></li>
        <ul class="ul1">
          <li class="li2"><span class="s1">A curated repository of data in an understandable and consumable form,
              wherever possible, can be critical in making complete use of an asset. Data resources are commonly
              stored in databases and registries.</span></li>
        </ul>
      </ol>
      <!-- </ol> -->
      <!-- <ol class="ol1"> -->
      <li class="li2"><span class="s1">An asset becomes easily consumable with different types of knowledge resources.
          We
          primarily look at four key types of knowledge resources with each being able to provide a distinct form of
          engagement for the user.</span></li>
      <ol class="ol2">
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">To engage</span></li>
        <!-- </ol> -->
        <!-- </ol> -->
        <!-- <ol class="ol1"> --> 
        <ol class="ol2">
          <ul class="ul1">
            <li class="li2"><span class="s1">Any resource like a video or other visual representations (e.g.,
                flowcharts) can be engaging content formats to serve as the first step to describe the asset to
                users. It will be a resource that crisply explains what the asset is about and does not get into
                the details.</span></li>
          </ul>
        </ol>
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <!-- <ol class="ol2"> -->
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">To explain the utility of the
            asset</span></li>
        <!-- </ol> -->
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <ol class="ol2">
          <ul class="ul1">
            <li class="li2"><span class="s1">A resource, say a document, that explains explicitly the value that an
                asset can provide to users.</span></li>
          </ul>
        </ol>
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <!-- <ol class="ol2"> -->
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">To practice</span></li>
        <!-- </ol> -->
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <ol class="ol2">
          <ul class="ul1">
            <li class="li2"><span class="s1">A guide or method resource or a tool which can help users to execute
                relevant activities. For<span class="Apple-converted-space">&nbsp;</span></span></li>
          </ul>
        </ol>
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <!-- <ol class="ol2"> -->
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Example</span></li>
        <!-- </ol> -->
        <!-- </ol> -->
        <!-- <ol class="ol1"> -->
        <ol class="ol2">
          <ul class="ul1">
            <li class="li2"><span class="s1">A case study of the asset usage in a particular context helps explain
                the applicability of the asset. For example, a case study of how an organisation has done
                strategy mapping will be a valuable resource for an asset on how to do strategy mapping for
                societal missions.</span></li>
          </ul>
        </ol>
      </ol>
      <!-- <ol class="ol1"> -->
      <li class="li2"><span class="s1">When users are on the SPace Platform, it is important that they are able to
          quickly
          understand what each asset is and what is the value that they provide. Thus, having asset names and
          descriptions that suggest what one can achieve with that asset becomes critical.</span></li>
      <ol class="ol2">
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Asset names should be short, preferably
            5-6 words, and help a user make sense of what that asset is about.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Asset description should be detailed and
            more specific than asset name. A suggested practice is to start asset description using below
            convention: <span class="Apple-converted-space">&nbsp;</span></span></li>

        <!-- </ol> -->
        <p class="p3"><span class="s1">&lt;Do What&gt; &lt;On What&gt; &lt;Achieve What&gt;</span></p>
      </ol>
      <!-- <ol class="ol1"> -->
      <ol class="ol2">
        <ul class="ul1">
          <li class="li2"><span class="s1">For example, the description of a &lsquo;how-to&rsquo; guide on field
              research can be started as, &lsquo;How to conduct independent field research to get an understanding
              of the adoption of Societal Platform among users&rsquo;.<span
                class="Apple-converted-space">&nbsp;</span></span></li>
        </ul>
      </ol>
      <!-- </ol> -->
      <!-- <ol class="ol1"> -->
      <li class="li2"><span class="s1">In order to increase and maintain the shareability of the asset, it becomes
          essential to ensure clarity of information for each resource and asset. Information can be provided as
          metadata.<span class="Apple-converted-space">&nbsp;</span></span></li>
      <ol class="ol2">
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Name</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Description</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Thumbnail</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Expires on: If the asset is relevant to
            be on the Platform only for a particular date, an expiry date can be set for the asset. Beyond this
            date, the asset will not be available on the Platform.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Duration: In case of multimedia assets
            and resources such as audio, video, duration can tell about the time required to consume an asset.<span
              class="Apple-converted-space">&nbsp;</span></span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Created By (Organisation)</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">SDG (Sustainable Development Goal)</span>
        </li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Catalog: An asset can be further
            associated with categories and subcategories of the field of Societal Platform. Currently, the following
            categories and subcategories are supported:</span></li>
        <!-- </ol> -->
        <!-- </ol> -->
        <ol class="ol1">
          <!-- <ol class="ol2"> -->
          <ul class="ul1">
            <li class="li2"><span class="s1">Idea</span></li>
            <ol class="ol1">
              1.&nbsp;&nbsp;<span class="s1">Experiences</span><br>
              2.&nbsp;&nbsp;<span class="s1">Concepts</span><br>
              3.&nbsp;&nbsp;<span class="s1">Models</span>
            </ol>
            <li class="li2"><span class="s1">Method</span></li>
            <!-- <ol>

                        </ol> -->
          </ul>
          <!-- </ol> -->
        </ol>
        <ol class="ol1">
          <!-- <ol class="ol2"> -->
          <ul class="ul1">
            <ol class="ol1">
              4.&nbsp;&nbsp;<span class="s1">Principles</span><br>
              5.&nbsp;&nbsp;<span class="s1">Framework</span><br>
              6.&nbsp;&nbsp;<span class="s1">Metrics</span><br>
            </ol>
          </ul>
          <!-- </ol> -->
        </ol>
        <ol class="ol1">
          <!-- <ol class="ol2"> -->
          <ul class="ul1">
            <li class="li2"><span class="s1">Practice</span></li>
          </ul>
          <!-- </ol> -->
        </ol>

        <ol class="ol1">
          <!-- <ol class="ol2"> -->
          <ul class="ul1">
            <ol class="ol1">
              7.&nbsp;&nbsp;<span class="s1">Processes</span><br>
              8.&nbsp;&nbsp;<span class="s1">Practices</span><br>
              9.&nbsp;&nbsp;<span class="s1">Templates</span>
            </ol>



          </ul>
          <!-- </ol> -->
        </ol>

        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Type: This field is applicable to
            resources only. The possible values for type are knowledge, protocol, technology, connection,
            data.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Copyright &amp; Year: If you are an
            individual, creating original Content, you are the copyright holder. If you are creating this course
            Content on behalf of an organisation, the organisation may be the copyright holder.<span
              class="Apple-converted-space">&nbsp; </span>Provide the year of publication on SPace
            Platform.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Attributions: If you have relied on
            another work to create this content, provide the name of that creator and the source of that
            work.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">License: This field is applicable to
            resources only. The possible values for license are dependent on the type of the resource. For
            knowledge
            and protocol type, the license values are <a
              href="https://creativecommons.org/share-your-work/public-domain/cc0/"><span class="s2">CC0</span></a>, <a
              href="https://creativecommons.org/licenses/by/4.0/"><span class="s2">CC BY (4.0)</span></a>, <a
              href="https://creativecommons.org/licenses/by-sa/4.0/"><span class="s2">CC BY-SA
                (4.0)</span></a>,
            <a href="https://creativecommons.org/licenses/by-nc/4.0/"><span class="s2">CC BY-NC
                (4.0)</span></a>, <a href="https://creativecommons.org/licenses/by-nd/4.0/"><span class="s2">CC
                BY-ND (4.0)</span></a>,
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><span class="s2">CC BY-NC-SA
                (4.0)</span></a>, <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><span class="s2">CC
                BY-NC-ND
                (4.0)</span></a>, Other. For technology type, the license values are
            <a href="http://opensource.org/licenses/MIT"><span class="s2">MIT</span></a>, <a
              href="https://www.apache.org/licenses/"><span class="s4">Apache</span></a>, Other. For data
            type,
            the license values are <a
              href="https://creativecommons.org/share-your-work/licensing-types-examples/public-domain/pdm/"><span
                class="s2">Public Domain</span></a>, <a
              href="https://creativecommons.org/share-your-work/public-domain/cc0/"><span class="s2">CC0</span></a>, <a
              href="http://opendatacommons.org/licenses/pddl/"><span class="s2">PDDL</span></a>, <a
              href="https://creativecommons.org/licenses/by/4.0/"><span class="s2">CC BY (4.0)</span></a>, <a
              href="https://cdla.io/permissive-1-0/"><span class="s2">CDLA-Permissive-1.0</span></a>, <a
              href="http://opendatacommons.org/licenses/by/"><span class="s2">ODC-BY</span></a>, <a
              href="https://creativecommons.org/licenses/by-sa/4.0/"><span class="s2">CC BY-SA
                (4.0)</span></a>,
            <a href="https://cdla.io/sharing-1-0/"><span class="s2">CDLA-Sharing-1.0</span></a>, <a
              href="http://opendatacommons.org/licenses/odbl/"><span class="s2">ODC-ODbL</span></a>, <a
              href="https://creativecommons.org/licenses/by-nc/4.0/"><span class="s2">CC BY-NC
                (4.0)</span></a>,
            <a href="https://creativecommons.org/licenses/by-nd/4.0/"><span class="s2">CC BY-ND
                (4.0)</span></a>, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><span class="s2">CC
                BY-NC-SA
                (4.0)</span></a>, <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><span class="s2">CC
                BY-NC-ND
                (4.0)</span></a>.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Keywords</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Creator: The user who submits the
            asset
            on the Platform.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Publisher: The user who reviews and
            publishes the asset on the Platform.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Format: This field is applicable to
            knowledge resources only. Some of the possible values of format are </span><span class="s5">article,
            quiz, webinar-recording, analyst-report etc.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Interface / API: This field is
            applicable
            to technology resources only. It can be used to provide the link to the API related to the
            technology.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Codebase: This field is applicable to
            technology resources only. It can be used to provide the link to the source code of the
            technology.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Documentation: This field is
            applicable
            to technology resources only. It can be used to share the documentation link for the use of
            technology.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Sandbox: This field is applicable to
            technology resources only. It can be used to share the link to a test environment for the technology
            where other users can experiment and experience it firsthand.</span></li>
        <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">Profile: This field is applicable to
            connection resources only. This field can be used to provide a public link to the profile of the
            individual or entity whose information is being shared as a connection.</span></li>
      </ol>
      <!-- </ol> -->
      <li class="li2"><span class="s5">Every asset and resource should be appropriately licensed and must not infringe
          on
          the intellectual property rights of others. Assets on the SPace Platform are </span><span class="s1">licensed
          under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><span class="s2">Creative Commons, CC BY
              ND
              4.0 International License</span></a>. However, each resource
          on SPace, whether existing independently or bundled as an asset, is bound by the terms and conditions of its
          own license as applicable.</span><span class="s5"> Asset curators are encouraged to use open licenses for
          resources. Details of recommended licenses for different resource types on SPace is shared in the License
          Policy.<span class="Apple-converted-space">&nbsp;</span></span></li>
      <li class="li2"><span class="s1">On the whole, it is important that our commitment to societal development must be
          matched with respectful, appropriate, accurate and responsible sharing.</span></li>
      <!-- </ol> -->
    </ol>
  </div>
</section>