@import 'ws-vars';
@import 'ws-mixins';

.allignment{
padding: 8px 20px;
line-height: 1.7;
@include breakpoint-xs {
   padding: 0 !important;
}
}
#cimage {
  background-size: cover;
  background-position: center;
  // width: 100%;
   width: 505px;
    height: 307px;
    @include breakpoint-xs {
      width: 18rem !important;
      height: auto !important;
    }
      @include breakpoint-s {
width: 20rem !important;
height: auto !important;
  }
}
.imgsize {
  height: 18rem;
  @include breakpoint-xs {
    height: auto !important;
    margin-top: 0em !important;
  }
}

.font-style{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #696466;
@include breakpoint-xs {
  width: auto !important;
}
}
.text-style{
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #925EB0 !important;;
}
.font-text{


  font-family: campaign, sans-serif !important;
  font-size: 17px;

}
.spaceallign {
  padding-left: 1rem !important;
}
.spaceallignment{
  padding-left: 0rem !important;
}
@media screen and (max-width: 450px) {
  .spaceallign{
  padding-left:0.8em;
}
}
@media screen and (max-width: 380px) {
  .spaceallignment{
  padding-left:0em;
}

}
.colortheme{
  color:#865ba0;

}
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
margin-left: 2.5rem !important;
@include breakpoint-xs {
  width: 19rem !important;
  font-size: 21px !important;
  padding-bottom: 0rem;
}
  @include breakpoint-s {
font-size: 27px !important;
  }
}
.img-container {
  float: right;
  width: 30rem;
  margin-top: -9rem !important;
  @include breakpoint-xs {
    width: auto !important;
    margin-top: auto !important;
    float: unset !important;
  }
  @include breakpoint-s {
width: 17rem !important;
  }
  // height: 17rem;
}
@media screen and (min-width:280px) and (max-width: 320px) {
  #cimage {
    width: 15rem !important;
  }
   .img-container {
  width: auto !important;
  float: none !important;
}
  .header{
    padding-bottom: 1rem !important;
    width: 15rem !important;
   }
   .font-style {
    width: 14rem !important;
}
}
@media screen and (min-width:542px) and (max-width: 569px) {
  .font-style {
    width: 29rem !important;
  }
}
@media screen and (min-width:539px) and (max-width: 542px) {
.font-style {
    width: 19rem !important;
}
.header {
    width: 31rem !important;
    font-size: 20px !important;
}
}
.colortheme{
  color:#865ba0;

}
