<mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-xs text-truncate">
    <span i18n="page title: assetguidelines" class="margin-left-xs">Asset Guidelines</span>
  </span>
</mat-toolbar>
<!-- <p class="p1"><span class="s1"><strong>Asset Guidelines</strong></span></p> -->
<div class="allignment">
  <p class="p2"><span class="s1">The purpose of this document is to provide preliminary guidelines for Creators and
      Reviewers to ensure that the quality of the Assets uploaded and linked onto the SPace Portal meet the following
      fundamental quality criteria.</span></p>
  <ol class="ol1">
    <li class="li3"><span class="s1"><strong>Respect and Trust</strong></span></li>

    <p class="p4"><span class="s1">When you use SPace Portal, you join a vast community of Asset users. Every community
        feature on SPace Portal involves a certain level of trust. Users are expected to respect that trust and be
        responsible about their usage of SPace Portal and all its Assets. Set out below are some common-sense rules that
        that all Users must comply with. These rules are to be taken seriously as Administrators are required to enforce
        the
        same strictly. Users are requested not to look for loopholes or ways around these guidelines and respect the
        spirit
        in which they have been created.</span></p>

    <li class="li3"><span class="s1"><strong>Appropriateness and Accuracy<span
            class="Apple-converted-space">&nbsp;</span></strong></span></li>

    <p class="p4"><span class="s1">You must ensure that all Assets uploaded and linked by you on SPace Portal is
        appropriate
        and accurate for use as outlined by the following guidelines. Asset identified as inappropriate or inaccurate as
        per
        these guidelines will not be allowed on the platform and if published can be unilaterally removed from SPace
        Portal
        by its Administrators.</span></p>
    <ol class="ol2">
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">Inappropriate Asset includes, but is not
          limited to:</span></li>
      <ol class="ol3">
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Hate Speech - by words either written or
            spoken or by signs or by visible
            representation or otherwise promotes or attempts to promote feelings of enmity, hatred or ill-will against
            persons of a:<span class="Apple-converted-space">&nbsp;</span></span></li>

        <ul class="ul1">
          <li class="li3"><span class="s1">Caste</span></li>
          <li class="li3"><span class="s1">Class</span></li>
          <li class="li3"><span class="s1">Tribe</span></li>
          <li class="li3"><span class="s1">Race</span></li>
          <li class="li3"><span class="s1">Ethnicity</span></li>
          <li class="li3"><span class="s1">Sex, gender, or gender identity</span></li>
          <li class="li3"><span class="s1">National origin</span></li>
          <li class="li3"><span class="s1">Religious affiliation</span></li>
          <li class="li3"><span class="s1">Sexual orientation, or</span></li>
          <li class="li3"><span class="s1">Disabilities or diseases</span></li>
        </ul>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Sexually explicit content</span></li>
        <ul class="ul1">
          <li class="li3"><span class="s1">Pornography</span></li>
          <li class="li3"><span class="s1">Explicit text/images/illustrations/sounds of sexual content</span></li>
          <li class="li3"><span class="s1">Descriptions of sexual acts</span></li>
        </ul>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Sexual violence and exploitation</span>
        </li>
        <ul class="ul1">
          <li class="li3"><span class="s1">Includes sexual exploitation of minors, and sexual assault</span></li>
          <li class="li3"><span class="s1">Photographs/ Illustrations/videos depicting incidents of sexual
              violence</span>
          </li>
        </ul>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Nudity</span></li>

        <ul class="ul1">
          <li class="li3"><span class="s1">Nudity would mean displaying genitals, breasts or focusing in on fully
              exposed
              buttocks.</span></li>
          <li class="li3"><span class="s1">Other than the depiction of body parts which isn&rsquo;t gratuitously graphic
              and is
              educational, documentary, scientific, or artistic - paintings, sculptures, and other art that depicts nude
              figures, which is posted for educational purposes. Providing context will help users determine the purpose
              of the
              content/asset.</span></li>
        </ul>

        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Violence</span></li>
        <ul class="ul1">
          <li class="li3"><span class="s1">Promoting, encouraging, supporting, praising, or condoning violent actions,
              activities and behaviour - verbal, physical or emotional.</span></li>
          <li class="li3"><span class="s1">Threatening or inciting others to commit acts of violence</span></li>
          <li class="li3"><span class="s1">Expressing support or praise for groups, people that are involved in the
              violent or criminal behavior</span></li>
        </ul>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Discrimination and Bullying or
            encouraging
            such behaviour:</span></li>

        <ul class="ul1">
          <li class="li3"><span class="s1">Targeting individuals with the intention of degrading or shaming them.</span>
          </li>
          <li class="li3"><span class="s1">Illustrations or Images altered to degrade individual</span></li>
          <li class="li3"><span class="s1">Photos or videos of physical or verbal bullying</span></li>
          <li class="li3"><span class="s1">Sharing personal information or harassing people</span></li>
          <li class="li3"><span class="s1">Repeatedly targeting other people with unwanted requests or messages.</span>
          </li>
        </ul>

        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Harmful or dangerous content</span></li>
        <ul class="ul1">
          <li class="li3"><span class="s1">Content that intends to incite violence or encourage dangerous or illegal
              activities that have an inherent risk of serious physical harm or death.</span></li>
          <li class="li3"><span class="s1">Encourage dangerous or illegal activities for instance - performing stunts,
              high risk activities, choking games, drug use, or other acts where serious injury or harm may result.
              Content that depicts dangerous acts may be allowed if the primary purpose is educational, documentary,
              scientific, or artistic (EDSA), and isn&rsquo;t gratuitously graphic.</span></li>
        </ul>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Other possibilities:</span></li>

        <ul class="ul1">
          <li class="li3"><span class="s1">Involvement of children in violence as victims or perpetrators or as forced
              witnesses
              to violence, or showing children as being subjected to any form of child abuse,</span></li>
          <li class="li3"><span class="s1">abuse or ridicule of people with disabilities (physical or mental),</span>
          </li>
          <li class="li3"><span class="s1">cruelty to, or abuse of animals,</span></li>
          <li class="li3"><span class="s1">depiction of violence, cruelty and horror, scenes of violence primarily,<span
                class="Apple-converted-space">&nbsp;</span></span></li>
          <li class="li3"><span class="s1">images/text/ illustrations have the effect of encouraging, justifying,
              glorifying,
              glamorising alcohol drinking, drugs and substance abuse; consumption of tobacco or smoking,</span></li>
          <li class="li3"><span class="s1">degrading or denigrating women in any manner,</span></li>
          <li class="li3"><span class="s1">vulgarity, obscenity or depravity,<span
                class="Apple-converted-space">&nbsp;</span></span></li>
          <li class="li3"><span class="s1">dual meaning words as obviously cater to baser instincts,</span></li>
          <li class="li3"><span class="s1">visuals or words contemptuous of racial, religious or other groups,</span>
          </li>
          <li class="li3"><span class="s1">visuals or words which promote superstition, communal, obscurantist,
              anti-scientific
              attitude, and</span></li>
          <li class="li3"><span class="s1">visuals or words involving defamation of an individual or a body of
              individuals.</span></li>
        </ul>
      </ol>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1"><strong>Accuracy</strong> means and
          includes,
          but is not limited to:</span></li>

      <ol class="ol3">
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Accuracy: All Content uploaded on SPace
            Portal must be factually correct.</span>
        </li>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Language: Language used in text, audio,
            video and interactive materials in the
            Content uploaded on SPace Portal must be simple and easy to understand.</span></li>
        <li class="li3" style="list-style-type: lower-roman;"><span class="s1">Contextual: All Content should be
            contextual and relevant to the needs of the
            intended user.<span class="Apple-converted-space">&nbsp;</span></span></li>
      </ol>

    </ol>
    <li class="li3"><span class="s1"><strong>Intellectual Property Rights</strong></span></li>
    <ol class="ol2">
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">You shall be solely responsible for your
          own Asset and the consequences of
          uploading or linking your Asset on SPace Portal.</span></li>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">You affirm, represent, and warrant that you
          own or have the necessary licenses,
          rights, consents, and permissions to publish Asset you submit; and you license to SPace all patent, trademark,
          trade secret, copyright or other proprietary rights in and to such Asset for publication on SPace Portal
          pursuant to these Terms.</span></li>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">SPace Portal does not endorse any Asset
          submitted to SPace Portal by any Registered
          User or other User, or any opinion, recommendation, or advice expressed therein, and SPace Portal expressly
          disclaims any and all liability in connection with the Asset.</span></li>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">SPace Portal does not permit copyright
          infringing activities and infringement of
          intellectual property rights on the SPace Portal, and SPace Portal will remove all Asset if properly notified
          that such Asset infringes on another's intellectual property rights.</span></li>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">SPace Portal reserves the right to remove
          Asset without prior notice. SPace Portal
          is not responsible for the violations of any third party rights including intellectual property rights by any
          User.</span></li>
      <li class="li3" style="list-style-type: lower-alpha;"><span class="s1">Any violations of copyright laws will be
          the responsibility of the concerned Users.
          Any disputes will be settled by the respective parties. SPace Portal bears no responsibility for this.</span>
      </li>
    </ol>
    <li class="li3"><span class="s1"><strong>Right not to Publish and Removal of Asset</strong></span></li>
    <ol class="ol2">
      <li class="li2" style="list-style-type: lower-alpha;"><span class="s1">The Administrators reserve the right to
          remove Asset from SPace Portal for
          inappropriateness, inaccuracy or violations of any kind by any member of the community of Users of SPace
          Portal.</span></li>
    </ol>
  </ol>
</div>