<mat-card-content class="grid margincardmobile">
  <mat-card class="example-card">
    <mat-card-header class="allignheader">
      <div mat-card-avatar class="profile">
        <img [attr.src]="registeredUser?.profile_image">
      </div>
      <mat-card-title style="font-size: 18px; margin-left: 20px; margin-top: 20px;">
        {{registeredUser.first_name +' '+ registeredUser.last_name}}
      </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content class="alligncontent">

      <div class="text-gray-60"> Location : {{registeredUser.residence_city}}</div>
      <!-- <div class="text-gray-60"> Course : {{registeredUser.department_name}}</div> -->
      <div class="text-purple-500">Certification : {{registeredUser.employmentStatus}}</div>
    </mat-card-content>
    <br><br>
    <mat-card-actions>
      <div>

        <div class="flex-container">
          <ng-container *ngFor="let star of stars">
            <ws-star (starEnter)="starEnter($event)" (starLeave)="starLeave()" (starClicked)="starClick($event)"
              [starId]="star" [rating]="hoverState || registeredUser?.rating || 0">
            </ws-star>
          </ng-container>
          <br /> <br />
          {{registeredUser.rating}}/5{{registeredUser.commentdata}}
        </div>



        <button class="mat-primary btn-clr" (click)="viewUserDetails(registeredUser)">View Details</button>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-card-content>