<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-xs text-truncate">
    <span i18n="page title: grievanceredressal" class="margin-left-xs">Grievance Redressal </span>
  </span>
</mat-toolbar> -->
<section class="mat-drawer-container mat-drawer-container-has-open mat-drawer-transition">
  <div class="imgsize">
    <img [src]="grievanceredressal" id="cimage" />
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12"></div>
        <!-- <p class="text-center" id="textdec">Collaborators</p> -->
      </div>
    </div>
  </div>

  <div class="allignment">
    <p class="p2">&nbsp;</p>
    <p class="p3">
      <span class="s1"
        >Any or all Assets (as defined in the Terms of Use) available herein at
        <a href="https://space.societalplatform.org/"
          ><span class="s2">space.societalplatform.org/</span></a
        >
        on the SPace Portal are uploaded or linked by Creators (as defined in the Terms of Use). We
        at EkStep Foundation (the &ldquo;<strong>Foundation</strong>&rdquo;), take intellectual
        property infringement matters very seriously and we take all reasonable steps necessary to
        ensure that the Assets uploaded or linked by Creators do not violate the applicable laws
        including infringement of third party intellectual property rights. In the event, you feel
        that any Asset on the SPace Portal infringes upon any third party intellectual property
        rights or violates any applicable law including but not limited to Information Technology
        (Intermediaries Guidelines) Rules, 2011, please write to Grievance Redressal Officer of
        EkStep Foundation at [<a href="mailto:space@societalplatform.org"
          ><span class="s2">space@societalplatform.org</span></a
        >] with the subject<em> &lsquo;SPace Grievance Issue&rsquo;</em>. Include the following
        details in the email:</span
      >
    </p>
    <p class="p4">&nbsp;</p>
    <p class="p3">
      <span class="s1"
        >(a)<span class="Apple-converted-space">&nbsp; </span>Your name and address</span
      >
    </p>
    <p class="p3">
      <span class="s1"
        >(b)<span class="Apple-converted-space">&nbsp; </span>Name of the organization you represent
        (if applicable)</span
      >
    </p>
    <p class="p3">
      <span class="s1"
        >(c) Link to the asset on the SPace portal which allegedly infringes upon third party
        intellectual property rights or any applicable laws;</span
      >
    </p>
    <p class="p3">
      <span class="s1"
        >(d) Source of the third-party intellectual property being infringed (please provide us with
        the link to the source being infringed, if the source is available online or the details of
        the book or the excerpt or journal or the material comprising such third-party intellectual
        property and the details of the author whose intellectual property rights are being
        allegedly infringed); and</span
      >
    </p>
    <p class="p3"><span class="s1">(e) A brief description of the type of infringement;</span></p>
    <p class="p3"><span class="s1">(f) Any other information you wish to provide us with.</span></p>
    <p class="p4">&nbsp;</p>
    <p class="p3">
      <span class="s1"
        >Upon receipt of a complaint in the manner set out above, the Foundation reserves the right
        to remove the Asset, in question, from the SPace Portal within 14 (fourteen) business
        days.<span class="Apple-converted-space">&nbsp;</span></span
      >
    </p>
  </div>
</section>
