@import 'ws-vars';
@import 'ws-mixins';

.tnc-container {
  padding: $size-l;
  margin: auto;
  @include breakpoint-xs {
    padding: 0;
  }
  @include breakpoint-gt-xs {
    max-width: 90%;
  }
  @include breakpoint-gt-s {
    max-width: 80%;
  }
  @include breakpoint-gt-m {
    max-width: 1024px;
  }
}

.accept-btn-icon {
  margin-right: $size-s;
}

.tnc-title {
  display: flex;
  align-items: center;
  margin: 0;
}

.font-style{
  font-family: montserrat, sans-serif !important;
  font-size: 17px !important;
}
.font-text{


  font-family: campaign, sans-serif !important;
  font-size: 17px;

}


@media screen and (max-width: 450px) {
  .spaceallign{
  padding-left:0.8em;
}

}
@media screen and (max-width: 380px) {
  .spaceallignment{
  padding-left:0em;
}

}

.allignment{
padding: 8px 20px;
line-height: 1.7;

}

// ol li span strong {
//     /* font-weight: bold; */
//     font-size: 20px;
//     font-family: campaign sans-serif;

// }

// p{
//     font-family: montserrat, sans-serif !important;
// }
::ng-deep {
  .tnc-container li {
    font-family: montserrat, sans-serif !important;
  }

  ol li span strong {
    /* font-weight: bold; */
    font-size: 20px;
    font-family: campaign sans-serif !important;

}
p strong {
  font-size: 20px;
  font-family: campaign sans-serif !important;
}
.boldcolor{
  color: #865ba0 !important;
}

.alphastyle{
  list-style-type: lower-alpha;
}
.romanstyle{
  list-style-type: lower-roman;
}

}