<section>
  <div class="imgsize">
    <img [src]="contentpolicy" id="cimage" />
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12"></div>
        <!-- <p class="text-center" id="textdec">Collaborators</p> -->
      </div>
    </div>
  </div>

  <div class="allignment">
    <!-- <p class="p1"><span class="s1"><strong>Content Policy &amp; Community Guidelines</strong></span></p> -->
    <p class="p2 font-style">
      <span class="s1 font-style"
        >The purpose of this Content Policy &amp; Community Guidelines is to ensure that the quality
        of the Content on the Platform meets the following fundamental quality criteria. Set out
        below are some common-sense rules that all Users must comply with. These rules are to be
        taken seriously as administrators of the Platform at EkStep are required to enforce the same
        strictly. Users are requested not to look for loopholes or ways around these guidelines and
        respect the spirit in which they have been created.</span
      >
    </p>
    <!-- <p class="p3"></p> -->
    <ol class="font-style spaceallign">
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Respect and Trust</strong>: When you use Platform, you join a
          vast community of Users. Every community feature on the Platform involves a certain level
          of trust. Users are expected to respect that trust and be responsible about their usage of
          Platform and all its Content.<span class="Apple-converted-space font-style"
            >&nbsp;</span
          ></span
        >
      </li>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Compliance</strong>:<span
            class="Apple-converted-space font-style"
            >&nbsp; </span
          >As a User, you agree that while using the Platform, contributing any Content on the
          Platform, including postings, feedback, questions, responses, comments any other form of
          community engagement you shall strictly adhere to this Content Policy &amp; Community
          Guidelines, Terms of Use and Privacy Policy. You shall be solely responsible for Content
          contributed using your User ID and password on the Platform.</span
        >
      </li>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Appropriateness and Accuracy</strong>: You must ensure that all
          Content contributed by you on the Platform is appropriate and accurate for use as outlined
          by the following guidelines. Content identified as inappropriate or inaccurate as per
          these guidelines will not be allowed on the Platform and if published can be unilaterally
          removed from the Platform by the administrators.</span
        >
      </li>
      <ol class="font-style spaceallignment">
        <li class="font-style" style="list-style-type: lower-alpha;">
          <span class="font-style"
            ><strong class="font-text">Inappropriate Content</strong> includes, but is not limited
            to:</span
          >
        </li>
        <ol class="ol3 font-style spaceallignment">
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Hate Speech - by words either written or spoken or by signs or by visible
              representation or otherwise promotes or attempts to promote feelings of enmity, hatred
              or ill-will against persons of a:</span
            >
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style"><span class="s1 font-style">Caste</span></li>
            <li class="li5 font-style"><span class="s1 font-style">Class</span></li>
            <li class="li5 font-style"><span class="s1 font-style">Tribe</span></li>
            <li class="li5 font-style"><span class="s1 font-style">Race</span></li>
            <li class="li5 font-style"><span class="s1 font-style">Ethnicity</span></li>
            <li class="li5 font-style">
              <span class="s1 font-style">Sex, gender, or gender identity</span>
            </li>
            <li class="li5 font-style"><span class="s1 font-style">National origin</span></li>
            <li class="li5 font-style"><span class="s1 font-style">Religious affiliation</span></li>
            <li class="li5 font-style">
              <span class="s1 font-style">Sexual orientation, or</span>
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style">Disabilities or diseases</span>
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Sexually explicit content</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style"><span class="s1 font-style">Pornography</span></li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Explicit text/images/illustrations/sounds of sexual content</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style">Descriptions of sexual acts</span>
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Depiction of sexual violence and exploitation</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Includes sexual exploitation of minors, and sexual assault.</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Photographs/ Illustrations/videos depicting incidents of sexual violence</span
              >
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Depiction of nudity</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Nudity would mean displaying genitals, breasts or buttocks (clothed or unclothed)
                for the purpose of sexual gratification.</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Other than the depiction of body parts which isn&rsquo;t gratuitously graphic and
                is educational, documentary, scientific, or artistic - paintings, sculptures, and
                other art that depicts nude figures, which is posted for educational purposes.
                Providing context will help users determine the purpose of the content/asset.</span
              >
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Content that promotes violence, including</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Promoting, encouraging, supporting, praising, or condoning violent actions,
                activities and behaviour - verbal, physical or emotional.</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Threatening or inciting others to commit acts of violence</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Expressing support or praise for groups, people that are involved in violent or
                criminal behaviour</span
              >
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Content that promotes/depicts/reflects discrimination and bullying or encouraging
              such behaviour, including:</span
            >
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Targeting individuals with the intention of degrading or shaming them.</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Illustrations or Images altered to degrade individuals</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style">Photos or videos of physical or verbal bullying</span>
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style">Sharing personal information or harassing people</span>
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Repeatedly targeting other people with unwanted requests or messages.</span
              >
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Comprises harmful or dangerous content</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >which intends to incite violence or encourage dangerous or illegal activities that
                have an inherent risk of serious physical harm or death.</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Encourages dangerous or illegal activities for instance - money laundering,
                gambling, performing stunts, high risk activities, choking games, drug use, or other
                acts where serious injury or harm may result. Content that depicts dangerous acts
                may be allowed if the primary purpose is educational, documentary, scientific, or
                artistic (EDSA), and isn&rsquo;t gratuitously graphic.</span
              >
            </li>
          </ol>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Other possibilities:</span>
          </li>
          <ol class="ol1 font-style spaceallignment">
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content which violates the law for the time being in force,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content which infringes any trademark, copyright, or other intellectual property
                rights,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content which deceives or misleads the User about the origin of such Content and
                conveys information which is grossly offensive or menacing,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content which contains software viruses or any other computer code, files or
                programs designed to interrupt, destroy or limit the functionality of any computer
                resource,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content which threatens the unity, integrity, defence, security or sovereignty of
                India, friendly relations with foreign states, or public order, or causes incitement
                to the commission of any cognisable offence or prevents investigation of any offence
                or is insulting any other nation,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involvings minors/ children in violence as victims or perpetrators or as
                forced witnesses to violence, or showing children as being subjected to any form of
                child abuse,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving abuse or ridicule of people with disabilities (physical or
                mental),</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style">Content involving cruelty to, or abuse of animals,</span>
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >depiction of violence, cruelty and horror, scenes of violence primarily,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving images/text/ illustrations have the effect of encouraging,
                justifying, glorifying, glamorising alcohol drinking, drugs and substance abuse;
                consumption of tobacco or smoking,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving degrading or denigrating women in any manner,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving vulgarity, obscenity or depravity,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving dual meaning words as obviously cater to baser instincts,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving visuals or words contemptuous of racial, religious or other
                groups,</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving visuals or words which promote superstition, communal,
                obscurantist, anti-scientific attitude,<span class="Apple-converted-space"
                  >&nbsp; </span
                >and</span
              >
            </li>
            <li class="li5 font-style">
              <span class="s1 font-style"
                >Content involving visuals or words involving defamation of an individual or a body
                of individuals.</span
              >
            </li>
          </ol>
        </ol>
        <li class="li5 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            ><strong class="font-text">Accurate Content</strong> - All Content on the Platform
            must:</span
          >
        </li>
        <ol class="ol3 font-style spaceallignment">
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Be factually correct,</span>
          </li>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Use language in text, audio, video and interactive materials that is simple and easy
              to understand, and</span
            >
          </li>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Be contextual and relevant to the needs of the intended User.</span
            >
          </li>
        </ol>
      </ol>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Intellectual Property Rights</strong></span
        >
      </li>
      <ol class="ol2 font-style spaceallignment">
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Users agree to comply with all copyright laws worldwide in the use of the Platform and
            to prevent unauthorised copying of any Content.</span
          >
        </li>
        <li class="li5 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Users are solely responsible for Content they have<span
              class="Apple-converted-space font-style"
              >&nbsp; </span
            >created, curated, reviewed, or published on the Platform.</span
          >
        </li>
        <li class="li5 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Users must ensure that Content that they create, curate, review or publish<span
              class="Apple-converted-space"
              >&nbsp; </span
            >on the Platform reflects correct and accurate details in relation to the:</span
          >
        </li>
        <ol class="ol3 font-style spaceallignment">
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Copyright details</span>
          </li>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Attributions to creators whose content has been relied on, used in, or referred to in
              the Content (if any) and sources and citations.</span
            >
          </li>
          <li class="li5 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">License details</span>
          </li>
          <li class="li6 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Any other legal or proprietary notice in relation to the Content.</span
            >
          </li>
        </ol>
        <!-- </ol></ol> -->
        <p class="p6 font-style">
          <span class="s1 font-style"
            >Users shall not falsify or delete such copyright management information.</span
          >
        </p>
        <!-- <ol class="ol1"> -->
        <!-- <ol class="ol2"> -->
        <li class="li5 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Users, who have copyright in the Content they have contributed, consent to publication
            of their Content in accordance with the
            <a href="public/termsofuse" class="font-text" target="_blank"
              ><span class="s3 font-style"
                ><strong class="font-text colortheme">Terms of Use</strong></span
              ></a
            >
            and this <strong class="font-text">Content Policy</strong>.<span
              class="Apple-converted-space font-style"
              >&nbsp;</span
            ></span
          >
        </li>
        <li class="li5 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >In relation to Content being contributed by Users who are not copyright holders of the
            Content, such contributors must ensure that they have the necessary authorisation,
            license, or permission to publish such Content in accordance with the
            <a href="public/termsofuse" class="font-style" target="_blank"
              ><span class="s3 font-text"
                ><strong class="font-text colortheme">Terms of Use</strong></span
              ></a
            >
            and this <strong class="font-text">Content Policy</strong>.</span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Users may not download, copy, distribute, transmit, display, perform, reproduce,
            duplicate, publish, edit or create any derivative works of the Content on the Platform.
            Any unauthorized use of the Platform or its Contents shall lead to termination of the
            access granted by EkStep.</span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >The Platform does not permit or encourage copyright infringing activities and
            infringement of intellectual property rights on the Platform, and EkStep will remove any
            Content if properly notified that such Content infringes on another's intellectual
            property rights.</span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Any violations of copyright laws will be the responsibility of the concerned Users. Any
            disputes will be settled by the respective parties. The Platform and EkStep bear no
            responsibility for this.</span
          >
        </li>
        <!-- </ol></ol> -->
      </ol>
      <p class="p7">&nbsp;</p>
      <p class="p7">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Prohibited Content</strong>: In relation to the Content
          contributed on the Platform, Users shall not:</span
        >
      </li>
      <ol class="ol2 font-style spaceallignment">
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Reveal any personally identifiable data or sensitive personal information of themselves
            or any other person, unless due consent has been obtained for the same;</span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Reveal Confidential or proprietary information of any third party;</span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Contribute any Content which infringes intellectual property rights of any third
            parties.</span
          >
        </li>
      </ol>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">No Endorsement</strong>: The Platform and EkStep do not endorse
          any Content on the Platform by any User, or any opinion, recommendation, or advice
          expressed therein, and the Platform and EkStep expressly disclaims any and all liability
          in connection with the Content.</span
        >
      </li>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Right not to Publish and Removal of Content</strong>: EkStep
          reserves the right to remove Content without prior notice for inappropriateness,
          inaccuracy, or violations of any kind by any User.</span
        >
      </li>
      <!-- </ol> -->
      <p class="p4">&nbsp;</p>
      <!-- <ol class="ol1"> -->
      <li class="li2 font-style">
        <span class="s1 font-style"
          ><strong class="font-text">Complaints &amp; Grievance Redressal</strong>:</span
        >
      </li>
      <ol class="ol2 spaceallignment">
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >We, at EkStep, take compliance with applicable laws, including intellectual property
            rights as well as this Content Policy &amp; Community Guidelines, very seriously. We
            take all reasonable steps necessary to ensure that the Content contributed by Users do
            not violate these.<span class="Apple-converted-space font-style">&nbsp;</span></span
          >
        </li>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >In the event, that you feel that any Content on the Platform violates any applicable
            laws, including intellectual property rights or the Content Policy &amp; Community
            Guidelines, please write to the Grievance Redressal Officer of EkStep at
            <a href="mailto:space@societalplatform.org" class="font-text"
              ><span class="s3">space@societalplatform.org</span></a
            >
            with the subject: &ldquo;Action for Impact: Grievance Issue&rdquo; and the following
            details in your email:</span
          >
        </li>
        <ol class="ol3 font-style spaceallignment">
          <li class="li2" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Your name and email address</span>
          </li>
          <li class="li2 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Name of the organization you represent (if applicable)</span
            >
          </li>
          <li class="li2 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >Link to the Content on the Platform which allegedly violates applicable laws or this
              Policy;</span
            >
          </li>
          <li class="li2 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style"
              >If applicable, the source of the third-party intellectual property being infringed
              (please provide us with the link to the source being infringed, if the source is
              available online or the details of the book or the excerpt or journal or the material
              comprising such third-party intellectual property and the details of the author whose
              intellectual property rights are being allegedly infringed);<span
                class="Apple-converted-space font-style"
                >&nbsp;</span
              ></span
            >
          </li>
          <li class="li2 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">A brief description of the type of violation; and</span>
          </li>
          <li class="li2 font-style" style="list-style-type: lower-roman;">
            <span class="s1 font-style">Any other information you wish to provide us with.</span>
          </li>
        </ol>
        <li class="li2 font-style" style="list-style-type: lower-alpha;">
          <span class="s1 font-style"
            >Upon receipt of a complaint in the manner set out above, EkStep reserves the right to
            remove the Content, in question, from the Platform within 14 (fourteen) business
            days.<span class="Apple-converted-space font-style">&nbsp;</span></span
          >
        </li>
      </ol>
    </ol>
  </div>
</section>
