@import 'ws-vars';
@import 'ws-mixins';

.allignment{
padding: 8px 20px;
line-height: 1.7;
@include breakpoint-xs {
   padding: 0 !important;
}
}
#cimage {
  background-size: cover;
  background-position: center;
  width: 691px;
    height: 358px;
    margin-left: -1rem;
    @include breakpoint-xs {
      width: 18rem !important;
      height: auto !important;
      margin-left: 0rem !important;
    }
      @include breakpoint-s {
width: 20rem !important;
height: auto !important;
margin-left: 0rem !important;
  }
}
.imgsize {
  height: 18rem;
  @include breakpoint-xs {
    height: auto !important;
    margin-top: 0em !important;
  }
}
.spaceallign {
  padding-left: 1rem !important;
}
.spaceallignment{
  padding-left: 0rem !important;
}
@media screen and (max-width: 450px) {
  .spaceallign{
  padding-left:0.8em;
}
}
@media screen and (max-width: 380px) {
  .spaceallignment{
  padding-left:0em;
}

}
.font-style{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #696466;
word-break: break-word;
@include breakpoint-xs {
  width: 17rem;
}
}
.text-style{
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #925EB0 !important;;
}
.font-text{
  font-family: campaign, sans-serif !important;
  font-size: 17px;
}


.colortheme{
  color:#865ba0;

}
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
padding-left: 2.5rem !important;
@include breakpoint-xs {
  width: 19rem !important;
  font-size: 19px !important;
  line-height: unset !important;
}
  @include breakpoint-s {
font-size: 20px !important;
line-height: 33px !important;
  }
}
.img-container {
  float: right;
 margin-top: -12.5rem;
    /* margin-top: -7rem !important; */
    width: 656px;
    height: 346px;
  @include breakpoint-xs {
    width: auto !important;
    margin-top: auto !important;
    float: unset !important;
    margin-left: 2rem !important;
    height: auto !important;
  }
  @include breakpoint-s {
width: 17rem !important;
margin-top: -7rem;
  }
  // height: 17rem;
}
@media screen and (min-width:280px) and (max-width: 320px) {
  #cimage {
    width: 16rem !important;
    margin-left: 0rem !important;
  }
  .header{
    width: 17rem !important;
    padding-left: 0 !important;
    text-align: center !important;
   }
   .font-style {
    width: 14rem !important;
}
.img-container {
margin-left: 1rem !important;
}
}
@media screen and (min-width:539px) and (max-width: 542px) {
.font-style {
    width: 21rem !important;
}
.header {
    width: 31rem !important;
    font-size: 17px !important;
}
}
@media screen and (min-width:542px) and (max-width: 569px) {
  .font-style {
    width: 29rem !important;
  }
}
@media screen and (min-width:1020px) and (max-width: 1027px) {
.header {
  font-size: 33px;
}
}
@media screen and (max-width: 1024px) and (min-width: 1023px){
  .img-container{
  width: 30.5rem !important;
}
#cimage {
  width: 525px !important;
  height: 320px !important;
}
}

@media screen and (max-width: 670px) and (min-width: 635px){
  .header {
    line-height: 33px !important;
}
}
.allignpara{
  margin-left: -15px;
}