.allignment{
padding: 8px 20px;
line-height: 1.7;

}
.font-style{
  font-family: Montserrat, sans-serif !important;
  font-size: 17px;
}
.font-text{


  font-family: campaign, sans-serif !important;
  font-size: 17px;

}