<!-- <div class="formallign">
  <mat-form-field>
    <mat-label>Filter Location</mat-label>
    <mat-select [(ngModel)]="searchText"> -->
<!-- <mat-option *ngFor="let registeredUser of users" [value]="registeredUser.residence_city">
        {{registeredUser.residence_city}}

      </mat-option>
      <mat-option *ngFor="let registeredUser of  users" [value]="registeredUser.employment_status">
        {{registeredUser.employment_status}}
      </mat-option> -->

<!-- <mat-option *ngFor="let registeredUser of myarrayLocation" [value]="registeredUser">
        {{registeredUser}}

      </mat-option> -->
<!-- <mat-option *ngFor="let registeredUser of  myarrayStatus" [value]="registeredUser">
        {{registeredUser}}
      </mat-option> -->

<!-- <mat-option *ngFor="let registeredUser of  filtercombo" [value]="registeredUser">
        {{registeredUser.location}} && {{registeredUser.status}}
      </mat-option> -->

<!-- </mat-select> -->
<!-- <mat-icon matPrefix>search</mat-icon> -->
<!-- </mat-form-field> -->
<!-- </mat-toolbar> -->
<!-- <br> -->
<!--********************Second Filter************************ -->

<!-- <mat-form-field>
    <mat-label>Filter Certificate</mat-label>
    <mat-select [(ngModel)]="searchText">
 -->

<!-- <mat-option *ngFor="let registeredUser of myarrayLocation" [value]="registeredUser">
        {{registeredUser}}
      </mat-option> -->

<!-- <mat-option *ngFor="let registeredUser of  myarrayStatus" [value]="registeredUser">
        {{registeredUser}}
      </mat-option>

    </mat-select> -->
<!-- <mat-icon matPrefix>search</mat-icon> -->
<!-- </mat-form-field>
</div> -->