@mixin color-background-opacity($color, $opacity: 0.3) {
  background: rgba($color, $opacity);
}

@mixin theme-based-configurations($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  $colorPrimaryDark: mat-color($primary, darker);
  $colorPrimaryLight: mat-color($primary, lighter);
  $colorPrimary: mat-color($primary, default);

  $colorAccentDark: mat-color($accent, darker);
  $colorAccentLight: mat-color($accent, lighter);
  $colorAccent: mat-color($accent, default);

  $colorWarnDark: mat-color($warn, darker);
  $colorWarnLight: mat-color($warn, lighter);
  $colorWarn: mat-color($warn, default);

  $colorBackground: mat-color($background, background);
  $colorText: mat-color($foreground, text);
  $iconColor: mat-color($foreground, icon);
  $colorGreen: #5fa800;
  $colorRed: #ff0000;

  .icon-svg {
    fill: $iconColor;
  }

  .ws-mat-primary-lite-background {
    background-color: $colorPrimaryLight;
  }

  .ws-mat-primary-lite-background-op30 {
    background: rgba($colorPrimaryLight, 0.3);
  }

  .ws-mat-primary-background-op70 {
    background: rgba($colorPrimary, 0.7);
  }

  @if $is-dark {
    mat-toolbar {
      button[disabled] {
        color: black !important;
        opacity: 0.3;
      }
    }

    .ws-mat-primary-text {
      color: $colorPrimaryLight !important;
    }

    .ws-mat-accent-text {
      color: $colorAccentLight !important;
    }
  } @else {
    .ws-mat-primary-text {
      color: $colorPrimary !important;
    }

    .ws-mat-accent-text {
      color: $colorAccent;
    }

    .ws-mat-primary-lite-background-on-day {
      background-color: $colorPrimaryLight;
    }
  }

  @if $is-dark {
    a[href^='/'][target='_self'],
    a[href^='http'],
    a[href^='mailto'],
    a[target='_blank'] {
      color: $colorPrimaryLight;
    }
  } @else {
    a[href^='/'][target='_self'],
    a[href^='http'],
    a[href^='mailto'],
    a[target='_blank'] {
      color: $colorPrimary;
    }
  }

  // ws-widget-page a[href^='http'],
  // ws-widget-page a[target='_blank'] {
  //   text-decoration: none !important;
  // }

  .ws-mat-primary-lite-background-important {
    background-color: $colorPrimaryLight !important;
  }

  .auth-tree-node {
    &:hover {
      background: rgba(mat-color($primary, default), 0.1);
    }
    &.selected {
      background: rgba(mat-color($primary, default), 0.2);
    }
  }
  .ws-mat-primary-background {
    background-color: $colorPrimary !important;
  }

  .ws-mat-primary-background-op10 {
    background: rgba(mat-color($primary, default), 0.1);
  }

  .ws-mat-primary-background-op30 {
    background: rgba(mat-color($primary, default), 0.3);
  }

  .ws-mat-primary-background-op50 {
    background: rgba(mat-color($primary, default), 0.5);
  }

  .ws-mat-primary-background-op20 {
    background: rgba(mat-color($primary, default), 0.2);
  }

  .ws-mat-primary-background-op30-hover:hover {
    background: rgba(mat-color($primary, default), 0.3);
  }

  .ws-mat-primary-background-op100 {
    background: rgba(mat-color($primary, default), 1);
  }

  .ws-mat-accent-background {
    background-color: $colorAccent;
  }

  .ws-mat-primary-default-text {
    color: $colorPrimary !important;
  }

  .ws-mat-warn-text {
    color: $colorWarn;
  }

  .ws-mat-warn-background {
    background-color: $colorWarn !important;
  }

  .ws-mat-green-text {
    color: $colorGreen !important;
  }

  .ws-mat-red-text {
    color: $colorRed !important;
  }

  .ws-mat-primary-border {
    border: 1px solid $colorPrimary;
  }

  .ws-mat-primary-border-bold {
    border: 2px solid $colorPrimary;
  }

  .ws-mat-primary-border-top-bolder {
    border-top: 4px solid $colorPrimary;
  }

  .ws-mat-primary-lite-border-bottom {
    border-bottom: 1px solid $colorPrimaryLight;
  }

  .ws-mat-primary-border-bottom-bolder {
    border-bottom: 3px solid $colorPrimary;
  }

  .ws-mat-accent-border-top-light {
    border-top: 1px solid $colorAccent;
  }

  .ws-mat-accent-border {
    border: 1px solid $colorAccent;
  }

  .ws-mat-text-block-fade-gradient {
    position: relative;

    &::after,
    &::before {
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40%;
      height: 1.2em;
    }

    &::after {
      content: '';
      background: linear-gradient(
        to right,
        rgba(mat-color($background, card), 0),
        mat-color($background, card) 50%
      );
    }

    &::before {
      content: '...';
    }
  }

  .ws-mat-text-fade-gradient {
    height: 2rem;
    background-color: white;
    position: absolute;
    width: 90%;
    margin-top: 24%;
    background: linear-gradient(
      to bottom,
      rgba(mat-color($background, card), 0),
      mat-color($background, card) 100%
    );
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast) !important;
  }

  .ws-primary-tinted-50 {
    @include color-background-opacity($colorPrimary, 0.5);
  }

  .ws-primary-bottom-border-hover {
    border-bottom: 1px solid transparent;
  }

  .ws-primary-bottom-border-hover:hover {
    border-bottom: 1px solid $colorPrimary;
    transition: all 0.2s ease-out;
    box-shadow: 0 -1px 0 0 $colorPrimary inset, 0 -2px 0 0 $colorPrimary inset;
  }

  #cke_1_contents,
  .cke_wysiwyg_div {
    background-color: $colorBackground !important;
  }

  .required {
    &::after {
      color: $colorWarnDark;
      content: ' *';
    }
  }
}
