<mat-toolbar class="sec-nav-bar" [color]="pageNavbar.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: '/' }"></ws-widget-btn-page-back>
  <h1 i18n class="text-white">Features</h1>
  <span class="spacer"></span>
  <mat-form-field floatLabel="never" class="search-container" id="form-color">
    <input
      name="query"
      matInput
      [formControl]="queryControl"
      i18n-placeholder
      placeholder="Find Features"
      autocomplete="off"
      accesskey="f"
    />
    <mat-icon *ngIf="!queryControl.value" matSuffix>find_in_page</mat-icon>
    <button *ngIf="queryControl.value" matSuffix mat-icon-button (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    matTooltip="Tour Guide"
    mat-icon-button
    class="tourGuideBtn ml-4"
    *ngIf="isXSmall && isTourGuideAvailable"
    (click)="startTour()"
  >
    <mat-icon>contact_support</mat-icon>
  </button>
</mat-toolbar>

<!-- <section class="padding-m" *ngFor="let group of featureGroups"> -->
<section
  class="padding-m mat-drawer-container mat-drawer-container-has-open mat-drawer-transition"
  *ngFor="let group of rolesBasedFeatureGroups"
>
  <div
    [ngClass]="{ pad: group?.stripBackground }"
    [ngStyle]="{ 'background-color': group?.stripBackground }"
  >
    <ng-container *ngIf="group.name !== 'Contribution'">
      <h2 class="feature-group-heading">
        <span>{{ group.name }}</span>
      </h2>
    </ng-container>
  <ng-container *ngIf="group.name === 'Contribution'">
    <h2 class="feature-group-heading" *ngIf="allowedToAuthor" >
      <span>{{ group.name }}</span>
    </h2>
    </ng-container>
    <div class="flex flex-wrap">
      <ng-container  *ngFor="let featureWidget of group.featureWidgets">
        <!-- {{featureWidget.widgetData.actionBtn.id | json}} -->
      <ng-container *ngIf="featureWidget.widgetData.actionBtn.id !== 'feature_create'
      && featureWidget.widgetData.actionBtn.id !== 'feature_publish' ">
      <ng-container [wsResolverWidget]="featureWidget">
      </ng-container>
      </ng-container>
      <!-- <ng-container *ngIf="featureWidget.widgetData.actionBtn.id === 'feature_feedback'">
        <ng-container [wsResolverWidget]="featureWidget" *ngIf="allowedToFeedback">
        </ng-container>
      </ng-container> -->
      <ng-container *ngIf="featureWidget.widgetData.actionBtn.id === 'feature_create'">
        <ng-container [wsResolverWidget]="featureWidget" *ngIf="allowedToAuthor">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="featureWidget.widgetData.actionBtn.id === 'feature_publish'">
        <ng-container [wsResolverWidget]="featureWidget" *ngIf="allowedToAuthor">
        </ng-container>
      </ng-container>
      </ng-container>
    </div>
  </div>
</section>
<section
  *ngIf="featureGroups !== null"
  [hidden]="featureGroups?.length"
  class="mat-card warn-card mat-drawer-container mat-drawer-container-has-open mat-drawer-transition"
>
  <mat-icon class="warn-icon" color="warn">warning</mat-icon>
  <span i18n>No features matches your query</span>
</section>

<div
  class="flex flex-wrapped mat-drawer-container mat-drawer-container-has-open mat-drawer-transition"
>
  <!-- <div class="flex items-center mr-4">
    <mat-icon class="mr-2" color="primary">
      brightness_1
    </mat-icon>
    <span>Early Access</span>
  </div>
  <div class="flex items-center mr-4">
    <mat-icon class="mr-2" color="accent">
      brightness_1
    </mat-icon>
    <span>Beta</span>
  </div>
  <div class="flex items-center">
    <mat-icon class="mr-2" color="warn">
      brightness_1
    </mat-icon>
    <span>Alpha</span>
  </div> -->
  <span class="spacer"></span>
  <div class="logout">
    <button (click)="logout()" color="warn" mat-button>
      <mat-icon>power_settings_new</mat-icon>&nbsp;
      <span i18n>Logout</span>
    </button>
  </div>
</div>
