@import 'ws-mixins';

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -15px;
  // margin-left: -15px;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.container {
  max-width: 100%;
  justify-content: center;
  margin: 0;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  user-select: none;
}

.owl-carousel .owl-item {
  min-height: 1px;
  // float: left;
}

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: 87vh;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.slide-details {
  padding: 0;
  color: #333;
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 15px;
  /* text-shadow: 1px 1px 1px #000; */
  width: 160%;
}

@media (max-width: 767.98px) {
  .slide-details {
    font-size: 12px !important;
    transform: translate(-50%, 32%) !important;
  }
}

@media only screen and (min-width: 768px) {
  .slide-details {
    transform: translate(-12%, 30%);
  }
}

@media only screen and (min-width: 768px) {
  .slide-details {
    font-size: 22px;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: auto;
    padding: 20px 30px;
  }
}

@media (max-width: 971px) and (min-width: 768px) {
  .slide-details {
    position: absolute;
    left: 40%;
  }
}

@media screen and (max-width: 600px) {
  .slide-details {
    font-size: 12px !important;
    transform: translate(-50%, 32%) !important;
  }
}

@media screen and (max-width: 480px) {
  .slide-details {
    font-size: 12px !important;
    transform: translate(-50%, 32%) !important;
  }
}

// .text-white {
//   color: #fff !important;
// }
.text-center {
  text-align: center;
}

.text {
  width: 85rem;
  margin: auto;
  display: block;
  font-size: 40px;
  color: white;
  font-family: 'MontserratRegular_2';
  font-weight: 400;
}

.text-size {
  font-size: 70px;
}

p {
  /* margin: 0 0 1.53em; */
  line-height: 1.7em;
  color: #865ba0;
}

@media (max-width: 971px) and (min-width: 768px) {
  .text {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .text {
    display: none !important;
  }
}

@media (max-width: 962px) {
  .display-image {
    display: none;
  }

  .display-text {
    text-align: center;
    padding-top: 10rem;
  }

  .h1-style {
    font-weight: 600;
  }
}

@media (min-width: 963px) {
  .display-text {
    display: none;
  }
}

@media (min-width: 765px) and (max-width: 770px) {
  .display-text {
    padding-top: 16rem;
  }

  .h1-style {
    font-size: 30px;
    font-weight: 600;
  }

  .p-style {
    font-size: 24px;
  }
}
