<div class="container display-image">
  <div class="row">
    <div id="owl-demo" class="owl-carousel slideshow-carousel owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="transition: all 0s ease 0s;">
          <div class="owl-item cloned">
            <div class="item">
              <div class="full-image">
                <img [src]="appBanner" alt="The Last of us" />
              </div>
              <div class="slide-details text-center text-white">
                <div class="container-1">
                  <p class="text">
                    <span class="text-size">Knowledge Center </span>
                    <br/>
                    Prepare yourself to be <br/>
                    #FutureReady
                  </p>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="display-text container-fluid">
  <h1 class="h1-style">Welcome To NIIT</h1>
  <!-- <p class="p-style">
    A place to search, discover and share assets including <br />
    concepts, methods, processes, software, hardware and data.
  </p> -->
</div>