<div class="container">
  <div class="row">
    <div class="col-xl">
      <div class="owl-item">
        <div class="item">
          <img [src]="appBanner" alt="space" class="imgResponsive">
          <div class="slide-details text-center text-white">
            <div class="container-1">
              <!-- <p class="fax"> Welcome to Societal Platform Assets Collaboration Environment</p> -->
              <pre class="text">
                 A place to search, discover and share assets including
              concepts, methods, processes, software, hardware and data.</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
