@import 'ws-mixins';
.allignment{
padding: 8px 20px;
line-height: 1.7;

}
#cimage {
  background-size: cover;
  background-position: center;
  width: 100%;
  // height: 22rem;
}
.imgsize {
  height: 22rem;
  overflow-y: hidden;
  margin-top: -3rem;
  @include breakpoint-xs {
    height: auto !important;
    margin-top: 0em !important;
  }
}

.font-style{
  font-family: Montserrat, sans-serif !important;
  font-size: 17px;
}
.font-text{


  font-family: campaign, sans-serif !important;
  font-size: 17px;

}