<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-xs text-truncate">
    <span i18n="page title: licencepolicy" class="margin-left-xs">Licence Policy </span>
  </span>
</mat-toolbar> -->
<section class="mat-drawer-container mat-drawer-container-has-open mat-drawer-transition flex  mr-10 pt-16">
  <!-- <div class="imgsize">
    <img [src]="licensePolicy" id="cimage" />
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div> -->
  <div class="allignment">
    <h1 class="header heading-style pb-10">License Policy</h1>
    <div class="img-container">
      <img [src]="licensePolicy" id="cimage" />
    </div>
    <!-- <p class="p1"><span class="s1"><
    <p class="p1"><span class="s1 font-style"><strong>License Policy</strong></span></p> -->
    <p class="p2">&nbsp;</p>
    <div class="pl-10">
      <p class="p3 font-style font-style">
        <span class="s1 font-style">The EkStep<span class="Apple-converted-space font-style">&nbsp; </span>Foundation
          (the
          &ldquo;<strong class="font-text">Foundation</strong>&rdquo;) believes that open Contenti.e.
          Content that is available free and for public use provides immense opportunities for
          improving access to scarce resources to create solutions and programs for various societal
          challenges. Open Content can be reused within the terms of the license and modified within
          the terms of the license permitted.</span><span class="s2 font-style">
          Source material is given appropriate credit and attribution, in accordance with the terms of
          its license. Accordingly, the Foundation follows the principles of open Content shared as
          public goods on its SPace Platform.</span>
      </p><br />
      <p class="p4 font-style">
        <span class="s1 font-style">Defined terms that are not defined here shall have the meaning ascribed to them
          <br />
          in the Terms of Use.</span>
      </p><br />
      <p class="p4 font-style">
        <span class="s1 font-style"><strong class="font-text">What are the license options?</strong></span>
      </p>
      <p class="p4 font-style">
        <span class="s1 font-style">Content on SPace can be in the form of a resource (such as knowledge, protocol,
          technology,
          connection, data), an asset (i.e. collection of one or more resources), a course (i.e.
          collection of one or more assets and/or resources). The detailed definition of Content is
          available in the
          <a href="/public/termsofuse" class="font-style" target="_blank"><span class="s3 font-text"><strong
                class="colortheme">Terms of Use</strong></span></a>.</span>
      </p><br />
      <p class="p4">
        <span class="s1 font-style"><strong class="font-text">License for resources:</strong></span>
      </p>
      <p class="p4">
        <span class="s1 font-style">The licenses applicable for different types of resources are as follows:</span>
      </p>
      <ol class="ol1 spaceallign">
        <li class="li3 font-style">
          <span class="s1 font-text"><strong>Knowledge resource OR Protocol resource</strong></span>
        </li><br />
        <!-- </ol> -->
        <p class="p3 font-style">
          <span class="s1 font-style">Content which is classified as a knowledge or protocol resource on the SPace
            Platform
            should preferably to be licensed under the
            <a href="https://creativecommons.org/licenses/" class="font-text" target="_blank"><span
                class="s4 font-style">Creative Commons</span></a>
            license framework -
            <a target="_blank" href="https://creativecommons.org/share-your-work/public-domain/cc0/"
              class="font-text"><span class="s4 font-style">CC0</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/" class="font-text"><span
                class="s4 font-style">CC BY (4.0)</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/" class="font-text"><span
                class="s4 font-style">CC BY-SA (4.0)</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/" class="font-text"><span
                class="s4 font-style">CC BY-NC (4.0)</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by-nd/4.0/" class="font-text"><span
                class="s4 font-style">CC BY-ND (4.0)</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="font-text"><span
                class="s4 font-style">CC BY-NC-SA (4.0)</span></a>,
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="font-text"><span
                class="s4 font-style">CC BY-NC-ND (4.0)</span></a>. Creative Commons licenses allow the creators to
            retain copyright (except CC0) while
            allowing others to copy, distribute and make some use of the work under conditions
            specified for each license type, including attribution. Anyone can use a knowledge or
            protocol resource<span class="Apple-converted-space font-style">&nbsp; </span>available on
            the SPace Platform for their work so long as they are adhering to the requirements of the
            Creative Commons license as chosen by the Creator.</span>
        </p><br />
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Technology resource</strong></span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">
          <span class="s1 font-style">All technology resource should preferably be is licensed under either of the
            license
            options below:</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li6">
            <span class="s1 font-style"><strong class="font-text">MIT License <span
                  class="Apple-converted-space font-style">&nbsp;</span></strong></span>
          </li>
        </ul><br />
        <p class="p7">
          <span class="s1 font-style">A technology resource can be licensed under
            <a href="http://opensource.org/licenses/MIT" target="_blank" class="font-style"><span
                class="s4 font-style">MIT license</span></a>
            which is a permissive-free software license originating at the Massachusetts Institute of
            Technology.</span>
        </p><br />
        <!-- <p class="p9">&nbsp;</p> -->
        <ul class="ul1 font-style spaceallignment">
          <li class="li6">
            <span class="s1 font-style"><strong class="font-text">Apache License<span
                  class="Apple-converted-space font-style">&nbsp;</span></strong></span>
          </li>
        </ul><br />
        <p class="p7">
          <span class="s1 font-style">A technology resource can also be licensed under the
            <a href="https://www.apache.org/licenses/" target="_blank" class="font-style"><span
                class="s3 font-style">Apache license</span></a>
            which </span><span class="s2 font-style">is a permissive-free software license written by the Apache
            Software Foundation.</span>
        </p><br />
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Data resource</strong></span>
        </li><br />
        <!-- </ol> -->
        <p class="p3 font-style">
          <span class="s1 font-style">All data resources should preferably be licensed under either of the license
            options
            below:<span class="Apple-converted-space font-style">&nbsp;</span></span>
        </p>
        <ul class="ul1 font-style spaceallignment">
          <li class="li11">
            <span class="s1 font-style"><strong class="font-text">Public Domain</strong></span>
          </li>
        </ul><br />
        <p class="p12 font-style">
          <span class="s3 font-style"><a target="_blank"
              href="https://creativecommons.org/share-your-work/licensing-types-examples/public-domain/pdm/"
              class="font-style">Public Domain Mark:</a></span><span class="s1 font-style">This isn&rsquo;t
            technically a license since the dataset owner relinquishes all the
            rights on the dataset by choosing to dedicate the dataset to the public domain.</span><span
            class="s5">&nbsp;</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC0</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"
              class="font-style">Creative Commons Public Domain Dedication:</a></span><span class="s1 font-style">This
            license is one of the open Creative Commons licenses and is like a public domain
            dedication. It allows the dataset owner to use a license mechanism to surrender the rights
            on the dataset.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">PDDL</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="http://opendatacommons.org/licenses/pddl/">Open Data
              Commons Public Domain Dedication and License:</a></span><span class="s1 font-style">This license is one
            of the open Creative Commons licenses and is like a public domain
            dedication. It allows the dataset owner to use a license mechanism to surrender the rights
            on the dataset.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">Creative
              Commons Attribution 4.0 International:</a></span><span class="s1 font-style">This license is one of the
            open Creative Commons licenses and allows users to share and
            adapt the dataset so long as they give credit to the dataset owner.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CDLA-Permissive-1.0</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://cdla.io/permissive-1-0/"
              class="font-style">Community Data License Agreement &ndash; Permissive, Version 1.0:</a></span><span
            class="s1 font-style">This license is one of the Community Data License Agreement licenses and is similar
            to
            permissive open source licenses. It allows users to use, modify and adapt the dataset and
            the data within it, and to share it so long as they give credit to the dataset owner. The
            CDLA-Permissive terms explicitly do not impose any obligations or restrictions on results
            obtained from users&rsquo; computational use of the data.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">ODC-BY</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="http://opendatacommons.org/licenses/by/"
              class="font-style">Open Data Commons Attribution License:</a></span><span class="s1 font-style">This
            license is one of the Open Data Commons licenses and allows users to share and adapt
            the dataset so long as they give credit to the dataset owner.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY-SA (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/"
              class="font-style">Creative Commons Attribution-ShareAlike 4.0 International:</a></span><span
            class="s1 font-style">This license is one of the open Creative Commons licenses and allows users to share
            and
            adapt the dataset so long as they give credit to the dataset owner and distribute any
            additions, transformations or changes to the dataset under this license.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CDLA-Sharing-1.0</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://cdla.io/sharing-1-0/"
              class="font-style">Community Data License Agreement &ndash; Sharing, Version 1.0:</a></span><span
            class="s1 font-style">This license is one of the Community Data License Agreement licenses and was
            designed to
            embody the principles of "copyleft" in a data license. It allows users to use, modify and
            adapt the dataset and the data within it, and to share the dataset and data with their
            changes so long as they do so under the CDLA-Sharing and give credit to the dataset owner.
            The CDLA-Sharing terms explicitly do not impose any obligations or restrictions on results
            obtained from users&rsquo; computational use of the data.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">ODC-ODbL</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="http://opendatacommons.org/licenses/odbl/"
              class="font-style">Open Data Commons Open Database License:</a></span><span class="s1 font-style">This
            license is one of the Open Data Commons licenses and allows users to share and adapt
            the dataset so long as they give credit to the dataset owner and distribute any additions,
            transformation or changes to the dataset under this license.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY-NC (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/"
              class="font-style">Creative Commons Attribution-NonCommercial 4.0 International:</a></span><span
            class="s1 font-style">This license is one of the more restrictive Creative Commons licenses. It allows
            users to
            share and adapt the dataset if they give credit to the dataset owner and do not use the
            dataset for any commercial purposes.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY-ND (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by-nd/4.0/"
              class="font-style">Creative Commons Attribution-NoDerivatives 4.0 International:</a></span><span
            class="s1 font-style">This license is one of the more restrictive Creative Commons licenses. It allows
            users to
            share the dataset if they give credit to the dataset owner, but they cannot make any
            additions, transformations or changes to the dataset under this license.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY-NC-SA (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
              class="font-style">Creative Commons Attribution-NonCommercial-ShareAlike 4.0
              International:</a></span><span class="s1 font-style">This license is one of the most restrictive
            Creative Commons licenses. It allows users to
            share the dataset only if they (1) give credit to the dataset owner, (2) do not use the
            dataset for any commercial purposes, and (3) distribute any additions, transformations or
            changes to the dataset under this license.</span>
        </p><br />
        <ul class="ul1 font-style spaceallignment">
          <li class="li3 font-style">
            <span class="s1 font-style"><strong class="font-text">CC BY-NC-ND (4.0)</strong></span>
          </li>
        </ul><br />
        <p class="p3 font-style">
          <span class="s3 font-style"><a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
              class="font-style">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0
              International:</a></span><span class="s1 font-style">This license is one of the most restrictive
            Creative Commons licenses. Users can share
            only the unmodified dataset if they give credit to the dataset owner and do not share it
            for commercial purposes. Users cannot make any additions, transformations or changes to
            the dataset under this license.</span>
        </p><br />
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Connection resource</strong></span>
        </li>
      </ol>
      <p class="p6 font-style">
        <span class="s1 font-style">Content appearing as a connection resource on the SPace Platform doesn&rsquo;t
          require any
          license. However, before a connection resource is published on the SPace Platform,
          appropriate consent in writing must be taken from the person or entity whose information is
          being shared as a connection resource.</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p6 font-style">
        <span class="s1 font-style"><strong class="font-text">License for asset and course:</strong></span>
      </p>
      <p class="p6 font-style">
        <span class="s1 font-style">All Content appearing as an asset or a course on the SPace Platform is licensed
          under
          <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="font-style"><span
              class="s4 font-style">Creative Commons, CC BY ND 4.0 International License</span></a>. However, each
          resource appearing inside an asset or a course is bound by the terms and
          conditions of their<span class="Apple-converted-space font-style">&nbsp; </span>respective
          licenses, as applicable.</span>
      </p>
    </div>
  </div>
  <!-- </div> -->
</section>