<div class="mat-toolbar footer-container px-2 sm:px-10 py-1 sm:py-4"
  [ngClass]="{'mat-primary': !isXSmall, 'mat-primarylight': isXSmall}">
  <div class="mat-body">
    <ng-container i18n>
      Powered by Infosys Wingspan
    </ng-container>
  </div>
  <div class="mat-body">
    <span i18n>&copy; Infosys Ltd. 2019-2020.</span> |
    <a routerLink="/app/tnc" *ngIf="!termsOfUser" name="termOfUseButtonHomePage" i18n>Terms & Conditions</a>
    <a routerLink="/app/tnc" *ngIf="termsOfUser" name="termOfUseButtonHomePage" i18n>Terms of Use</a> |
    <a routerLink="/app/info/faq" name="helpAndContactButtonHomePage" i18n>Help & Contact</a>
  </div>
</div>