@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: justify;

  @include breakpoint-xs {
    flex-direction: column;
    min-height: 80px;
  }
}

.font-12 {
  font-size: 12px !important;
}

#display-item {
  // background-color: #c6bcb8 !important;
  background-color: black !important;
  color: white !important;
}

#display-responsive {
  background-color: #c6bcb8 ;
}

@media (max-width: 971px) and (min-width: 312px) {
  #display-item {
    display: none;
  }

  #display-responsive {
    text-align: center;
    font-size: unset !important;
  }
}

@media (min-width: 972px) {
  #display-responsive {
    display: none;
    justify-content: center;
  }
}


// ::ng-deep{

// // for night mode
// .theme-orange.night-mode .banner-clr{
// background: #ffe0b2 !important;
// color: black;
// }
// .theme-muave.night-mode .banner-clr{
//   background: #c6bcb8 !important;
//   color: black;

// }
// .theme-lite-blue.night-mode .banner-clr{
// background: #b3e5fc !important;
// color: black;
// }

// .theme-blue.night-mode .banner-clr{
// background: #d2dde8 !important;
// color: black;
// }
// .theme-grey.night-mode .banner-clr{
// background: #a6a6a6 !important;
// color: black;
// }
// .theme-deep-purple.night-mode .banner-clr{
// background: #d1c4e9!important;
// color: black;
// }
// .theme-indigo.night-mode .banner-clr{
// background: #e8eaf6 !important;
// color: black;
// }
// .theme-teal.night-mode .banner-clr{
// background: #e0f2f1!important;
// color: black;
// }
// // for day mode

// .theme-orange.day-mode .banner-clr{
// background: #ffe0b2 !important;
// color: black;
// }
// .theme-muave.day-mode .banner-clr{
//   background: #c6bcb8 !important;
//   color: black;

// }
// .theme-lite-blue.day-mode .banner-clr{
// background: #b3e5fc !important;
// color: black;
// }

// .theme-blue.day-mode .banner-clr{
// background: #d2dde8 !important;
// color: black;
// }
// .theme-grey.day-mode .banner-clr{
// background: #a6a6a6 !important;
// color: black;
// }
// .theme-deep-purple.day-mode .banner-clr{
// background: #d1c4e9!important;
// color: black;
// }
// .theme-indigo.day-mode .banner-clr{
// background: #e8eaf6 !important;
// color: black;
// }
// .theme-teal.day-mode .banner-clr{
// background: #e0f2f1!important;
// color: black;
// }

// }


a{
  color: white !important;
}