@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  @include breakpoint-xs {
    flex-direction: column;
    min-height: 80px;
  }
}

.font-12 {
  font-size: 12px !important;
}
