@import 'ws-mixins';

#appWhiteNavbar {
  background-color: white;
  color: black;
}
.tourGuideBtn {
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.tourGuideBtn:hover {
  background: rgba(0, 0, 0, 0.04);
}

.tourGuideBtn mat-icon {
  width: 28%;
}

.logo-dim {
  min-width: 70px;
}
.app-logo {
  min-width: 8rem;
  // margin-top: -1.1rem;
  padding: 8px 0 0 8px;
}
@media only screen and (min-width: 357px) and (max-width: 599px) {
  .app-logo {
    width: 6rem !important;
    margin-top: -0.1rem !important;
    min-width: auto !important;
  }
}
@media only screen and (min-width: 599px) and (max-width: 617px) {
  .app-logo {
    width: 7rem !important;
    margin-top: auto !important;
    padding: 4px 0px 0px 8px;
    min-width: auto !important;
  }
}
@media only screen and (min-width: 312px) and (max-width: 356px) {
  .app-logo {
    // width: 5rem !important;
    margin-top: 1.5rem !important;
    min-width: auto !important;
  }
  .logosize {
    height: 5rem !important;
  }
}
@media only screen and (min-width: 599px) and (max-width: 692px) {
  .app-logo {
    width: 7rem !important;
    margin-top: -0.4rem !important;
    min-width: auto !important;
  }
  .logosize {
    overflow-y: visible !important;
  }
}
@media only screen and (min-width: 693px) and (max-width: 795px) {
  .app-logo {
    width: 6rem !important;
    margin-top: 4.5px !important;
    min-width: auto !important;
  }
  .logosize {
    overflow-y: visible !important;
  }
}
// @media only screen and (min-width: 795px) and (max-width: 1024px) {
//   .app-logo {
//     width: 9rem !important;
//     margin-top: -0.3rem !important;
//     min-width: auto !important;
//   }
// }
@media (min-width: 1025px) {
  .app-logo {
    min-width: auto !important;
    // width: 9rem !important;
    // margin-top: -0.5rem !important;
  }
}
.logosize {
  overflow-y: hidden;
  // height: 3rem;
}
.title {
  font-size: 12px !important;
  line-height: 26px !important;
  font-weight: 300 !important;
}

.search-card-view {
  position: absolute;
  width: 280px;
  z-index: 992;
  top: 10px;
  right: 50px;
  padding: 10px 0px 0px 0px;

  @include breakpoint-l {
    top: 20px;
    left: 980px;
  }

  @include breakpoint-m {
    top: 20px;
    left: 980px;
  }

  @include breakpoint-xs {
    top: 0px;
    right: 50px;
  }

  @include breakpoint-s {
    top: 20px;
    left: 450px;
  }
}

@import 'ws-vars';

.menu-section {
  padding: 8px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.btn-feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  margin: 0.25em;
  width: 4em;

  .btn-feature-icon {
    font-size: 2em;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
  }

  .btn-feature-name {
    text-align: center;
    margin-top: 0.15em;
  }
}

.margin-bottom-xs {
  margin-bottom: $size-xs;
}

.pipe-icon {
  width: $size-l;
  transform: scaleY(2);
}
