<div class="header flex-header">
  <mat-toolbar class="mat-primary" [color]="navBackground?.color" [ngStyle]="navBackground?.styles">
    <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
    <span class="margin-left-s text-color" i18n>Explore Guides</span>
    <div class="column-2">
      <div id="blogsearchbar"
        class="flex items-center border search border-solid search-border text-white justify-search">
        <div class="w-full search">
          <mat-form-field appearance="none" class="autocomplete-form " color="primary" style="width: 100%;"
            [floatLabel]="'never'">
            <input type="search"
              class="border-2 border-gray-300 align-input bg-white pr-16 rounded-lg text-sm text-white focus:outline-none placeholderallign"
              i18n-placeholder="search content" [placeholder]="placeHolder" matInput [(ngModel)]="searchText" />

          </mat-form-field>
        </div>
        <div class="flex items-center justify-center w-8 sm:w-16 cursor-pointer">
          <mat-icon class="text-white">search</mat-icon>
        </div>
      </div>
    </div>

  </mat-toolbar>
</div>

<!-- **************************************************************** -->

<!-- <ng-container *ngFor="let registeredUser of users">
  <div class="container w-9/12">
    <div class="top w-full">
      <div class="image-container">
        <img src="/Users/tanyachauhan/Documents/img_avatar.jpeg" alt="Avatar" class="avatar">
        <div class="body text-center md:text-left">
          <h2>{{registeredUser.username}}</h2>
          <div class="text-gray-60">{{registeredUser.residence_city}}</div>
          <div class="text-purple-500">{{registeredUser.employmentStatus}}</div>
          <div class="text-gray-600">{{registeredUser.department_name}}</div>

        </div>
      </div>
    </div>
    <div class="bottom w-full">
      <button (click)="viewUserDetails(registeredUser)">View Details</button>
    </div>
  </div>
</ng-container> -->


<!-- ****************************************************************************** -->
<!-- <div class="container"> -->
<!-- <div class="example-header">
    <mat-form-field>
       <button mat-button matPrefix mat-icon-button> -->

<!-- </button> -->
<!-- <input matInput class="width-input" (keyup)="applyFilter($event.target.value)"
        placeholder="Search by location or status" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>  -->
<!-- <mat-toolbar class="search-clr"> -->
<!-- this is the correct code for search -->
<!-- <mat-form-field class="search-clr" style="width: 100%" floatLabel='never'>
    <input matInput [(ngModel)]="searchText" placeholder="Search" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->

<!-- <div class="flex items-center border search border-solid search-border" style="width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border-radius: 50px;
    max-height: 50px;">

  <div class="w-full search searchallign">

    <mat-form-field class="autocomplete-form" color="primary" style="width:100%;;" [floatLabel]="'never'">
      <input class="border-2 border-gray-300 bg-white pr-16 rounded-lg text-sm focus:outline-none"
        i18n-placeholder="search content" [placeholder]="placeHolder" style="width:90%;margin-left: 10%;" matInput
        [(ngModel)]="searchText" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div> -->


<!-- <div class="column-2">
  <div id="blogsearchbar" class="flex items-center border search border-solid search-border text-white justify-search">
    <div class="w-full search">
      <mat-form-field class="autocomplete-form " color="primary" style="width: 100%;" [floatLabel]="'never'">
        <input type="search"
          class="border-2 border-gray-300 align-input bg-white pr-16 rounded-lg text-sm text-white focus:outline-none"
          i18n-placeholder="search content" [placeholder]="placeHolder" matInput [(ngModel)]="searchText" />

      </mat-form-field>
    </div>
    <div class="flex items-center justify-center w-8 sm:w-16 cursor-pointer">
      <mat-icon class="text-white">search</mat-icon>
    </div>
  </div>
</div> -->
<!-- <a [routerLink]="['/app/social/socialSearch/view-search']" [queryParams]="{search:queryEntered}">
    <div class="flex items-center justify-center w-8 sm:w-16 cursor-pointer">
      <mat-icon>search</mat-icon>
    </div>
  </a> -->
<!-- </div> -->
<!-- ************************* -->
<!-- <ws-user-filter></ws-user-filter> -->
<div class="allignment">
  <div class="alligncontainer">

    <div class="formallign leftclass" style="margin-right: 2%;">
      <mat-form-field>
        <mat-icon matPrefix>filter_list</mat-icon>
        <mat-label>Filter Location</mat-label>
        <mat-select  [(ngModel)]="searchText">
          <!-- <mat-option *ngFor="let registeredUser of users" [value]="registeredUser.residence_city">
        {{registeredUser.residence_city}}

      </mat-option>
      <mat-option *ngFor="let registeredUser of  users" [value]="registeredUser.employmentStatus">
        {{registeredUser.employmentStatus}}
      </mat-option> -->

          <mat-option *ngFor="let registeredUser of myarrayLocation" [value]="registeredUser">
            {{registeredUser}}

          </mat-option>
          <!-- <mat-option *ngFor="let registeredUser of  myarrayStatus" [value]="registeredUser">
        {{registeredUser}}
      </mat-option> -->

          <!-- <mat-option *ngFor="let registeredUser of  filtercombo" [value]="registeredUser">
        {{registeredUser.location}} && {{registeredUser.status}}
      </mat-option> -->

        </mat-select>
        <!-- <mat-icon matPrefix>search</mat-icon> -->
      </mat-form-field>
      <!-- </mat-toolbar> -->
      <br>
      <!--********************Second Filter************************ -->

      <mat-form-field>
        <mat-icon matPrefix>filter_list</mat-icon>
        <mat-label>Filter Expertise</mat-label>
        <mat-select [(ngModel)]="searchText">


          <!-- <mat-option *ngFor="let registeredUser of myarrayLocation" [value]="registeredUser">
        {{registeredUser}}
      </mat-option> -->

          <mat-option *ngFor="let registeredUser of  myarrayStatus" [value]="registeredUser">
            {{registeredUser}}
          </mat-option>

        </mat-select>

      </mat-form-field>
    </div>

    <div class="container rightclass">
      <mat-card-content *ngIf="searchText=='All'" class="grid">
        <ng-container fxFlex="33.3%" *ngFor="let registeredUser of users">
          <!-- <ng-container *ngFor="let registeredUser of users"> -->
          <ws-user-card *ngIf="registeredUser?.visible" [registeredUser]="registeredUser" [stars]="[1,2,3,4,5]"
            (oStarClick)="oStarClick($event)" (oViewUserDetails)="viewUserDetails($event)"></ws-user-card>
        </ng-container>
      </mat-card-content>
      <mat-card-content class="grid">
        <ng-container fxFlex="33.3%" *ngFor="let registeredUser of users | filter : searchText">
          <!-- <ng-container *ngFor="let registeredUser of users"> -->
          <ws-user-card *ngIf="registeredUser?.visible" [registeredUser]="registeredUser" [stars]="[1,2,3,4,5]"
            (oStarClick)="oStarClick($event)" (oViewUserDetails)="viewUserDetails($event)"></ws-user-card>
        </ng-container>

      </mat-card-content>
    </div>
  </div>
</div>

<!-- *************************************************************************** -->

<!-- <div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card-header>

    <mat-card-content class="grid">


      <mat-card class="example-card-two" *ngFor="let registeredUser of users">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{registeredUser.username}}</mat-card-title>
          <mat-card-subtitle>{{registeredUser.department_name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="text-purple-500">{{registeredUser.employmentStatus}}</div>
          <div class="text-gray-60">{{registeredUser.residence_city}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="viewUserDetails(registeredUser)">View Details</button>

        </mat-card-actions>
      </mat-card>
    </mat-card-content>

  </mat-card>

</div>  -->