@import 'ws-mixins';
#publicWhiteNavBar {
  background-color: white;
}
.app-logo {
  // min-width: 8rem;
  // margin-top: -0.5rem;
  // padding: 8px 0 0 8px;
  width: 100%;
}
.btn-size {
  padding: 0px 6px 0px 6px;
}
@media only screen and (min-width: 360px) and (max-width: 599px) {
  .app-logo {
    width: 6rem !important;
    // margin-top: 0.5rem !important;
    min-width: auto !important;
  }
  .logosize {
    padding: 0px 0 0 8px !important;
    width: auto !important;
  }
}
@media only screen and (min-width: 250px) and (max-width: 311px) {
  .app-logo {
   min-width: auto !important;
    width: 3rem;
  }
  .logosize {
    padding: 0px 0px 0px 0px !important;
    width: auto !important;
    height: auto !important;
  }
}
@media only screen and (min-width: 599px) and (max-width: 629px) {
  .app-logo {
    width: 7rem !important;
    margin-top: auto !important;
    min-width: auto !important;
  }
  .logosize {
        padding: 4px 0px 0px 8px !important;
        width: auto !important;
  }
}
@media only screen and (min-width: 312px) and (max-width: 359px) {
  .app-logo {
    width: 5rem !important;
    // margin-top: 1.79rem !important;
    min-width: auto !important;

  }
  .logosize {
    // height: 5rem !important;
    padding: 0px 0 0 8px !important;
    overflow-y: visible !important;
    width: auto !important;
    height: auto !important;
  }
}
@media only screen and (min-width: 629px) and (max-width: 760px) {
.logosize {
    width: auto !important;
}
}
.logosize {
  overflow-y: hidden;
  // height: 3rem;
    padding: 8px 0 0 0 ;
    width: 295px;
    height: 35px;
}
.title-app {
  @include breakpoint-xs {
    visibility: hidden;
  }
}

.small-font-size {
  @include breakpoint-xs {
    font-size: 10px !important;
  }
}

.padding-remove-small {
  @include breakpoint-xs {
    padding: 0 !important;
  }
}
.mat-dialog-actions {
  // ...
  &[align='end'] {
    justify-content: flex-end;
  }
}
.padding-remove-small.color {
  background: #865ba0 !important;
  color: white !important;
}
.text-white {
  color: white !important;
}
mat-toolbar span {
  color: black;
}
