@import 'ws-mixins';
#publicWhiteNavBar {
  background-color: white;
}
.app-logo {
  min-width: 8rem;
  margin-top: -1.4rem;
  padding: 8px 0 0 8px;
}
@media only screen and (min-width: 357px) and (max-width: 599px) {
  .app-logo {
    width: 6rem !important;
    margin-top: -0.1rem !important;
    min-width: auto !important;
  }
}
@media only screen and (min-width: 312px) and (max-width: 356px) {
  .app-logo {
    width: 5rem !important;
    margin-top: 1rem !important;
    min-width: auto !important;
  }
  .logosize {
    height: 5rem !important;
  }
}
.logosize {
  overflow-y: hidden;
  height: 3rem;
}
.title-app {
  @include breakpoint-xs {
    visibility: hidden;
  }
}

.small-font-size {
  @include breakpoint-xs {
    font-size: smaller !important;
  }
}

.padding-remove-small {
  @include breakpoint-xs {
    padding: 0 !important;
  }
}
.mat-dialog-actions {
  // ...
  &[align='end'] {
    justify-content: flex-end;
  }
}
.padding-remove-small.color {
  background: #865ba0 !important;
  color: white !important;
}
