@import 'ws-vars';
@import 'ws-common';
// @import 'ws-includes';
/* about page design start */
.img {
  background-image: url(/assets/instances/space/banners/about.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 99%;
  // opacity: 0.9;
   @include breakpoint-xs {
       height: 10rem !important;
    width: 14rem !important;
    margin-left: -12rem;
    margin-top: 2rem;
   }
   @include breakpoint-s {
     height: 17rem !important;
   }
   @include breakpoint-xl {
    height: 30rem !important;
     width: 625px !important;
   }
   @include breakpoint-xll {
     width: 94% !important;
   }
}
.text-section {
   @include breakpoint-xs {
      padding-top: 6.3rem;
   }
}
.ellipse {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Ellipse21.png);
    background-size: 5rem;
    background-position: center;
    width: 19%;
    height: 5rem;
    float: right;
     @include breakpoint-xs {
       display: none;
     }
     @include breakpoint-s {
       width: 24% !important;
     }
}
.ellipse2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Ellipse16.png);
    background-size: 5rem;
    background-position: center;
    width: 19%;
    height: 5rem;
    float: right;
    margin-top: -7rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
       margin-top: -9rem;
    }
    @include breakpoint-m {
      margin-top: -9rem !important;
    }
}
.group {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group19.png);
    background-size: 3rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    float: right;
    margin-top: 1rem;
    margin-right: -3.5rem;
     @include breakpoint-xs {
       display: none;
     }
     @include breakpoint-s {
       margin-right: -2.5rem !important;
       width: 13% !important;
     }
}
.group2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group17.png);
    background-size: 4rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    margin-top: -7rem;
    margin-left: 51rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
      margin-left: 30rem !important;
    }
    @include breakpoint-m {
      margin-left: 40rem !important;
    }
}
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
width:240px;
height: 65px;
  @include breakpoint-xs {
    font-size: 38px !important;
    width: 12rem;
  }
}
  @media only screen and (max-width: 321px) {
    .header {
    font-size: 27px !important;
    width: 217px !important;
  }
}
.flex {
  justify-content: flex-start;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: auto;
}
.icon {
  background-image: url(/assets/instances/space/common/Vector@2x.png);
  background-size: 9rem;
  background-position: center;
  height: 10rem;
  width: 50%;
  position: absolute;
  background-repeat: no-repeat;
  padding-top: 22rem;
}
.abt-video {
opacity: 0.2;
}
.text-wrap {
 width: 33rem;
font-weight: normal;
font-size: 16px;
line-height: 24px;
word-break: break-word;
  @include breakpoint-xs {
    width: 16rem;
    padding-top: 4rem;
  }
  @include breakpoint-s {
    width: 19rem !important;;
  }
  @include breakpoint-m {
    width: 28rem !important;
  }
}
   @media only screen and (max-width: 320px) {
     .img {
      margin-left: -14rem !important;
     }
    .text-wrap {
    width: 12rem !important;
  }
}

@media screen and (min-width: 1399px) and (max-width: 1420px) {
  .img {
    width: 99% !important;
    height: 30rem !important;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1024px) {
  .img {
    // width: %;
    height: 24rem !important;
  }
}
@media screen and (min-width: 520px) and (max-width: 570px) {
  .img {
   padding-left: -4rem !important;
  }
  .text-wrap {
    width: 25rem !important;
  }
}
@media screen and (min-width: 635px) and (max-width: 670px) {
  .img {
    height: 15rem !important;
  }
  .text-wrap {
    width: 16rem !important;
  }
}
@media screen and (min-width: 1135px) and (max-width: 1150px) {
  .img {
    height: 25rem !important;
    width: 95% !important;
  }
}


/* about page design end */

// @import 'ws-vars';
// @import 'ws-common';
// @import 'ws-mixins';

// #cimage {
//   background-size: cover;
//   background-position: center;
//   width: 100%;
// }
// .imgsize {
//   height: 16rem;
//   background-image: url(/assets/instances/space/banners/AboutSPaceBanner.png);
//   background-size: cover;
//   background-position: center;
// }
// @media screen and (max-width: 820px) and (min-width: 312px) {
//   .imgsize {
//     background-position: right;
//   }
// }
// @media only screen and (max-width: 599px) {
//   .imgsize {
//     height: 11rem !important;
//     margin-top: 0 !important;
//   }
// }
// ::ng-deep {
//   .text {
//     font-size: 17px;
//     line-height: 2;
//     text-align: left;
//     font-weight: 400 !important;
//   }
// }
// .about-content {
//   @extend %height-mat-toolbar-sibling;
// }

// .banner-overview-container {
//   justify-content: space-between;
//   .overview-description {
//     @include breakpoint-xs {
//       width: 100%;
//       margin-right: 0px;
//     }
//   }
// }

// .overview-container {
//   margin: 24px;
//   @include breakpoint-xs {
//     margin: 16px;
//   }
// }

// .overview-intro {
//   width: 280px;
//   border: 1px solid;
//   margin-bottom: 8px;
//   box-sizing: border-box;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
//   position: relative;

//   .overview-intro-overlay {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     color: white;
//     width: 48px;
//     height: 48px;
//     font-size: 48px;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-radius: 50%;
//     padding: $size-xs;

//     &:active {
//       background-color: rgba(0, 0, 0, 0.7);
//     }
//   }
// }
// .about-info-footer {
//   @extend %about-info;
// }

// $description-line-count: 2;
// $description-height-size: 1.2em;
// .title-text {
//   position: relative;
//   overflow: hidden;
//   line-height: 1.2;
//   height: $description-line-count * $description-height-size;
// }

// .assessment-icon {
//   $image-size: 36px;
//   width: $image-size;
//   height: $image-size;
//   font-size: $image-size;
// }

// .description-application {
//   width: 44%;
//   padding: 16px;
//   @include breakpoint-xs {
//     width: 100%;
//     padding-bottom: 0px !important;
//     padding-top: 0px !important;
//   }
// }

// .learning-overview {
//   width: 48%;
//   box-sizing: border-box;

//   @include breakpoint-xs {
//     width: 100%;
//   }
// }

// .learning-world {
//   box-sizing: border-box;
//   @include breakpoint-xs {
//     width: 100%;
//   }
// }

// .video-container {
//   width: 30%;
//   box-sizing: border-box;
//   @include breakpoint-xs {
//     width: 100%;
//   }
// }

// .about-info {
//   @extend %about-info;
//   height: 228px;

//   @include breakpoint-s {
//     height: 300px;
//   }

//   @include breakpoint-xs {
//     height: 340px;
//   }
// }

// %about-info {
//   position: relative;
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   padding: 2 * $size-xl $size-xl;

//   color: #fff;

//   .header-synopsis {
//     box-sizing: border-box;

//     .header-title {
//       display: flex;
//       align-items: center;
//       display: block;
//     }
//     .header-meta {
//       margin-bottom: $size-xl;
//       line-height: 1.5;
//       overflow: hidden;
//     }
//   }

//   @include breakpoint-xs {
//     padding: $size-l $size-s;
//   }
// }

// .padd-right-gt-m {
//   @include breakpoint-gt-m {
//     padding-right: $size-m;
//   }
// }

// .about-overview-content {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .about-section-full {
//   padding: $size-xl;
//   font-size: initial;
// }

// .vertical-align-super {
//   vertical-align: super;
//   padding-left: $size-m;
//   font-weight: bold;
// }

// .container-margin {
//   margin: 24px;

//   @include breakpoint-xs {
//     margin: 8px;
//   }
// }

// .benefit-card {
//   width: 290px;
//   margin: 4px 20px 12px 4px;
//   box-sizing: border-box;
//   min-width: 320px;
//   padding: 8px;
//   min-height: 150px;
// }

// .insights-read-more {
//   text-align: right;
// }

// .about-intro-desc {
//   max-width: 600px;
// }

// .heading-bottom {
//   padding-bottom: $size-m;
// }
// #secondary-navbar {
//   background: #865ba0;
// }
