@import 'ws-vars';
@import 'ws-common';
// @import 'ws-includes';
/* about page design start */
.img {
  background-image: url(/assets/instances/space/banners/about.png);
  background-size: cover;
  background-position: center;
  height: 31rem;
  width: 100%;
  // opacity: 0.9;
   @include breakpoint-xs {
       height: 10rem !important;
    width: 14rem !important;
    margin-left: -12rem;
    margin-top: -2rem;
   }
   @include breakpoint-s {
     height: 17rem !important;
   }
   @include breakpoint-xl {
    height: 30rem !important;
    width: 625px !important;
   }
   @include breakpoint-xll {
     width: 100% !important;
    height: 32rem !important;
   }
}
.text-section {
   @include breakpoint-xs {
      padding-top: 6.3rem;
   }
}
.ellipse {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Ellipse21.png);
    background-size: 5rem;
    background-position: center;
    width: 19%;
    height: 5rem;
    float: right;
     @include breakpoint-xs {
       display: none;
     }
     @include breakpoint-s {
       width: 24% !important;
     }
}
.ellipse2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Ellipse16.png);
    background-size: 5rem;
    background-position: center;
    width: 19%;
    height: 5rem;
    float: right;
    margin-top: -7rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
       margin-top: -9rem;
    }
    @include breakpoint-m {
      margin-top: -9rem !important;
    }
}
.group {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group19.png);
    background-size: 3rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    float: right;
    margin-top: 1rem;
    margin-right: -3.5rem;
     @include breakpoint-xs {
       display: none;
     }
     @include breakpoint-s {
       margin-right: -2.5rem !important;
       width: 13% !important;
     }
}
.group2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group17.png);
    background-size: 4rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    margin-top: -7rem;
    margin-left: 51rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
      margin-left: 30rem !important;
    }
    @include breakpoint-m {
      margin-left: 40rem !important;
    }
}
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
width:240px;
height: 65px;
  @include breakpoint-xs {
    font-size: 38px !important;
    width: 12rem;
  }
}
  @media only screen and (max-width: 321px) {
    .header {
    font-size: 27px !important;
    width: 217px !important;
  }
}
.flex {
  justify-content: flex-start;
}
.col-1 {
  flex: 1;
  max-width: 39rem;
}
.col-2 {
  flex: auto;
  margin-top: 10.5rem !important;
}
.icon {
  background-image: url(/assets/instances/space/common/Vector@2x.png);
  background-size: 9rem;
  background-position: center;
  height: 10rem;
  width: 50%;
  position: absolute;
  background-repeat: no-repeat;
  padding-top: 22rem;
}
.abt-video {
opacity: 0.2;
}
.text-wrap {
 width: 32rem;
font-weight: normal;
font-size: 16px;
line-height: 24px;
word-break: break-word;
  @include breakpoint-xs {
    width: 16rem;
    padding-top: 4rem;
  }
  @include breakpoint-s {
    width: 19rem !important;;
  }
  @include breakpoint-m {
    width: 28rem !important;
  }
}
   @media only screen and (max-width: 320px) {
     .img {
      margin-left: -14rem !important;
     }
    .text-wrap {
    width: 12rem !important;
  }
}

@media screen and (min-width: 1399px) and (max-width: 1420px) {
  .img {
    width: 99% !important;
    height: 30rem !important;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1024px) {
  .img {
    // width: %;
    height: 24rem !important;
  }
}
@media screen and (min-width: 520px) and (max-width: 570px) {
  .img {
   padding-left: -4rem !important;
  }
  .text-wrap {
    width: 25rem !important;
  }
}
@media screen and (min-width: 635px) and (max-width: 670px) {

  .img {
    height: 15rem !important;
  }
  .text-wrap {
    width: 16rem !important;
  }
}

.mt-20 {
    margin-top: 10rem;
}
@media screen and (min-width: 1135px) and (max-width: 1150px) {
  .img {
    height: 25rem !important;
    width: 87% !important;
  }
}
