.container {
  // min-height: 400px;
  // margin: auto;
  // border: 1px yellow solid;
  background-color: white;
  margin-top: 20px;
  display: flex;
  // margin-left: 60px;
  max-width:780px;
  align-items: center;
  justify-content: space-between;
  height: 150px;

.allignimage{
  align-items: center;
  justify-content: center;

}

.example-header-image{
 background-image: url('https://images.unsplash.com/photo-1470114716159-e389f8712fda?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
}


}
.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;
// border: 2px purple solid;
    /* display: block; */
    // position: relative;
    /* padding: 16px; */
    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 900px;
}
.mat-card-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // border: 2px green solid;
}
.btn-clr{
      width: 150px;
    height: 30px;
    margin-left:300px;
    margin-top: 13px;

}
.qrcontainer{
  width:150px;
    width: 150px;
    margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 180%;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.profile{
  width:150px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 130px;
    margin-bottom: 50%;

  }
}
.allignphoto{
  // border: 2px green solid;
}
::ng-deep{
//day mode
.theme-teal.day-mode .btn-clr,.theme-teal.day-mode .addbtnallign{
  background-color: #005F87 !important;
  color: white !important;

}
.theme-orange.day-mode .btn-clr,.theme-orange.day-mode .addbtnallign{
background: #FF9800 !important;
color: white !important;
}
.theme-muave.day-mode .btn-clr,.theme-muave.day-mode .addbtnallign{
  background: #865BA0 !important;
  color: white !important;

}
.theme-lite-blue.day-mode .btn-clr,.theme-lite-blue.day-mode .addbtnallign{
background: #b3e5fc !important;
color: white !important;
}

.theme-blue.day-mode .btn-clr,.theme-blue.day-mode .addbtnallign{
background: #0072CE !important;
color: white !important;
}
.theme-grey.day-mode .btn-clr,.theme-grey.day-mode .addbtnallign{
background: #C6C6C6 !important;
color: white !important;
}
.theme-deep-purple.day-mode .btn-clr,.theme-deep-purple.day-mode .addbtnallign{
background: #673AB7!important;
color: white !important;
}
.theme-indigo.day-mode .btn-clr,.theme-indigo.day-mode .addbtnallign{
background: #3F51B5 !important;
color: white !important;
}

 //night mode

 .theme-teal.night-mode .btn-clr,.theme-teal.night-mode .addbtnallign{
  background-color: #005F87 !important;
  color: white !important;

}
.theme-orange.night-mode .btn-clr,.theme-orange.night-mode .addbtnallign{
background: #FF9800 !important;
color: white !important;
}
.theme-muave.night-mode .btn-clr,.theme-muave.night-mode .addbtnallign{
  background: #865BA0 !important;
  color: white !important;

}
.theme-lite-blue.night-mode .btn-clr,.theme-lite-blue.night-mode .addbtnallign{
background: #b3e5fc !important;
color: white !important;
}

.theme-blue.night-mode .btn-clr,.theme-blue.night-mode .addbtnallign{
background: #0072CE !important;
color: white !important;
}
.theme-grey.night-mode .btn-clr,.theme-grey.night-mode .addbtnallign{
background: #C6C6C6 !important;
color: white !important;
}
.theme-deep-purple.night-mode .btn-clr,.theme-deep-purple.night-mode .addbtnallign{
background: #673AB7!important;
color: white !important;
}
.theme-indigo.night-mode .btn-clr,.theme-indigo.night-mode .addbtnallign{
background: #3F51B5 !important;
color: white !important;
}

// .theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }

.idclass{
  text-align: center;
}
.leftclasses{
  // width:20%;

// text-align: center;
// float:left;
// border: 2px red solid;
}
.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 13%;

}

}
.buttonrightclasses{

// border:2px green solid;
margin-left: 13%;
}

.buttonleftclasses{
  margin-top:10px;
}
.mat-card.cardallign{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    /* display: block; */
    position: relative;
    /* padding: 16px; */

}
.alligntextdetails{
  // border: 2px green solid ;
  display:flex
}
.userdetails{
  // border: 2px red solid;
  // margin-bottom: 70px;
  margin-right: 10%;
}
.containerbuttonbox{
  // border: 2px #FF9800 solid;
  display: flex;
  margin-top: 40px;
justify-content: space-between;
}
.reviewallignment{
  display: flex;
  justify-content: space-between;
}
// .matclass{
//   // padding-top: 2px;

// }
.boxed{
  display: flex;
}
.alligncloudbtn{
  display: flex;
  justify-content: space-between;
}



// word cloud css


// .parent-container {
//     text-align:center;
//     background: #d3d3d37a;
//     padding-top: 30px;
//     padding-bottom: 50px;
// }
// .word-cloud-header {
//     text-align: center;
//     margin-bottom: 0
// }


// .word-cloud-group {
//     width: 80%;
//     margin: auto;
//     background-color: white;
//     border: 1px solid white;
//     border-radius: 5px;
//     margin-bottom: 20px;
// }

// .word-cloud-group:nth-last-child(1) {
//     margin-bottom: 0;
// }

// .word-cloud-div {
//     height: 509px;
//     width: 850px;
//     margin: auto;
//     padding: 50px;
//     position: relative;
//     text-align: center;
// }


// p {
//     font-size: 50px;
//     position: absolute;
//     top: 35%;
//     left: 45%;
// }
// .center{
// padding-top:23px;
// align-content: center;
// }
// .mat{
//        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
//     /* display: block; */
//     position: relative;
//     /* padding: 16px; */
// }
// .Engagements{
//     padding-top: 73px;
// }
// .skills{
//     font-family: 'Cormorant Garamond'!important;
//     font-size:50px;
// font-weight:bold;
// }
// .parent-container {
//     text-align:center;
//     padding-top: 30px;
//     padding-bottom: 50px;
// }



.format{
    margin: auto;
    max-width: 61%;
   min-width: 134vh;
   text-align: center;
   padding-bottom: 10px;
}
.vn1{
    margin:auto;
width:800px;
height:350px;
padding:20px;
border: 10px solid #787878
}
.vn2{
    width:750px;
height:300px;
padding:20px;
text-align:center;
border: 5px solid #787878
}
.skills{
    font-family: 'Cormorant Garamond'!important;
    font-size:40px;
font-weight:bold;
}
.space{
    padding-top: 18px;
}



.v1{
  font-family: 'Cormorant Garamond'!important;
 text-align: center;
font-size:55px;
font-weight:bold

}
.v2 {
 font-family: 'Cormorant Garamond'!important;
font-size:25px
}
.v3 {
   font-family: 'Cormorant Garamond'!important;
padding-top: 50%;
font-size:40px
}
.v4 {
 font-family: 'Cormorant Garamond'!important;
font-size:20px
}
.center{
padding-top:23px;
align-content: center;
}
.date{
    padding-left: 100vh;
    padding-top: 10vh;
}
.main{
padding-top: 14vh;
}

.pad{
  text-align: center;
  padding-top: 22%;
}
.wid{
     margin: auto;
    max-width: 61%;
   min-width: 134vh;
   text-align: center;
   padding-bottom: 10px;
}
.certDate{
    margin:auto;
font-family: Arial, Helvetica, sans-serif!important;
font-size: 90%;
padding-right: 112vh;
}


.top-space{
    padding-top: 16vh;
}
.v {
 font-family: 'Cormorant Garamond'!important;
font-size:25px
}



.parent-container {
    text-align:center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.word-cloud-header {
    text-align: center;
    margin-bottom: 0
}

.word-cloud-group {
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.word-cloud-group:nth-last-child(1) {
    margin-bottom: 0;
}

.word-cloud-div {
    height:560px;
    width: 850px;
    margin: auto;
    // padding: 50px;
    position: relative;
    text-align: center;
}


p {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.mat{
       margin: auto;
  //   max-width: 61%;
  //  min-width: 134vh;
   text-align: center;
   padding-bottom: 10px;
   max-height: 166vh;
   margin-bottom: 20px;
}
.Engagements{
    padding-top: 73px;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: white !important;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
  .alligndetailmobile{
    margin: auto;
  }

.btn-clr{
      width: 110px;
    height: 35px;
    margin-left:0px;
    margin-top: 13px;

}

.reviewallignment{
  display: inherit;
  justify-content: space-between;
}

.alligntextdetails{
  // border: 2px green solid ;
  display:inherit
}
.buttonleftclasses{
  margin-top:0px;
  margin-right: 50%;
}


.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 1px;
margin-top: 15px;
}

.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;

    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 288px;
}

.qrcontainer{
  // width:150px;
    width: 150px;
    margin-bottom: 0px;
  img{
    object-fit: contain;
    width: 94px;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.container {
    background-color: white;
    // margin-top: 20px;
    display: inline;
    max-width: 780px;
    align-items: center;
    justify-content: space-between;
    // height: 150px;
}

.profile{
  width:0px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 98px;
    margin-bottom: 0px;
    margin: auto;

  }
}



.p-6 {
    padding: 1rem;
}
.nameallignweb{
  margin-left: 1% !important;
}

.allignaboutweb{
  margin-left: 1% !important;
}

}




@media screen and (min-width: 375px) and (max-width: 424px){
  .alligndetailmobile{
    margin: auto;
  }

.btn-clr{
      width: 110px;
    height: 35px;
    margin-left:0px;
    margin-top: 13px;

}

.reviewallignment{
  display: inherit;
  justify-content: space-between;
}

.alligntextdetails{
  // border: 2px green solid ;
  display:inherit
}
.buttonleftclasses{
  margin-top:0px;
  margin-right: 50%;
}


.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 1px;
margin-top: 15px;
}

.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;

    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 343px;
}

.qrcontainer{
  // width:150px;
    width: 150px;
    margin-bottom: 0px;
  img{
    object-fit: contain;
    width: 94px;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.container {
    background-color: white;
    // margin-top: 20px;
    display: inline;
    max-width: 780px;
    align-items: center;
    justify-content: space-between;
    // height: 150px;
}

.profile{
  width:0px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 98px;
    margin-bottom: 0px;
    margin: auto;

  }
}



.p-6 {
    padding: 1rem;
}
.nameallignweb{
  margin-left: 1% !important;
}

.allignaboutweb{
  margin-left: 1% !important;
}

}

@media screen and (min-width: 425px) and (max-width: 767px){
  .alligndetailmobile{
    margin: auto;
  }

.btn-clr{
      width: 110px;
    height: 35px;
    margin-left:0px;
    margin-top: 13px;

}

.reviewallignment{
  display: inherit;
  justify-content: space-between;
}

.alligntextdetails{
  // border: 2px green solid ;
  display:inherit
}
.buttonleftclasses{
  margin-top:0px;
  margin-right: 50%;
}


.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 1px;
margin-top: 15px;
}

.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;

    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 391px;
}

.qrcontainer{
  // width:150px;
    width: 150px;
    margin-bottom: 0px;
  img{
    object-fit: contain;
    width: 94px;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.container {
    background-color: white;
    // margin-top: 20px;
    display: inline;
    max-width: 780px;
    align-items: center;
    justify-content: space-between;
    // height: 150px;
}

.profile{
  width:0px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 98px;
    margin-bottom: 0px;
    margin: auto;

  }
}



.p-6 {
    padding: 1rem;
}
.nameallignweb{
  margin-left: 1% !important;
}

.allignaboutweb{
  margin-left: 1% !important;
}

}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .alligndetailmobile{
    margin: auto;
  }

.btn-clr{
      width: 110px;
    height: 35px;
    margin-left:0px;
    margin-top: 13px;

}

.reviewallignment{
  display: inherit;
  justify-content: space-between;
}

.alligntextdetails{
  // border: 2px green solid ;
  display:inherit
}
.buttonleftclasses{
  margin-top:0px;
  margin-right: 50%;
}


.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 1px;
margin-top: 15px;
}

.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;

    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 732px;
}

.qrcontainer{
  // width:150px;
    width: 150px;
    margin-bottom: 0px;
  img{
    object-fit: contain;
    width: 94px;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.container {
    background-color: white;
    // margin-top: 20px;
    display: inline;
    max-width: 780px;
    align-items: center;
    justify-content: space-between;
    // height: 150px;
}

.profile{
  width:0px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 98px;
    margin-bottom: 0px;
    margin: auto;

  }
}



.p-6 {
    padding: 1rem;
}
.nameallignweb{
  margin-left: 1% !important;
}

.allignaboutweb{
  margin-left: 1% !important;
}

}





.nameallignweb{
margin-left: 30%;
}



.allignaboutweb{
  margin-left: 30%;
}

// *************************************************************
// .container > div{
//   width:150px;
//   height: 150px;
//   border: 1px red solid;
// }
// .container{
//   display: flex;
//   justify-content: space-around;
// }
//  .leftclass{
//    float: left;
//     // border: 1px green solid;
//     margin-left:50px;
//     font-size: 20px;

//  }
//  .rightclass{
//    float:right;
//   //  border: 1px green solid;
//    margin-right:45px;
//     font-size: 20px;
//  }
//  .example-header-image{
//  background-image: url('https://images.unsplash.com/photo-1470114716159-e389f8712fda?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
//   background-size: cover;
// }




// .mat-card-avatar {
//     height: 100px;
//     width: 100px;
//     border-radius: 50%;
//     flex-shrink: 0;
//     object-fit: cover;
//     justify-content: center;
//     align-items: center;
//     margin: auto;
// }
// .example-card{
//   height: 500px;
//   margin-top: 20px;
//   margin-left: 20px;
//   margin-right:20px;
//    margin-bottom:20px;
// }


// .btn-clr{
//     width: 13%;
//     height: 35px;
//     float:right;
//     font-size: 18px;
// }
// ::ng-deep{
// //day mode
// .theme-teal.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background-color: #005F87 !important;
//   color: white !important;

// }
// .theme-orange.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #FF9800 !important;
// color: white !important;
// }
// .theme-muave.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }
// .theme-lite-blue.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #b3e5fc !important;
// color: white !important;
// }

// .theme-blue.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #0072CE !important;
// color: white !important;
// }
// .theme-grey.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #C6C6C6 !important;
// color: white !important;
// }
// .theme-deep-purple.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #673AB7!important;
// color: white !important;
// }
// .theme-indigo.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #3F51B5 !important;
// color: white !important;
// }

//  //night mode

//  .theme-teal.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background-color: #005F87 !important;
//   color: white !important;

// }
// .theme-orange.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #FF9800 !important;
// color: white !important;
// }
// .theme-muave.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }
// .theme-lite-blue.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #b3e5fc !important;
// color: white !important;
// }

// .theme-blue.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #0072CE !important;
// color: white !important;
// }
// .theme-grey.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #C6C6C6 !important;
// color: white !important;
// }
// .theme-deep-purple.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #673AB7!important;
// color: white !important;
// }
// .theme-indigo.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #3F51B5 !important;
// color: white !important;
// }
// }