<mat-toolbar class="mat-primary" [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-s text-color" i18n>User Details</span>
</mat-toolbar>


<ng-container>

  <mat-card class="cardallign">
    <!-- <div class="allignphoto"> -->
    <div class="container bg-white  p-6">
      <div class="profile">
        <img [attr.src]="currentUserDetails.details?.profile_image">
      </div>
      <div class="userdetails" style="margin-right: 10%;">
        <!-- <h2>{{currentUserDetails.details?.username}}</h2> -->
        <h2 style="margin-left: 30%;">
          {{currentUserDetails.details?.first_name +' '+ currentUserDetails.details?.last_name}}
        </h2>
        <!-- <div class="text-blue-600">{{currentUserDetails.details?.department_name}}</div> -->
        <div class="text-gray-600" style="margin-left: 30%;"><strong>About me :</strong>
          <br>
          {{currentUserDetails.details?.about}}</div>

      </div>
      <hr>
      <div class="qrcontainer">
        <img [attr.src]="currentUserDetails?.details?.images">
      </div>

    </div>
    <div>
      <div class="alligntextdetails">
        <div class="leftclasses">
          <!-- <h2 class="rightclass">Username : {{currentUserDetails.username}}</h2> -->
          <!-- <div class="text-gray-600">UserId : {{currentUserDetails.details?.source_id}}</div><br> -->
          <!-- <div class="text-gray-600">First Name : {{currentUserDetails.first_name}}</div><br>
          <div class="text-gray-600">Last Name : {{currentUserDetails.last_name}}</div><br> -->
          <div class="text-gray-600">Location : {{currentUserDetails.details?.residence_city}}</div><br>
          <!-- <div class="text-gray-600">Course : {{currentUserDetails.department_name}}</div> -->
          <div class="text-gray-600">Language : {{currentUserDetails.details?.language}}</div><br>

          <div class="text-blue-500">Certification : {{currentUserDetails.details?.employment_status}}</div>

        </div>
        <div class="rightclasses">
          <div class="text-gray-600">Country : {{currentUserDetails.details?.residence_country}}</div><br>
          <div class="text-gray-600">Gender : {{currentUserDetails.details?.gender}}</div><br>

          <div class="text-gray-600">Cerification Date : {{date| date:'dd MMM yyyy'}}</div><br>

          <div class="text-gray-600">Contact Number : {{currentUserDetails.details?.contact_phone_number_personal}}
          </div><br>

          <div class="text-purple-500">Email Id : {{currentUserDetails.details?.email}}</div>

          <!-- <br><br><br> -->

          <!-- <div class="flex-container">
        <ng-container *ngFor="let star of stars">
          <ws-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" (starClicked)="oStarClick($event)"
            [starId]="star" [rating]="hoverState || rating">
          </ws-star>
        </ng-container>

      </div> -->

        </div>
      </div>

      <div class="containerbuttonbox">
        <div style="margin-top: 20px;" class="flex-container">
          <ng-container *ngFor="let star of stars">
            <ws-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" (starClicked)="oStarClick($event)"
              [starId]="star" [rating]="hoverState || currentUserDetails?.details?.rating || 0">
            </ws-star>
          </ng-container>
          <br /><br />
          {{currentUserDetails.details.rating}}/5{{currentUserDetails.details.commentdata}}
        </div>

        <div class="buttonrightclasses" [ngSwitch]=currentUserDetails.details?.employment_status>
          <div *ngSwitchCase="'Beginner'"><button class="mat-primary btn-clr text-center"
              (click)="viewCertificate(2)">View
              Certificate</button></div>
          <div *ngSwitchCase="'Expert'"><button class="mat-primary btn-clr text-center"
              (click)="viewCertificate(1)">View
              Certificate</button></div>

        </div>

      </div>
      <br>
      <hr>
      <br>
      <div class="reviewallignment">
        <div>
          <h2 class="text-gray-600">Review Comments</h2>
        </div>
        <!-- <div class="buttonleftclasses"> -->
        <div class="text-gray-600">
          <textarea input #newcomments (keyup.enter)="addnew(newcomments.value)" (blur)="addnew(newcomments.value); "
            class="text-gray-600" placeholder="Write your Review here…" id="myInput"></textarea>
        </div>
        <div class="text-gray-600">
          <input style="height: 30px;" #newname (keyup.enter)="addName(newname.value)"
            (blur)="addName(newname.value);   " class="text-gray-600" placeholder="Enter your name" id="nameInput">
        </div>

        <div>
          <button style="height: 30px;" class="text-gray-600 mat-primary addbtnallign" (click)="reviewbutton()">Add
            Review</button>

        </div>


        <!-- </div> -->


      </div>
      <div class="rowgap">

        <div class="boxed text-gray-600" style="margin-top: 20px;"
          *ngFor="let hero of currentUserDetails.details.comments">
          <div>
            <mat-icon class="matclass" style="font-size: 20px;" matPrefix>person</mat-icon>
          </div>
          <div>
            <strong><i> {{hero.name}}</i></strong> : {{hero.comments}}
          </div>
          <br>
        </div>

      </div>
    </div>

    <!-- </div> -->
  </mat-card>
</ng-container>




<!-- ****************************************************** -->
<!-- <ng-container> -->
<!-- <ng-container *ngFor="let registeredUser of users"> -->

<!-- <mat-card class="example-card">
  <div [ngSwitch]=currentUserDetails.employment_status>
    <div *ngSwitchCase="'Participatry'"><button class="mat-primary btn-clr text-center"
        (click)="viewCertificate(2)">View
        Certificate</button></div>
    <div *ngSwitchCase="'Achievement'"><button class="mat-primary btn-clr text-center" (click)="viewCertificate(1)">View
        Certificate</button></div>

  </div> -->
<!-- <img src="/Users/tanyachauhan/Documents/Societal/space-ui-static/src/app/routes/public/register-user/My_Gallery.png"
    alt="QR Code"> -->
<!-- <img src="src/app/routes/public/register-user/My_Gallery.png"> -->


<!-- <div class="container bg-white rounded-lg p-6">
    <div class="example-header-image"></div>
  </div> -->
<!-- <div> -->
<!-- <h2 class="text-center">Username : {{currentUserDetails.username}}</h2>
  <div class="text-gray-600 text-center" style="font-size: 19px;">UserId : {{currentUserDetails.source_id}}</div>
  <br>
  <div class="leftclass">
    <div class="text-gray-600 ">First Name : {{currentUserDetails.first_name}}</div>
    <br>
    <div class="text-gray-600 ">Last Name : {{currentUserDetails.last_name}}</div>
    <br>
    <div class="text-gray-60">Location : {{currentUserDetails.residence_city}}</div>
    <br>
    <div class="text-gray-600 ">Course : {{currentUserDetails.department_name}}</div>
    <br>
    <div class="text-blue-500">Status : {{currentUserDetails.employment_status}}</div>
    <br>

  </div>
  <div class="rightclass">
    <div class="text-gray-600">Gender : {{currentUserDetails.gender}}</div>
    <br>
    <div class="text-gray-600 ">Country : {{currentUserDetails.residence_country}}</div>
    <br>
    <div class="text-gray-600">Cerification Date : {{currentUserDetails.time_updated}}</div>
    <br>

    <div class="text-gray-600">Contact Number : {{currentUserDetails.contact_phone_number_personal}}
    </div>
    <br>
    <div class="text-purple-500">Email Id : {{currentUserDetails.email}}</div>
    <br>
  </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div [ngSwitch]=currentUserDetails.employment_status>
    <div *ngSwitchCase="'Participatry'"><button class="mat-primary btn-clr text-center"
        (click)="viewCertificate(2)">View
        Certificate</button></div>
    <div *ngSwitchCase="'Achievement'"><button class="mat-primary btn-clr text-center" (click)="viewCertificate(1)">View
        Certificate</button></div>

  </div> -->

<!-- </mat-card> -->
<!-- </ng-container> -->