.container {
  // min-height: 400px;
  // margin: auto;
  // border: 1px yellow solid;
  background-color: white;
  margin-top: 20px;
  display: flex;
  // margin-left: 60px;
  max-width:780px;
  align-items: center;
  justify-content: space-between;
  height: 150px;

.allignimage{
  align-items: center;
  justify-content: center;

}

.example-header-image{
 background-image: url('https://images.unsplash.com/photo-1470114716159-e389f8712fda?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
}


}
.mat-card{
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;
// border: 2px purple solid;
    /* display: block; */
    // position: relative;
    /* padding: 16px; */
    border-radius: 4px;
    margin-left: 40px;
    margin-top:40px;
    margin-right: 40px;
    max-width: unset;
    margin: auto;
    width: 900px;
}
.mat-card-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // border: 2px green solid;
}
.btn-clr{
      width: 150px;
    height: 30px;
    margin-left:300px;
    margin-top: 13px;

}
.qrcontainer{
  width:150px;
    width: 150px;
    margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 180%;
    // margin-left: 450%;
      // border: 2px yellow solid;
  }
}

.profile{
  width:150px;
  // margin-bottom: 50px;
  img{
    object-fit: contain;
    width: 130px;
    margin-bottom: 50%;

  }
}
.allignphoto{
  // border: 2px green solid;
}
::ng-deep{
//day mode
.theme-teal.day-mode .btn-clr,.theme-teal.day-mode .addbtnallign{
  background-color: #005F87 !important;
  color: white !important;

}
.theme-orange.day-mode .btn-clr,.theme-orange.day-mode .addbtnallign{
background: #FF9800 !important;
color: white !important;
}
.theme-muave.day-mode .btn-clr,.theme-muave.day-mode .addbtnallign{
  background: #865BA0 !important;
  color: white !important;

}
.theme-lite-blue.day-mode .btn-clr,.theme-lite-blue.day-mode .addbtnallign{
background: #b3e5fc !important;
color: white !important;
}

.theme-blue.day-mode .btn-clr,.theme-blue.day-mode .addbtnallign{
background: #0072CE !important;
color: white !important;
}
.theme-grey.day-mode .btn-clr,.theme-grey.day-mode .addbtnallign{
background: #C6C6C6 !important;
color: white !important;
}
.theme-deep-purple.day-mode .btn-clr,.theme-deep-purple.day-mode .addbtnallign{
background: #673AB7!important;
color: white !important;
}
.theme-indigo.day-mode .btn-clr,.theme-indigo.day-mode .addbtnallign{
background: #3F51B5 !important;
color: white !important;
}

 //night mode

 .theme-teal.night-mode .btn-clr,.theme-teal.night-mode .addbtnallign{
  background-color: #005F87 !important;
  color: white !important;

}
.theme-orange.night-mode .btn-clr,.theme-orange.night-mode .addbtnallign{
background: #FF9800 !important;
color: white !important;
}
.theme-muave.night-mode .btn-clr,.theme-muave.night-mode .addbtnallign{
  background: #865BA0 !important;
  color: white !important;

}
.theme-lite-blue.night-mode .btn-clr,.theme-lite-blue.night-mode .addbtnallign{
background: #b3e5fc !important;
color: white !important;
}

.theme-blue.night-mode .btn-clr,.theme-blue.night-mode .addbtnallign{
background: #0072CE !important;
color: white !important;
}
.theme-grey.night-mode .btn-clr,.theme-grey.night-mode .addbtnallign{
background: #C6C6C6 !important;
color: white !important;
}
.theme-deep-purple.night-mode .btn-clr,.theme-deep-purple.night-mode .addbtnallign{
background: #673AB7!important;
color: white !important;
}
.theme-indigo.night-mode .btn-clr,.theme-indigo.night-mode .addbtnallign{
background: #3F51B5 !important;
color: white !important;
}

// .theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }

.idclass{
  text-align: center;
}
.leftclasses{
  // width:20%;

// text-align: center;
// float:left;
// border: 2px red solid;
}
.rightclasses{
  // width:80%;
// border:2px green solid;
margin-left: 13%;

}

}
.buttonrightclasses{

// border:2px green solid;
margin-left: 13%;
}

.buttonleftclasses{
  margin-top:10px;
}
.mat-card.cardallign{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    /* display: block; */
    position: relative;
    /* padding: 16px; */

}
.alligntextdetails{
  // border: 2px green solid ;
  display:flex
}
.userdetails{
  // border: 2px red solid;
  // margin-bottom: 70px;
}
.containerbuttonbox{
  // border: 2px #FF9800 solid;
  display: flex;
  margin-top: 40px;
justify-content: space-between;
}
.reviewallignment{
  display: flex;
  justify-content: space-between;
}
// .matclass{
//   // padding-top: 2px;

// }
.boxed{
  display: flex;
}

// *************************************************************
// .container > div{
//   width:150px;
//   height: 150px;
//   border: 1px red solid;
// }
// .container{
//   display: flex;
//   justify-content: space-around;
// }
//  .leftclass{
//    float: left;
//     // border: 1px green solid;
//     margin-left:50px;
//     font-size: 20px;

//  }
//  .rightclass{
//    float:right;
//   //  border: 1px green solid;
//    margin-right:45px;
//     font-size: 20px;
//  }
//  .example-header-image{
//  background-image: url('https://images.unsplash.com/photo-1470114716159-e389f8712fda?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
//   background-size: cover;
// }




// .mat-card-avatar {
//     height: 100px;
//     width: 100px;
//     border-radius: 50%;
//     flex-shrink: 0;
//     object-fit: cover;
//     justify-content: center;
//     align-items: center;
//     margin: auto;
// }
// .example-card{
//   height: 500px;
//   margin-top: 20px;
//   margin-left: 20px;
//   margin-right:20px;
//    margin-bottom:20px;
// }


// .btn-clr{
//     width: 13%;
//     height: 35px;
//     float:right;
//     font-size: 18px;
// }
// ::ng-deep{
// //day mode
// .theme-teal.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background-color: #005F87 !important;
//   color: white !important;

// }
// .theme-orange.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #FF9800 !important;
// color: white !important;
// }
// .theme-muave.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }
// .theme-lite-blue.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #b3e5fc !important;
// color: white !important;
// }

// .theme-blue.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #0072CE !important;
// color: white !important;
// }
// .theme-grey.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #C6C6C6 !important;
// color: white !important;
// }
// .theme-deep-purple.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #673AB7!important;
// color: white !important;
// }
// .theme-indigo.day-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #3F51B5 !important;
// color: white !important;
// }

//  //night mode

//  .theme-teal.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background-color: #005F87 !important;
//   color: white !important;

// }
// .theme-orange.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #FF9800 !important;
// color: white !important;
// }
// .theme-muave.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
//   background: #865BA0 !important;
//   color: white !important;

// }
// .theme-lite-blue.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #b3e5fc !important;
// color: white !important;
// }

// .theme-blue.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #0072CE !important;
// color: white !important;
// }
// .theme-grey.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #C6C6C6 !important;
// color: white !important;
// }
// .theme-deep-purple.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #673AB7!important;
// color: white !important;
// }
// .theme-indigo.night-mode .btn-clr,theme-teal.day-mode .addbtnallign{
// background: #3F51B5 !important;
// color: white !important;
// }
// }