<div id="display-item" class="mat-toolbar footer-container px-2 sm:px-10 py-1 sm:py-4"
  [ngClass]="{ 'mat-primary': !isXSmall, 'mat-primarylight': isXSmall }">
  <div class="mat-body flex ml-10" id="display">
    <!-- <mat-grid-list cols="2" rowHeight="133px"> -->
    <!-- <mat-grid-tile class="font-semibold text-xs md:text-sm xl:text-sm" i18n> -->
    <div class="col-1">
      <p class="text-style">
        Ekstep Foundation</p>
      <p class="text-style"> Quorum, No. 85, 7th Cross, 4th Block</p>
      <p class="text-style"> Koramangala, Bangalore - 560034</p>
      <p class="text-style"> Karnataka, INDIA</p>
      <p class="text-style"><a class="mail-style"
          href="mailto:space@societalplatform.org">space@societalplatform.org</a><br>
      </p>
    </div>
    <!-- </mat-grid-tile> -->
    <!-- <mat-grid-tile> -->
    <div class="col-2">
      <a routerLink="/public/dataprivacy" class="text-style policy" name="helpAndContactButtonHomePage" i18n>Data
        Privacy</a><br><br>
      <a routerLink="public/termsofuse" class="text-style policy" name="helpAndContactButtonHomePage" i18n>Terms &
        Conditions</a><br><br>
      <a routerLink="/public/content-policy-and-community-guidelines" class="text-style policy"
        name="helpAndContactButtonHomePage" i18n>Content
        Policy and Community Guidelines
        <!-- Process --></a><br><br>
      <!-- </div> -->
      <!-- <div class="mat-body" id="display"> -->
      <a routerLink="/public/licencepolicy" class="text-style policy" name="termOfUseButtonHomePage" i18n>License
        Policy</a>
      <br><br>
      <a routerLink="/public/assetguidelines" class="text-style policy" name="termOfUseButtonHomePage" i18n>Asset
        Guidelines</a>
      <br>
      <!-- <a routerLink="/public/contact" name="helpAndContactButtonHomePage" i18n>Contact Us</a> -->
      <!-- </div> -->
    </div>
    <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
  </div>
</div>
<div id="display-responsive" class="mat-toolbar px-2 sm:px-10 py-1 sm:py-4"
  [ngClass]="{ 'mat-primary': !isXSmall, 'mat-primarylight': isXSmall }">
  <!-- <div class="mat-body" id="display"> -->
  <ng-container i18n>
    <a routerLink="/public/dataprivacy" name="helpAndContactButtonHomePage" i18n>Data Privacy</a>
    <br />
    <a routerLink="public/termsofuse" name="helpAndContactButtonHomePage" i18n>Terms & Conditions</a>
    <br />
    <a routerLink="/public/content-policy-and-community-guidelines" name="helpAndContactButtonHomePage" i18n>Content
      Policy and Community Guidelines
      <!-- Process --> </a><br />
    <a routerLink="/public/licencepolicy" name="termOfUseButtonHomePage" i18n>License Policy</a>
    <br />
    <a routerLink="/public/assetguidelines" name="termOfUseButtonHomePage" i18n>Asset Guidelines</a><br />
    <a routerLink="/public/contact" name="helpAndContactButtonHomePage" i18n>Contact Us</a>
  </ng-container>
  <!-- </div> -->
</div>