@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  @include breakpoint-xs {
    flex-direction: column;
    min-height: 80px;
  }
}
.font-12 {
  font-size: 12px !important;
}

#display-item {
  background-color: #faf7f4 !important;
}
#display-responsive {
  background-color: #faf7f4 !important;
}
@media (max-width: 971px) and (min-width: 312px) {
  #display-item {
    display: none;
  }
  #display-responsive {
    text-align: center;
    font-size: unset !important;
  }
}
@media (max-width: 750px) {
  #display-responsive {
    margin-bottom: 3rem;
  }
}
@media (min-width: 972px) {
  #display-responsive {
    display: none;
    justify-content: center;
  }
}
