<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
    <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
    <span class="margin-left-xs text-truncate">
        <span i18n="page title: grievanceredressal" class="margin-left-xs">Data And Privacy
        </span>
    </span>
</mat-toolbar> -->
<section class="mat-drawer-container mat-drawer-container-has-open mat-drawer-transition flex  mr-10 pt-16">
  <div class="allignment">
    <!-- <div class="text-wrap"> -->
    <h1 class="header heading-style">Data and Privacy Policy</h1>
    <div class="img-container">
      <img [src]="dataprivacy" id="cimage" />
    </div>
    <p class="p2">&nbsp;</p>
    <div class="pl-10">
      <p class="p3 font-style" style="max-width: 658px !important">
        <span class="s1 font-style">Effective Date:15</span>
        <span class="s2 font-style"><sup>th</sup></span>
        <span class="s1 font-style"> July, 2020</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style" style="max-width: 658px !important">
        <span class="s1 font-style text-style">We respect your privacy and are committed to protecting the privacy of
          our
          Users.</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style" style="max-width: 658px !important">
        <span class="s1 font-style">Please read this Privacy Policy carefully, to learn more about the ways in which the
          Platform uses and protects your information and data. This Privacy Policy covers the
          information and data that is<span class="Apple-converted-space font-style">&nbsp; </span>collected from its
          User(s)
          on the Platform. The terms &lsquo;you&rsquo;, &lsquo;your&rsquo;
          refer to any User of the Platform.</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style text-width">
        <span class="s1 font-style ">By using the Website and providing your information on the Platform, you
          consent to
          the
          collection and use of the information you disclose by the Platform in accordance with the
          <a href="public/termsofuse" class="font-style colortheme" target="_blank"><span class="s3 font-style"><strong
                class="font-text">Terms of Use</strong></span></a>
          and this <strong class="font-text">Privacy Policy</strong>. You acknowledge that the
          collection, storage and processing of your information or data on the Platform is for a
          lawful purpose connected with functioning and activity on the Platform. If you do not agree
          with the contents of this policy, please do not access or use the Platform.</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">This Privacy Policy should be read in conjunction and together with the Terms of
          Use.
          Defined terms used but not defined herein shall have the meaning ascribed to them in the
          Terms of Use. We hereby notify you the following information about your personal data
          processing:<span class="Apple-converted-space font-style">&nbsp;</span></span>
      </p>
      <p class="p2">&nbsp;</p>
      <ol class="ol1 font-style spaceallign">
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Types of information we collect: </strong><br /><br />
            <p class="allignparagraph"> We collect the following types of information on the Platform (hereinafter
              collectively referred to as
              the &ldquo;<strong class="font-text">Personal Data</strong>&rdquo;):</p>
          </span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">
              <strong class="font-text-1">Mandatory</strong>:
              name, email address, display
              picture,
              time spent on Content, Badges, Interests, likes, feedback, Usage history, Content
              created/ contributed / published and their usage, goals and playlists, votes,
              contributions made on blogs and social forums (Q&amp;A, comments, posts), courses &amp;
              programs completed, scores &amp; assessment result.
            </span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style"><strong class="font-text-1">Optional</strong>:
              name of organization, social media
              account
              linkage, device id
            </span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">No other personally identifiable information or sensitive personal information
              or data
              of the User is collected.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li>
        </ol>
        <!-- </ol> -->
        <p class="p4">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Data recipients/ accessible to:
              <br /><br /></strong>
            <p class="allign-paras">EkStep internal
              teams
              handling the administration of the Platform, authorized third party service providers
              (including Cloud providers).</p>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p2"><span class="s1">&nbsp;</span></p>
        <!-- <p class="p2">&nbsp;</p> -->
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Lawfulness of Processing, Purpose of collection and Use
              of
              your Personal Data: </strong><br /><br />
            <p class="allign-paras"> We process your Personal when it is necessary for the purposes of a
              legitimate
              interest
              pursued by EkStep or a third party (when these interests are not overridden by your data
              protection rights). This applies to the following uses of your Information:</p>
          </span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To facilitate and provide various services on the Platform including to enable
              you to
              create your goals for learning/ playlists of Content based on your own interest and
              share it with other Users, who may have the same interest;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To enable you to discover new Content linked to any other Content that you are
              viewing;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To provide personalised recommendation based on your past visits and activities
              on the
              Platform;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">For authentication purposes;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To provide push notifications on your hand-held devices (mobile, tablets, etc.)
              of any
              comment / feedback received on any Content you have contributed, from other Users, only
              if you have provided permission for the same during the installation of the application
              on such device;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To provide you an option to share Content through your social media
              accounts;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To allow you to post blogs / questions, reply / comment on blogs/questions and
              vote on
              blogs / questions / responses provided to questions;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To list initiatives for Users to reach out in case of questions / concerns on
              the
              initiative;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To enable communication between Users through the Platform;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To track efficient usage of Content;
              <span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To resolve disputes, troubleshoot problems, measure interest in the services
              provided
              on the Platform, detect and protect you and us against error, fraud and other criminal
              activity, enforce the
              <a href="public/termsofuse" class="font-style colortheme" target="_blank"><span
                  class="s3 font-style"><strong class="font-text">Terms of Use</strong></span></a>
              or other agreements between us and as otherwise described to you at the time of
              collection;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">To contact you and deliver information to your with respect to and relevant to
              your
              usage of the Platform;<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li>
        </ol>
        <!-- </ol> -->
        <p class="p2">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Your Rights (as per applicable data protection
              laws):</strong> <br /><br />
            <p class="allign-paras">You are entitled at any time to access, rectify or delete your Personal Data, as
              well as
              to object for legitimate purpose to the processing of your Personal Data. In addition, you
              have the right to receive Personal Data concerning you which you have provided to us
              directly. These rights may be exercised, by sending an email to
              <a href="mailto:space@societalplatform.org" class="font-style colortheme"><span
                  class="s3 font-style">space@societalplatform.org</span></a></p>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Secondary Purpose</strong>: <br /><br />
            <p class="allign-paras">If we wish to use your
              personal
              data for a new purpose, not covered by this notice, then we will provide you with a new
              notice explaining this new use prior to commencing the processing and setting out the
              relevant purposes and processing conditions. Where and whenever necessary, we will seek
              your prior consent to the new processing, unless authorized by law.</p>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Data Transfer</strong>: <br />
            <span class="Apple-converted-space font-style">&nbsp;</span></span>
        </li>
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">For Non-EU: If necessary for the above stated purpose, the Personal Data listed
              above
              will be transferred to our offices located in India and to our authorized service
              providers cloud servers.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">For EU: The Personal Data listed above may be transferred to countries located
              outside
              of the EU/EEA, for which data protection legislation may differ from that of the EEA,
              i.e. our offices located in India and our third party providers cloud servers. We shall
              take the necessary steps to ensure confidentiality and security of the transferred data
              and have also implemented adequate safeguards for data transfer the copies can be
              obtained by writing to
              <a href="mailto:space@societalplatform.org" class="font-style colortheme"><span
                  class="s3 font-style">space@societalplatform.org</span></a>.</span>
          </li>
        </ol>
        <!-- </ol> -->
        <p class="p4">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Data Security:</strong> <br /><br />
            <p class="allign-paras"> EkStep adopts reasonable and
              appropriate security practices and procedures<span class="Apple-converted-space font-style">&nbsp;
              </span>in
              accordance with Indian laws currently in force, including the Information Technology
              (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information)
              Rules, 2011,<span class="Apple-converted-space font-style">&nbsp; </span>including in
              relation to administrative, physical security, and technical controls in order to
              safeguard your Personal Data.</p><span class="Apple-converted-space font-style">&nbsp;</span>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong>Data Retention: </strong><br /><br />
            <p class="allign-paras"> Personal Data will not be retained for a period
              more
              than necessary to fulfill the purposes outlined in this notice, unless a longer retention
              period is required by law or for directly related legitimate business purposes.</p><span
              class="Apple-converted-space font-style">&nbsp;</span>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Contact your Local Data Protection Authority (For EU
              Data
              Subjects)</strong>:<br /><br />
            <p class="allign-paras"> If you are unhappy with how we safeguard your personal data, you have the right
              to
              bring a complaint to your local data protection authority.</p><span
              class="Apple-converted-space font-style">&nbsp;</span>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Contact your Data Protection Officer</strong>:
            <br /><br />
            <p class="allign-para">If you
              have any
              queries, comments or requests, please contact our data protection officer via email at
              <a href="mailto:space@societalplatform.org" class="font-style colortheme"><span
                  class="s3 font-style">space@societalplatform.org</span></a>.</p><span
              class="Apple-converted-space font-style">&nbsp;</span>
          </span>
        </li>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Please note</strong>:<br /><br />
          </span>
        </li>
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">While uploading any video, or providing your feedback to the author of the
              Content or
              maker of the video as a User, please do not include any personal or sensitive personal
              information concerning others.</span>
          </li><br />
          <li class="li3 font-style pb-32" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">The Platform may provide links to third party websites, platforms, or
              applications,
              which may collect information about you. Please read their policies carefully, before
              providing any information. You are advised to take adequate measures to protect your
              privacy. EkStep will not be responsible or liable for the privacy standards, practices
              and policies implemented on such websites, platforms, or applications.<span
                class="Apple-converted-space font-style">&nbsp; &nbsp;</span></span>
          </li>
        </ol>
      </ol>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="imgsize col-1">

  </div> -->
</section>