<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
    <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
    <span class="margin-left-xs text-truncate">
        <span i18n="page title: grievanceredressal" class="margin-left-xs">Data And Privacy
        </span>
    </span>
</mat-toolbar> -->
<section>
        <div class="imgsize">
                <img [src]="dataprivacy" id="cimage" />
                <div class="container">
                        <div class="row mb-4">
                                <div class="col-md-12"></div>
                                <!-- <p class="text-center" id="textdec">Collaborators</p> -->
                        </div>
                </div>
        </div>


        <div class="allignment">

                <!-- <p class="p2">&nbsp;</p> -->
                <!-- <ol class="ol1">
                        <li class="li5"><span class="s2"><h2>Introduction</h2><span
                                                class="Apple-converted-space">&nbsp;</span></span></li>
                </ol> -->
                <!-- <p><h1>1. Introduction</h1></p> -->
                <!-- <p class="p3">
                        <span class="s2">NIIT Limited (hereafter referred to as “NIIT”) is committed to protect your personal information provided or collected
                on this website. We want our services to be safe and secure for you. Uniform practices for collecting, using,
                disclosing, storing, retaining, disposing, accessing, transferring, or otherwise processing such information assist NIIT
                to process personal information fairly and appropriately, disclosing it and/or transferring it only under appropriate
                circumstances. The following privacy policy relates to our use of any personal information we collect from you.

                This privacy policy informs you how we use your personal information collected through this website. This policy will be
                updated subject to any changes in information collection, activities performed, or any applicable regulations. You are
                encouraged to review the privacy policy whenever you visit this website, to ensure that you understand how any personal
                information you provide will be used.</span>
                </p> -->
                <!--
<p class="p2">&nbsp;</p>
        <p>
                <h1>2. Purpose</h1>
        </p>
                <p class="p3">
                        <span class="s2">The purpose of this policy is to highlight various obligations, best practices, and processes that support compliance
                        with data privacy regulations applicable to NIIT in its role as both a data controller and a processor.</span>
                </p> -->








                <!-- <p class="p3"><span class="s1">Societal Platform is a team within the Foundation. The Societal Platform
                                team is the
                                primary stakeholder of the SPace portal.<span
                                        class="Apple-converted-space">&nbsp;</span></span></p> -->
                <!-- <p class="p4"><span class="s1">This privacy policy (&ldquo;<strong>Privacy Policy</strong>&rdquo;)
                                defines the
                                rights
                                in
                                relation to User (as defined in the Terms of Use) information, and answers questions
                                that you may have about
                                the
                                manner in which User information may be collected, used, stored, transferred, disclosed
                                and safeguarded.
                                Most
                                importantly, this Privacy Policy will explain the followings in some detail:<span
                                        class="Apple-converted-space">&nbsp; &nbsp;</span></span></p> -->
                <!-- <ol class="ol1">
                        <li class="li5"><span class="s2">Introduction <span
                                                class="Apple-converted-space">&nbsp;</span></span></li>
                        <li class="li5"><span class="s2">Why this User information will be collected;</span></li>
                        <li class="li5"><span class="s2">When and how this User information shall be used;</span></li>
                        <li class="li3"><span class="s2">Who this User information will be shared with.</span></li>
                </ol> -->
                <!-- <p class="p3"><span class="s2">By accessing or using the SPace Portal and providing your information,
                                you are
                                accepting
                                the terms of our Privacy Policy, you confirm that you are legally competent to form a
                                legally binding
                                contract and
                                consent to the collection and use of the information you disclose on the SPace Portal by
                                the Foundation in
                                accordance with these Terms. This Privacy Policy constitutes a legal and binding
                                agreement between you and
                                the
                                Foundation and is enforceable under the laws of India. Defined terms not specifically
                                defined herein, shall
                                have
                                the
                                meaning ascribed to them in the Terms of Use.<span
                                        class="Apple-converted-space">&nbsp;</span></span></p> -->
                <ol class="ol1">

                        <span class="s2"><strong> 1. Introduction<br /></strong>NIIT Limited (hereafter referred to as
                                “NIIT”) is committed to protect your personal information provided or collected
                                on this website. We want our services to be safe and secure for you. Uniform practices
                                for collecting, using,
                                disclosing, storing, retaining, disposing, accessing, transferring, or otherwise
                                processing such information assist NIIT
                                to process personal information fairly and appropriately, disclosing it and/or
                                transferring it only under appropriate
                                circumstances. The following privacy policy relates to our use of any personal
                                information we collect from you.

                                This privacy policy informs you how we use your personal information collected through
                                this website. This policy will be
                                updated subject to any changes in information collection, activities performed, or any
                                applicable regulations. You are
                                encouraged to review the privacy policy whenever you visit this website, to ensure that
                                you understand how any personal
                                information you provide will be used.
                        </span>

                        <!-- <p class="p6">&nbsp;</p> -->
                        <p class="p7"><span class="s1"><strong>2. Purpose
                                                <br /></strong>The purpose of this policy is to highlight various
                                        obligations, best practices, and processes that support compliance
                                        with data privacy regulations applicable to NIIT in its role as both a data
                                        controller and a processor.
                                </span></p>
                        <p class="p8"><span class="s1"><strong>3. Applicability<br /></strong>
                                        This policy applies to all NIIT personnel, operating units, and wholly owned
                                        subsidiaries worldwide.</span>
                        </p>
                        <p class="p8"><span class="s1"><strong>4. Collection and use of information<br /></strong>
                                       <p><span>4.1 What Information We Collect from You</span></p>
<span>
                                                NIIT collects, processes, and retains information about you when you
                                                visit our website. You may choose to provide us
                                                with the Personally Identifiable Information, or other information, to
                                                access protected information on the website or so
                                                that we can connect with you after your visit, based on your consent.

                                                When you visit our website, we may track, collect and aggregate
                                                information indicating, among other things, which pages
                                                of our Site were visited, the order in which they were visited, when
                                                they were visited, and which hyperlinks were
                                                "clicked." We also collect information from the URLs from which you
                                                linked to our website. Collecting such information
                                                may involve logging the IP address, operating system and browser
                                                application used. We may be able to determine from an
                                                IP address a user’s Internet Service Provider and the geographic
                                                location of his or her point of connectivity.</span>


                        <p><span> 4.2 How NIIT uses your information</span></p>
                                                <!-- <p class="p6">&nbsp;</p> -->
                                             <span>  The information we collect from you may be used in one of the following
                                                ways:


                                                <p class="p8"> <span> i. To provide course information: We shall use
                                                                your personal data to
                                                                respond to your queries, understand training needs
                                                                and trends and resource planning as relevant to training
                                                                services.</span></p>

                                                <p class="p8"> <span> ii. To communicate regarding training sessions:
                                                                Your information helps
                                                                us keep you posted on your training schedules and
                                                                communicate with you regarding your training
                                                                requirements, follow-ups,
                                                                and feedback.</span></p>

                                                <p class="p8"><span> iii. To customize content and improve the quality
                                                                of service: NIIT may
                                                                use your personal information to help create and
                                                                personalize training content. Geographic information may
                                                                be used to
                                                                assess the page response time and provide a better
                                                                user experience.</span></p>
                                                <p class="p8"><span>
                                                                iv. To obtain third-party services: We also share
                                                                essential personal
                                                                information with third parties who provide training
                                                                services. When NIIT shares personal information with
                                                                third-party service
                                                                providers, we require that they use your
                                                                personal information and other information only for the
                                                                purpose of
                                                                providing services to us and subject to terms
                                                                consistent with this policy. Other than for the purpose
                                                                of providing
                                                                services, we will not sell or otherwise disclose
                                                                your information to any other company.</span></p>

                                                <p class="p8"> <span>v. To contact you: Your information may be used to
                                                                contact you in
                                                                response to your request or to provide you with
                                                                information that we think you may be interested in
                                                                receiving. We will
                                                                honor your request if you inform us that you do
                                                                not want to receive any information that you have not
                                                                specifically
                                                                requested.</span></p>
                                        </span>
                                        <!-- NIIT collects, processes, and retains information about you when you visit our
                                        website. You may choose to provide us
                                        with the Personally Identifiable Information, or other information, to access
                                        protected information on the website or so
                                        that we can connect with you after your visit, based on your consent.

                                        When you visit our website, we may track, collect and aggregate information
                                        indicating, among other things, which pages
                                        of our Site were visited, the order in which they were visited, when they were
                                        visited, and which hyperlinks were
                                        "clicked." We also collect information from the URLs from which you linked to
                                        our website. Collecting such information
                                        may involve logging the IP address, operating system and browser application
                                        used. We may be able to determine from an
                                        IP address a user’s Internet Service Provider and the geographic location of his
                                        or her point of connectivity.-->
                                </span></p>
                        <p class="p9"><span class="s8"><strong>5. Fairness and Purpose<br /></strong></span><span
                                        class="s1">NIIT will collect adequate, relevant, and necessary personal
                                        information and will process such information fairly and
                                        lawfully for the purpose it is collected. The purpose of collection will be
                                        specified not later than at the time of data
                                        collection, or on each occasion of the change of purpose.</span></p>
                        <p class="p8"><span class="s1"><strong>6. Accuracy of information<br /></strong>
                                        The information held by NIIT on this website shall be checked with you from time
                                        to time to ensure that it remains up to
                                        date. Should your personal circumstances change, you should notify us
                                        immediately. Refer to Section “Privacy Contact
                                        Information.”</span>
                        </p>
                        <p class="p8"><span class="s1"><strong>7. Distribution of Information<br /></strong>

                                        <p> <span>7.1 Information Disclosure</span></p>

                                        <span>
                                                <!-- <p class="p6">&nbsp;</p> -->
                                                NIIT does not share, sell, rent, or trade personal information collected
                                                through our website, with third-parties for any
                                                purpose other than that outlined in this Privacy policy. NIIT may share
                                                information with third-party service providers
                                                contracted to provide services on our behalf for processing to provide
                                                you training-related services. These third-party
                                                service providers may use information we provide to them only as
                                                requested and instructed by NIIT.

                                                <p class="p8"> <span> i. NIIT may disclose your personal information as
                                                                we believe to be
                                                                necessary or appropriate:</span></p>

                                                <p class="p8"><span> a) under applicable law, including laws outside
                                                                your country of
                                                                residence;</span></p>

                                                <p class="p8"><span> b) to comply with the legal process;</span></p>

                                                <p class="p8"> <span>c) to respond to requests from public and
                                                                government authorities,
                                                                including public and government authorities outside
                                                                your country of residence, for national security, and/or
                                                                law enforcement
                                                                purposes;</span></p>

                                                <p class="p8"> <span>d) to enforce our terms and conditions; and</span>
                                                </p>

                                                <p class="p8"> <span>e) to allow us to pursue available remedies or
                                                                limit the damages that we
                                                                may sustain.</span></p>

                                                <p class="p8"><span> ii. Additionally, in the event of a reorganization,
                                                                merger, sale, joint
                                                                venture, assignment, transfer, or other
                                                                disposition of all or any portion of our business,
                                                                assets, or stock
                                                                (including in connection with any bankruptcy or
                                                                similar proceedings), we may transfer the personal
                                                                information we have
                                                                collected to the relevant third party.</span></p>

                                                <p class="p8"> <span>iii. We may share information with governmental
                                                                agencies or other
                                                                companies assisting us in fraud prevention or
                                                                investigation. We may do so when:</span></p>

                                                <p class="p8"><span> a) permitted or required by law; or</span></p>

                                                <p class="p8"><span>b) trying to protect against or prevent actual or
                                                                potential fraud or
                                                                unauthorized transactions; or</span></p>

                                                <p class="p8"> <span>c) Investigating fraud that has already taken
                                                                place. The information is
                                                                not provided to these companies for marketing
                                                                purposes.</span></p>

                                                If NIIT goes through a business transition, such as a merger, an
                                                acquisition by another company, or a sale of all or a
                                                portion of its assets, your personal information collected through our
                                                website(s) may be among the assets transferred. A
                                                prominent notice will appear on our website(s) for 30 days after any
                                                such change in ownership or control of your
                                                personal information.
                                        </span>
                <p> <span>7.2 Cross-Border Data Transfers</span></p>
                                        <span>

                                                When conducting business, working on NIIT projects, or implementing new
                                                processes or systems, an operation may require
                                                the transfer of personal information to other entities or third parties
                                                that are located outside of the NIIT operation’s
                                                country of business. While permissible data transfer mechanisms are
                                                defined by the applicable law or regulation,
                                                examples include:

                                                <p class="p8"> <span>i. a data transfer agreement with the party who
                                                                will access or obtain
                                                                the personal information;</span></p>

                                                <p class="p8"><span>ii. notice to and/or approval from a country’s local
                                                                data protection
                                                                authority; or</span></p>

                                                <p class="p8"> <span>iii. notice to and/or consent from the individual
                                                                whose data is to be
                                                                transferred.</span></p>
                                        </span>

                                        The
                                        NIIT does not share, sell, rent, or trade personal information collected through
                                        our website, with third-parties for any
                                        purpose other than that outlined in this Privacy policy. NIIT may share
                                        information with third-party service providers
                                        contracted to provide services on our behalf for processing to provide you
                                        training-related services. These third-party
                                        service providers may use information we provide to them only as requested and
                                        instructed by NIIT.
                                </span>
                        </p>
                        <p class="p7"><span class="s2"><strong>8. Consent and Control<br /></strong>
                                        Consent is often referred to as an individual’s choice to “opt in” or “opt out”
                                        of NIIT’s use of personal information
                                        and is usually obtained by a “check box” or signature confirming that the
                                        individual understands and agrees to the
                                        processing of his or her personal information. At times, express written consent
                                        from the individual may be required
                                        based on the information-processing activity. NIIT receives consent from
                                        individuals before:

                                        <p class="p8"> <span>i. collecting, using, or processing their personal
                                                        information, including
                                                        sensitive personal information, in certain
                                                        ways or sharing their personal information with any third
                                                        party;</span></p>

                                        <p class="p8"><span>ii. transferring the individuals’ personal information
                                                        outside of their country
                                                        of residence; or</span></p>

                                        <p class="p8"><span> iii. using or placing web cookies on an individual’s
                                                        computer or other
                                                        electronic devices </span></p>
                                </span></p>



                        <p class="p7"><span class="s2"><strong>10. Data Storage<br /></strong>
                                        Your personal information is stored on our systems or third-party cloud provider
                                        with industry best security
                                        certifications and practices</span></p>
                        <p class="p7"><span class="s2"><strong>11.Retention and disposal<br /></strong>
                                        We keep your Personally Identifiable Information for no longer than necessary
                                        for the purposes for which the Personally
                                        Identifiable Information is processed. The length of time we retain Personally
                                        Identifiable Information for depends on
                                        the purposes for which we collect and use it and/or as required to comply with
                                        applicable laws and to establish,
                                        exercise or defend our legal rights.</span></p>
                        <p class="p7"><span class="s2"><strong>12.Supplier Obligations<br /></strong>
                                        Our supplier being the cloud service provider for this website and therein being
                                        the custodian of information will be
                                        liable for the management of the following:

                                        <p> <span>i. security of the personal information</span></p>

                                        <p> <span>ii. appropriate retention and disposal of personal information</span>
                                        </p>

                                        <p> <span>iii. appropriate storage of personal information</span></p>

                                        Please read the supplier privacy policy for further information at
                                        https://legal.hubspot.com/privacy-policy
                                </span></p>

                        <p class="p7"><span class="s2"><strong>13. Your Consent<br /></strong>
                                        Please refer to the end of this policy for providing your consent. Your consent
                                        to personal data collection and
                                        processing may be revoked by notifying us via email (Refer to Section on
                                        “Privacy Contact Information.”). For users
                                        below the age of 16, the consent should be provided by the holder of parental
                                        responsibility of the child.

                                        Please note, in case you choose to not provide us with the consent or withdraw
                                        the consent at any given point of time,
                                        we shall not be able to provision the services as detailed in Section 4.2 of
                                        this policy.</span></p>
                        <p class="p7"><span class="s2"><strong>14.Privacy Contact Information<br /></strong>
                                        If you have any questions regarding our Privacy Statement or if you need to
                                        update, change, or remove information, you
                                        can do so by contacting Privacy Office at NIIT by email addressed to:
                                        PrivacyOffice@niit.com.</span></p>


                        <p class="p7"><span class="s2"><strong>15.Changes to this Policy<br /></strong>
                                        This policy will be updated subject to any changes in information collection,
                                        activities performed or any applicable
                                        regulations. You are encouraged to review the privacy policy whenever you visit
                                        the website, to make sure that you
                                        understand how any personal information you provide will be used.</span></p>
                </ol>

        </div>
</section>