@import 'ws-mixins';
#cimage {
  background-size: cover;
  background-position: center;
  width: 100%;
  // height: 22rem;
}
.container {
  max-width: 100%;
  justify-content: center;
  margin: 0;
}
.imgsize {
  // height: 22rem;
  // overflow-y: hidden;
  margin-top: -1rem;
  height: 16rem;
  background-image: url(/assets/instances/space/banners/CollaboratorsBanner.png);
  background-size: cover;
  background-position: center;
  @include breakpoint-xs {
    height: 11rem !important;
    // margin-top: 0em !important;
    background-position: right;
  }
}
#textDec {
  font-size: -webkit-xxx-large;
  font-family: campaign, sans-serif;
}
.jumbotron {
  background-color: white !important;
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
.partnerBody {
  font-size: 17px;
  line-height: 2;
  text-align: center;
  font-family: campaign, sans-serif;
  font-weight: 400 !important;
  @include breakpoint-xs {
    padding-top: 0rem !important;
  }
}

.imageRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media only screen and (min-width: 453px) and (max-width: 680px) {
  .imageRow {
    display: inline !important;
  }
  .box {
    width: 35% !important;
    // padding: 5.5em 0em 0 -0rem !important;
    margin-right: 10px !important;
  }
}
@media only screen and (min-width: 312px) and (max-width: 453px) {
  .imageRow {
    display: inline !important;
  }
  .box {
    width: 35% !important;
    padding: 5.5em 0em 0 -0rem !important;
    margin-right: 10px !important;
  }
}
.box {
  width: 34%;
  padding: 5.5em 0em 0 8rem;
  margin-right: 10px;
}
a {
  background-color: transparent;
  color: #1cadce;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
}
