@import 'ws-vars';
@import 'ws-common';

/* collaborator page design start */
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
width:240px;
height: 65px;
  @include breakpoint-xs {
    font-size: 38px !important;
  }
}
  @media only screen and (max-width: 321px) {
    .header {
    font-size: 27px !important;
    width: 217px !important;
  }
}
.partnerContainerBody {
  @include breakpoint-xs {
    padding-top: 2.5rem !important;
  }
}
.ellipse2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Ellipse16.png);
    background-size: 5rem;
    background-position: center;
    width: 19%;
    height: 5rem;
    float: right;
    margin-top: -7rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
       margin-top: -9rem;
    }
    @include breakpoint-m {
      margin-top: -9rem !important;
    }
}
.group {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group19.png);
    background-size: 3rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    float: right;
    margin-top: 1rem;
    margin-right: -3.5rem;
     @include breakpoint-xs {
       display: none;
     }
     @include breakpoint-s {
       margin-right: -2.5rem !important;
       width: 13% !important;
     }
}
.group2 {
    background: no-repeat;
    background-image: url(/assets/instances/space/banners/Group17.png);
    background-size: 4rem;
    background-position: center;
    width: 10%;
    height: 5rem;
    margin-top: -7rem;
    margin-left: 51rem;
    @include breakpoint-xs {
       display: none;
     }
    @include breakpoint-s {
      margin-left: 30rem !important;
    }
    @include breakpoint-m {
      margin-left: 40rem !important;
    }
}
.container {
  max-width: 100%;
  justify-content: center;
  margin: 0;
}
.imageRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
@media only screen and (min-width: 453px) and (max-width: 680px) {
  .imageRow {
    display: inline !important;
  }
  .box {
    width: 35% !important;
    // padding: 5.5em 0em 0 -0rem !important;
    margin-right: 10px !important;
  }
}
@media only screen and (min-width: 312px) and (max-width: 453px) {
  .imageRow {
    display: inline !important;
  }
  .box {
    margin: .5rem !important;
    padding-top: 2rem !important;
    width: 13rem !important;
  }
}
.box {
    padding: 1em 1em 1rem 1rem;
    margin-top: 2.5rem;
    border: 2px solid #925EB0;
    box-sizing: border-box;
    border-radius: 20px;
    height: 10rem;
    margin: .5rem;
    padding-top: 2.5rem;
    width: 13rem;
}
a {
  background-color: transparent;
  color: #1cadce;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
}
img {
  width: 9rem;
}
.exception-style {
  padding-top: 0 !important;
}
/* collaborator page design end */
// @import 'ws-mixins';
// #cimage {
//   background-size: cover;
//   background-position: center;
//   width: 100%;
// }
// .container {
//   max-width: 100%;
//   justify-content: center;
//   margin: 0;
// }
// .imgsize {
//   margin-top: -1rem;
//   height: 16rem;
//   background-image: url(/assets/instances/space/banners/CollaboratorsBanner.png);
//   background-size: cover;
//   background-position: center;
//   @include breakpoint-xs {
//     height: 11rem !important;
//     background-position: right;
//   }
// }
// #textDec {
//   font-size: -webkit-xxx-large;
//   font-family: campaign, sans-serif;
// }
// .jumbotron {
//   background-color: white !important;
// }
// .jumbotron-fluid {
//   padding-right: 0;
//   padding-left: 0;
//   border-radius: 0;
// }
// @media (min-width: 576px) {
//   .jumbotron {
//     padding: 4rem 2rem;
//   }
// }
// .jumbotron {
//   padding: 2rem 1rem;
//   margin-bottom: 2rem;
//   border-radius: 0.3rem;
// }
// .partnerBody {
//   font-size: 17px;
//   line-height: 2;
//   text-align: center;
//   font-family: campaign, sans-serif;
//   font-weight: 400 !important;
//   @include breakpoint-xs {
//     padding-top: 0rem !important;
//   }
// }

// .imageRow {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 20px;
// }
// @media only screen and (min-width: 453px) and (max-width: 680px) {
//   .imageRow {
//     display: inline !important;
//   }
//   .box {
//     width: 35% !important;
//     margin-right: 10px !important;
//   }
// }
// @media only screen and (min-width: 312px) and (max-width: 453px) {
//   .imageRow {
//     display: inline !important;
//   }
//   .box {
//     width: 35% !important;
//     padding: 5.5em 0em 0 -0rem !important;
//     margin-right: 10px !important;
//   }
// }
// .box {
//   width: 34%;
//   padding: 5.5em 0em 0 8rem;
//   margin-right: 10px;
// }
// a {
//   background-color: transparent;
//   color: #1cadce;
//   text-decoration: none;
//   -webkit-transition: 0.2s ease-in;
// }
