<section _ngcontent-dpj-c10="">
  <div _ngcontent-dpj-c10="" class="">
    <img [src]="collaboratorBanner" id="cimage">
    <div _ngcontent-dpj-c10="" class="container">
      <div _ngcontent-dpj-c10="" class="row mb-4">
        <div _ngcontent-dpj-c10="" class="col-md-12"></div>
        <!-- <p class="text-center" id="textdec">Collaborators</p> -->
      </div>
    </div>
  </div>
  <p _ngcontent-dpj-c10="" class="container partnerBody"> Organizations and institutions who are practitioners of
    Societal Platform approach and contributing assets for public use. </p>
  <div _ngcontent-dpj-c10="" class="container container-fluid partnerContainer">
    <div _ngcontent-dpj-c10="" class="partnerContainerBody">
      <div _ngcontent-dpj-c10="" class="row imageRow">
        <div _ngcontent-dpj-c10="" class="box"><a _ngcontent-dpj-c10="" href="https://www.aastar.org/"
            target="_blank"><img _ngcontent-dpj-c10="" class="p-0"
              src="assets/instances/space/app-collaborators-logos/aastar.png"></a>
        </div>
        <div _ngcontent-dpj-c10="" class="box"><a _ngcontent-dpj-c10="" href="https://www.echoindia.in/"
            target="_blank"><img _ngcontent-dpj-c10=""
              src="assets/instances/space/app-collaborators-logos/ECHO.png"></a></div>
        <div _ngcontent-dpj-c10="" class="box"><a _ngcontent-dpj-c10="" href=" https://www.egovernments.org/"
            target="_blank"><img _ngcontent-dpj-c10="" class="p-0"
              src="assets/instances/space/app-collaborators-logos/Egov.png"></a>
        </div>
        <div _ngcontent-dpj-c10="" class="box"><a _ngcontent-dpj-c10="" href="https://ekstep.in/" target="_blank"><img
              _ngcontent-dpj-c10="" class="p-0" src="assets/instances/space/app-collaborators-logos/EkStep.png"></a>
        </div>
        <div _ngcontent-dpj-c10="" class="box"><a _ngcontent-dpj-c10="" href="https://shikshalokam.org/"
            target="_blank"><img _ngcontent-dpj-c10=""
              src="assets/instances/space/app-collaborators-logos/ShikshaLokam.png"></a></div>
      </div>
    </div>
    <!---->
  </div>
</section>
