
.format{

    text-align: center;
    padding-top: 10vh;
}
.example-button-row {
    display: table-cell;
    width: 490px;
  }

  .button-align{
      text-align: center;
  }
  .width{
width: 600px;
  }
  .signup{
    margin-top:10vh;
    margin-left: 50vh;
    margin-right: 50vh;
  }
  /* ::ng-deep{
     .theme-muave.day-mode .mat-button, .theme-muave.day-mode .mat-icon-button, .theme-muave.day-mode .mat-stroked-button{
    background:  #451771 !important;
  }
  }
  .theme-muave.day-mode .mat-button, .theme-muave.day-mode .mat-icon-button, .theme-muave.day-mode .mat-stroked-button{
    background:  #451771 !important;
  } */