
.format{

    text-align: center;
    padding-top: 10vh;
}
.example-button-row {
    display: table-cell;
    width: 490px;
  }

  .button-align{
      text-align: center;
  }
  .width{
width: 600px;
  }
  .signup{
    margin-top:10vh;
    margin-left: 50vh;
    margin-right: 50vh;
  }