<mat-toolbar class="mat-primary" [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
    <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
    <span class="margin-left-s text-color" i18n>qrcode</span>
</mat-toolbar>
<mat-card class= "qrcode">
<div class="format">
    <h1>Communication - Very Good</h1>
    <h1>Birds History – Very Good</h1>
    <h1>Indian Birds Knowledge - Good</h1>
    <h1>Birds Feeding - Good</h1>
    <h1>Multi Location Experience - Good</h1>
</div>
</mat-card>