
.qrcode{
    width: 100%;
    min-width: 50vh;
    text-align: center;
    /* padding-left: 70vh;
     padding-right: 70vh; */
}

 h1
 {

     font-family: "Lucida Console", Courier, monospace!important;
}

.intro{
/* text-align:center; */
margin:auto;
width:800px;
height:600px;
padding:20px;
border: 10px solid #787878
}

.intro1 {

width:750px;
height:550px;
padding:20px;
text-align:center;
border: 5px solid #787878

}

.v1{
font-size:50px;
font-weight:bold
}
.v2 {

font-size:25px
}
.v3 {
padding-top: 50%;
font-size:30px
}
.v4 {

font-size:20px
}
.center{

padding-left: 300px;
}
.date{
padding-left: 78vh;
}
.main{
padding-top: 14vh;
}
.certificate{
    text-align: center;
    /* padding-left: 40vh; */
    justify-content: center;
    align-items: center;
     min-width: 134vh;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    min-width: 139vh;
}
/* .format{
    padding-left: 35vh;
} */