.format{
    margin: auto;
    width: 73vw;
   text-align: center;
  //  padding-bottom: 10px;

}
.vn1{
    margin:auto;
width:800px;
height:350px;
padding:20px;
border: 10px solid #787878
}
.vn2{
    width:750px;
height:300px;
padding:20px;
text-align:center;
border: 5px solid #787878
}
.skills{

    font-family: 'Cormorant Garamond'!important;

font-weight:bold;
}
@media screen and (min-width: 601px) {
  span.skills {
    font-size:50px;
  }
}

@media screen and (max-width: 600px) {
  span.skills {
    font-size: 20px;
  }
}
.space{
    // padding-top: 18px;
    line-height: 3.0;
}



.v1{
  font-family: 'Cormorant Garamond'!important;
 text-align: center;
font-size:55px;
font-weight:bold

}
.v2 {
 font-family: 'Cormorant Garamond'!important;

}
.v3 {
   font-family: 'Cormorant Garamond'!important;
// padding-top: 50%;

}
.v4 {
 font-family: 'Cormorant Garamond'!important;

}
.center{
// padding-top:23px;
align-content: center;
}
.date {
  text-align: end;
}
@media screen and (min-width: 641px) {
  div.date {
    padding-top:3%;
  }
}

@media screen and (max-width: 600px) {
  div.date {
    padding-top: 12%;
  }
}
@media screen and (min-width: 601px) {
  span.certDate {
    // padding-top:12%;
    text-align: initial;
     display: flex;
     flex-direction: row;
  align-items: initial;
  padding-left: 6%;
  }
}

@media screen and (max-width: 600px) {
  span.certDate {
    // padding-top: 20%;
    font-size: 30%;
       text-align: initial;
     display: flex;
     flex-direction: row;
  align-items: initial;
  padding-left: 6%;
  }
}
.main{
padding-top: 14vh;
}
.place{
  margin-top: 30px;
  background-image: url("../../../../../fusion-assets/certificatetemplate/certificate2.jpg") ;
   background-repeat: no-repeat;

  width: 1056px;
background-size: contain;
text-align: center;
  //    display: flex;
  //    flex-direction: column;
  // justify-content: center;
}
@media screen and (min-width: 601px) {
  div.place {
    height: 816px;
     }
}

@media screen and (max-width: 600px) {
  div.place {
    height: 350px;
    width: 431px;
  }
}
@media screen and (min-width: 601px) {
  div.pad {
// padding-top:200px;
padding-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
     }
}
@media screen and  (max-width: 768px) and (min-width: 602px) {
  div.pad {
   padding-top: 6vh;
  }
}

@media screen and (max-width: 600px) {
  div.pad {
    padding-top: 16vh;
  }
}

@media screen and (min-width: 601px) {
  span.v1 {
    font-size: 55px;
    line-height: 1.8;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  span.v1 {
    font-size: 15px;
    line-height: 1.0;
    display: block;
  }
}
@media screen and (min-width: 601px) {
  span.v2 {
    font-size:25px;
    line-height: 1.8;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  span.v2 {
    font-size: 10px;
    line-height: 1.0;
    display: block;
  }
}
@media screen and (min-width: 601px) {
  span.v3 {
    font-size:40px;
    line-height: 1.8;
    // display: block;
  }
}

@media screen and (max-width: 600px) {
  span.v3 {
    font-size: 10px;
    line-height: 1.0;
    // display: block;
  }
}
@media screen and (min-width: 601px) {
  span.v4 {
    font-size:20px;
    line-height: 1.8;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  span.v4 {
    font-size: 10px;
    line-height: 1.0;
    display: block;
  }
}
.pad{
  text-align: center;
  // padding-top: 147px;
}
.wid{
     margin: auto;
   min-width: 73vw;
   text-align: center;
   padding-bottom: 10px;
}
.certDate{
    margin:auto;
font-family: Arial, Helvetica, sans-serif!important;



}

.cerforskills{
      margin-top: 30px;

  background-image: url("../../../../../fusion-assets/certificatetemplate/skills.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;

  width: 1056px;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 601px) {
  div.cerforskills {
 padding-top:30px;
 height: 816px;

  }
}
@media screen and (max-width: 600px) {
  div.cerforskills {
 padding-top:10px;
 height: 350px;
 width: 431px;
  }
}


@media screen and (min-width: 601px) {
  span.v {
    font-size: 25px;
    line-height: 1.8;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  span.v {
    font-size: 10px;
    line-height: 2.0;
    display: block;
  }
}
.feedback{
          margin: auto;
 /* Center and scale the image nicely */
 background-repeat: no-repeat;
  height: 776px;
//  min-width: 1064px;
}


@media screen and (min-width: 601px) {
  div.top-space {
  padding-top: 150px;
  }
}

@media screen and (max-width: 700px) {
  div.top-space {
 padding-top: 50px;
  }
}

.v {
 font-family: 'Cormorant Garamond'!important;

}



.parent-container {
    text-align:center;
    // padding-top: 30px;
    // padding-bottom: 50px;
        width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.word-cloud-header {
    text-align: center;
    margin-bottom: 0
}

.word-cloud-group {
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.word-cloud-group:nth-last-child(1) {
    margin-bottom: 0;
}

.word-cloud-div {

    margin: auto;
    padding: 50px;
    position: relative;
    text-align: center;
}
@media screen and (min-width: 601px) {
  div.word-cloud-div {
      height: 509px;
    width: 544px;
  }
}

@media screen and (max-width: 600px) {
  div.word-cloud-div {
    height: 412px;
    width: 220px;
    object-fit: contain;
  }
}

p {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.mat{
       margin: auto;
   padding-bottom: 10px;
   max-height: 174vh;
   height:100%;
   min-width: 71vw;
   text-align: center;
   object-fit: contain;


}


.Engagements{
    padding-top: 73px;
}



.skillsrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skillscol{
    display: flex;
    flex-direction: col;
    justify-content: center;
}

.feedbacksrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding-top: 25px;

}
.all{
  /* Center and scale the image nicely */
  max-height: 392vh;
  min-height: 207vh;
  padding-top:10px;
//   padding-bottom:35vh;
//   padding-top: 10vh;
 overflow-x: scroll;
overflow-y:hidden;

}
.allElements{
   text-align: center;
}

