.format{
    margin: auto;
    min-width: 73vw;
   text-align: center;
   padding-bottom: 10px;

}
.vn1{
    margin:auto;
width:800px;
height:350px;
padding:20px;
border: 10px solid #787878
}
.vn2{
    width:750px;
height:300px;
padding:20px;
text-align:center;
border: 5px solid #787878
}
.skills{
    font-family: 'Cormorant Garamond'!important;
    font-size:50px;
font-weight:bold;
}
.space{
    padding-top: 18px;
}



.v1{
  font-family: 'Cormorant Garamond'!important;
 text-align: center;
font-size:55px;
font-weight:bold

}
.v2 {
 font-family: 'Cormorant Garamond'!important;
font-size:25px
}
.v3 {
   font-family: 'Cormorant Garamond'!important;
padding-top: 50%;
font-size:40px
}
.v4 {
 font-family: 'Cormorant Garamond'!important;
font-size:20px
}
.center{
padding-top:23px;
align-content: center;
}
.date {
    padding-left: 758px;
    padding-top: 142px;
}
.main{
padding-top: 14vh;
}
.place{
  margin: auto;
  background-image: url("../../../../../fusion-assets/certificatetemplate/certificate.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  height: 821px;
  width: 1064px;
}
.pad{
  text-align: center;
  padding-top: 147px;
}
.wid{
     margin: auto;
   min-width: 73vw;
   text-align: center;
   padding-bottom: 10px;
}
.certDate{
    margin:auto;
font-family: Arial, Helvetica, sans-serif!important;
font-size: 90%;
padding-right: 704px;
}

.cerforskills{
      margin: auto;
  background-image: url("../../../../../fusion-assets/certificatetemplate/skills.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  height: 500px;
 min-width: 1064px;

}
.feedback{
          margin: auto;
 /* Center and scale the image nicely */
 background-repeat: no-repeat;
  height: 776px;
 min-width: 1064px;
}
.top-space{
    padding-top: 16vh;
}
.v {
 font-family: 'Cormorant Garamond'!important;
font-size:25px
}



.parent-container {
    text-align:center;
    // padding-top: 30px;
    // padding-bottom: 50px;
        width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.word-cloud-header {
    text-align: center;
    margin-bottom: 0
}

.word-cloud-group {
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.word-cloud-group:nth-last-child(1) {
    margin-bottom: 0;
}

.word-cloud-div {
    height: 509px;
    width: 850px;
    margin: auto;
    padding: 50px;
    position: relative;
    text-align: center;
}


p {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.mat{
       margin: auto;

   text-align: center;
   padding-bottom: 10px;
   max-height: 158vh;
   min-width: 73vw;
}
.Engagements{
    padding-top: 73px;
}



.skillsrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skillscol{
    display: flex;
    flex-direction: col;
    justify-content: initial;
}

.feedbacksrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;

}
.all{
  margin: auto;

  /* Center and scale the image nicely */
  height: 271vh;
 overflow: scroll;

}
.allElements{
      height: 271vh;
    max-width: 98vw;
    min-width: 1074px;
}