<div>
<mat-toolbar class="mat-primary tool" [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
    <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
    <span class="margin-left-s text-color" i18n>Certificate & Details</span>
</mat-toolbar>
<mat-card class = "format">
<div class="cerforskills">
    <div class ="top-space">
    <span class="skills">Certified For Skills</span>
<div class = "space">

    <span class = "v"><i>Communication - {{student?.Communication}}</i></span>
    <br/><br />
    <span class = "v"><i>Birds History – {{student?.Birds_history}}</i></span>
    <br /><br />
    <span class = "v"><i>Indian Birds Knowledge - {{student?.Indian_birds_knowledge}}</i></span>
    <br /><br />
    <span class = "v"><i>Birds Feeding - {{student?.Bird_feeding}}</i></span>
    <br /><br />
    <span class = "v"><i>Multi Location Experience - {{student?.Multi_location_experience}}</i></span>
</div>
</div>
    </div>
</mat-card>


<div *ngIf="student?.employmentStatus=='Beginner'" class="center">
    <mat-card class="wid">
        <div class="place">
            <div class="pad">
                <span class="v1">Certificate of Participation</span>
                <br><br>
                <span class="v2"><i>This is to certify that</i></span>
                <br><br>
                <span class="v3"><b>{{student?.first_name}} {{student?.last_name}}</b></span><br /><br />
                <span class="v2"><i>has completed the course</i></span> <br /><br />
                <span class="v3"><b>{{student?.department_name}}</b></span> <br /><br />
                <span class="v4"><i>with status of </i><b>{{student?.employmentStatus}}</b></span>
                <br /><br /><br /><br />
                <br /><br /><br /><br />
                <div class="date">
                    <span class="v2"><i>Certified on</i></span><br><br>
                    <span class="v3"><b>{{date| date:'dd MMM yyyy'}}</b></span>
                </div>
                <span class="certDate"><b>{{date| date:'dd MMM yyyy'}}</b></span>
            </div>

        </div>
    </mat-card>
</div>

<div *ngIf="student?.employmentStatus=='Expert'" class="center">
    <mat-card class="wid">
        <div class="place">
            <div class="pad">
                <span class="v1">Certificate of Achievement</span>
                <br><br>
                <span class="v2"><i>This is to certify that</i></span>
                <br><br>
                <span class="v3"><b>{{student?.first_name}} {{student?.last_name}}</b></span><br /><br />
                <span class="v2"><i>has completed the course</i></span> <br /><br />
                <span class="v3"><b>{{student?.department_name}}</b></span> <br /><br />
                <span class="v4"><i>with status of </i><b>{{student?.employmentStatus}}</b></span>
                <br /><br /><br /><br />
                <br /><br /><br /><br />
                <div class="date">
                    <span class="v2"><i>Certified on</i></span><br><br>
                    <span class="v3"><b>{{date| date:'dd MMM yyyy'}}</b></span>

                </div>
                <span class="certDate"><b>{{date| date:'dd MMM yyyy'}}</b></span>

            </div>



        </div>

    </mat-card>
</div>