// @import 'ws-vars';
// @import 'ws-mixins';

// .allignment{
// padding: 8px 20px;
// line-height: 1.7;
// // font-family: Montressat,sans-serif;
// @include breakpoint-xs {
//    padding: 0 !important;
// }

// }
// #cimage {
//   background-size: cover;
//   background-position: center;
//   width: 486px;
//   height: 346px;
//    @include breakpoint-xs {
//       width: 18rem !important;
//       height: auto !important;
//     }
//       @include breakpoint-s {
// width: 20rem !important;
// height: auto !important;
//   }
// }
// .imgsize {
//   height: 18rem;
//   // overflow-y: hidden;
//   // margin-top: -3rem;
//   @include breakpoint-xs {
//     height: auto !important;
//     margin-top: 0em !important;
//   }
// }

// .font-style{
// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 24px;
// color: #696466;
// @include breakpoint-xs {
//   width: 17rem;
// }
// }
// .text-style{
// font-weight: 600;
// font-size: 16px;
// line-height: 24px;
// color: #925EB0 !important;;
// }
// .font-text{


//   font-family: campaign, sans-serif !important;
//   font-size: 17px;

// }


// @media screen and (max-width: 450px) {
//   .spaceallign{
//   padding-left:0.8em;
// }

// }
// @media screen and (max-width: 380px) {
//   .spaceallignment{
//   padding-left:0em;
// }

// }
// .colortheme{
//   color:#865ba0;

// }
// // .boldcolor{
// //   color: #865ba0 !important;
// // }

// .flex {
//   justify-content: flex-start;
// }
// .col-1 {
//   flex: 1;
// }
// .col-2 {
//   flex: 1;
// }
// .header {
// font-weight: 460;
// font-size: 48px;
// line-height: 55px;
// color: #925EB0;
// @include breakpoint-xs {
//   width: 19rem !important;
//   font-size: 22px !important;
// }
//   @include breakpoint-s {
// font-size: 35px !important;
//   }
// }
// .img-container {
//   float: right;
//   width: 30rem;
//   @include breakpoint-xs {
//     width: auto !important;
//   }
//   @include breakpoint-s {
// width: 17rem !important;
//   }
//   // height: 17rem;
// }
// @media screen and (min-width:280px) and (max-width: 320px) {
//   #cimage {
//     width: 16rem !important;
//   }
//    .img-container {
//   width: auto !important;
//   float: none !important;
// }
//   .header{
//     width: 17rem !important;
//    }
//    .font-style {
//     width: 14rem !important;
//     // margin-left: 8px;
// }
// }
// @media screen and (min-width:539px) and (max-width: 542px) {
// .font-style {
//     width: 25rem !important;
// }
// .header {
//     width: 31rem !important;
//     font-size: 20px !important;
// }
// }
// @media only screen and (max-width: 959px) and (min-width: 600px){
// #cimage {
//     width: 17rem !important;
//     height: auto !important;
// }
// }

// @media only screen and (min-width: 376px) and (max-width: 767px){
//   .mobileheader{
//     padding-top: 170px !important;
//   }
// }
// @media only screen and (min-width: 270px) and (max-width: 319px){
//   .mobilefont{
//   font-size: 13px !important
// }
// // .galaxyfoldallign{
// //   width: min-content !important;
// // }
// }

@import 'ws-vars';
@import 'ws-mixins';
.allignment{
padding: 8px 24px;
line-height: 1.7;
@include breakpoint-xs {
   padding: 0 !important;
}
}
#cimage {
  background-size: cover;
  background-position: center;
  // width: 100%;
    width: 502px;
    height: 330px;
    @include breakpoint-xs {
      width: 18rem !important;
      height: auto !important;
    }
      @include breakpoint-s {
width: 15rem !important;
height: auto !important;
  }
}
.imgsize {
  height: 18rem;
  @include breakpoint-xs {
    height: auto !important;
    margin-top: 0em !important;
  }
}

.font-style{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #696466;
@include breakpoint-xs {
  width: 17rem;
}
}
.text-style{
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #925EB0 !important;;
}
.font-text{
    font-size: 18px;
    line-height: 24px;
    font-family: Montserrat;
    font-style: normal;
}
.spaceallignment{
  padding-left: 0rem !important;
}
@media screen and (max-width: 450px) {
  .spaceallign{
  padding-left:0.8em;
}
}
@media screen and (max-width: 380px) {
  .spaceallignment{
  padding-left:0em;
}

}
.font-text-1 {
   font-size: 16px;
    line-height: 24px;
    font-family: Montserrat;
    font-style: normal;
}

.colortheme{
  color:#865ba0;
}
.flex {
  justify-content: flex-start;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1;
}
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
padding-left: 2.5rem !important;
@include breakpoint-xs {
  width: 19rem !important;
  font-size: 22px !important;
}
  @include breakpoint-s {
font-size: 19px !important;
  }
}
.img-container {
  float: right;
  width: 30rem;
  margin-top: -5rem !important;
  @include breakpoint-xs {
    width: auto !important;
    margin-top: auto !important;
    float: unset !important;
  }
  @include breakpoint-s {
width: 17rem !important;
  }
  // height: 17rem;
}
@media screen and (min-width:280px) and (max-width: 320px) {
  #cimage {
    width: 16rem !important;
  }
   .img-container {
  width: auto !important;
  float: none !important;
  margin-top: auto !important;
}
  .header{
    width: 17rem !important;
    font-size: 19px !important;
    padding-left: 0 !important;
    text-align: center !important;
   }
   .font-style {
    width: 14rem !important;
}
}
@media screen and (min-width:542px) and (max-width: 569px) {
  .font-style {
    width: 29rem !important;
  }
}
@media screen and (min-width:539px) and (max-width: 542px) {
.font-style {
    width: 25rem !important;
    font-size: 16px !important;
}
.header {
    width: 31rem !important;
    font-size: 16px !important;
}
}
@media screen and (min-width:1020px) and (max-width: 1027px) {
.header {
  font-size: 33px;
}
}


@media screen and (min-width:270px) and (max-width: 319px) {
.font-style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 24px;
    color: #696466;
}

}

.alligncontent{
  padding-left: 16px;
}

@media screen and (min-width:320px) and (max-width: 374px) {

.font-style{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 24px;
    color: #696466;
}

}