<!-- <mat-toolbar [color]="pageNavbar?.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'back' }"></ws-widget-btn-page-back>
  <span class="margin-left-xs text-truncate">
    <span i18n="page title: grievanceredressal" class="margin-left-xs">Terms Of Use
    </span>
  </span>
</mat-toolbar> -->
<section class="mat-drawer-container mat-drawer-container-has-open mat-drawer-transition">
  <div class="allignment">
    <!-- <div class="text-wrap"> -->


    <!-- <div class="imgsize"> -->
    <h1 class="header heading-style mobileheader mobilealign">Terms Of Use</h1>

    <div class="img-container">
      <img [src]="termsOfUse" id="cimage" />
    </div>

    <!-- <div class="container"> -->
    <!-- <div class="row mb-4">
        <div class="col-md-12"></div> -->
    <!-- <p class="text-center" id="textdec">Collaborators</p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="allignment font-style"> -->
    <div class="ml-10">

      <!-- <p class="p1"><span class="s1"><strong>Terms of Use</strong></span></p> -->
      <!-- <h1 class="header heading-style mobileheader">Terms Of Use</h1> -->
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">Effective Date: 15</span><span class="s2 font-style"><sup>th</sup></span><span
          class="s1 font-style"> July, 2020</span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">The SPaceplatform available on
          <a href="https://space.societalplatform.org/" target="_blank"><span
              class="s3 font-style">https://space.societalplatform.org/</span></a><span
            class="Apple-converted-space font-style mobilefont">&nbsp; </span>(&ldquo;<strong
            class="font-text">Platform</strong>&rdquo;) has been developed and is being maintained by EkStep
          Foundation (&ldquo;<strong class="font-text">EkStep</strong>&rdquo;). The Platform has been developed with a
          purpose </span><span class="s4 font-style">to enable interactions among practitioners of
          <a target="_blank" href="https://societalplatform.org/" class="font-style"><span
              class="s3 font-style">Societal Platform Idea</span></a>
          including but not limited to people from societal organisations, consulting organisations,
          academia.</span><span class="s1 font-style">
          (&ldquo;<strong class="font-text">Purpose</strong>&rdquo;).
          <span class="Apple-converted-space font-style">&nbsp;</span></span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">EkStep is a not-for-profit company registered under the Indian Companies Act 2013,
          having
          its office at No. 85, 7th Cross, Koramangala 4th Block, Bangalore 560034.<span
            class="Apple-converted-space font-style">&nbsp;</span></span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">The terms &lsquo;you&rsquo;, &lsquo;your&rsquo; refer to anyone who accesses,
          views, uses
          or contributes (&ldquo;<strong class="font-text">Use(s)</strong>&rdquo;) to the Platform
          (&ldquo;<strong class="font-text">User</strong>&rdquo;). The terms "we", "us", "our" refer
          to EkStep. These terms of use, as amended, (&ldquo;<strong class="font-text">Terms</strong>&rdquo;) govern
          the usage of the Platform by its Users.<span class="Apple-converted-space font-style">&nbsp;</span></span>
      </p>
      <p class="p2">&nbsp;</p>
      <p class="p3 font-style">
        <span class="s1 font-style">By using the Platform, you have accepted and agree to be governed by these Terms,
          as may be
          amended from time to time.<span class="Apple-converted-space font-style">&nbsp;</span></span>
      </p>
      <p class="p2">&nbsp;</p>
      <ol class="ol1 font-style spaceallign">
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Definitions</strong><br /><br /></span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style"><strong class="font-text">Content</strong> means and includes
              content,
              resources,
              assets, courses, feedback and postings on the Platform expressed as text, documents,
              presentations, scripts, graphics, images, illustrations, photos, sounds, music, videos,
              audiovisual combinations, codebase/code, documentation, APIs, sandbox, links to external
              web pages or other such mediums of expression and other materials you may view on,
              access through or contribute to the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style"><strong class="font-text">Platform</strong> means the SPace
              platform, an
              initiative of
              EkStep Foundation, which is accessible online at its web domain
              <a target="_blank" href="https://space.societalplatform.org/" class="font-style"><span
                  class="s3 font-style">https://space.societalplatform.org/</span></a>
              and through its mobile applications.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style"><strong class="font-text">Use / Usage / Using</strong> means and
              refers to
              using,
              accessing, viewing or contributing Content on the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style"><strong class="font-style">User</strong> means and refers to all the
              users of
              the
              Platform, who can access the Platform and use the Content on the Platform, including but
              not limited to User who are authorised to be content creators, reviewers or
              publishers.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p4">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Access &amp; Use of the
              Platform</strong><br /><br /></span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">All Users need to register with the Foundation to Use the Platform.<span
                class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">All Users are expected to be 18 year or above.<span
                class="Apple-converted-space font-style">&nbsp; </span>As a User, you represent and warrant that you
              are of legal age and are legally
              competent to form a binding contract. If you&rsquo;re agreeing to these Terms on behalf
              of an institution, organization or legal entity, you represent and warrant that you are
              duly authorized to agree to these Terms on behalf of that institution, organization or
              entity and these Terms are binding on them.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">We reserve the right to refuse or terminate registration if it is brought to
              our notice
              that you are below 18 years of age.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users can:</span>
          </li><br />
          <ol class="ol3 font-style spaceallignment">
            <li class="li3 font-style" style="list-style-type: lower-roman;">
              <span class="s1 font-style">Access and use Content available on the Platform;</span>
            </li><br />
            <li class="li3 font-style" style="list-style-type: lower-roman;">
              <span class="s1 font-style">Create and manage their User Profiles;<span
                  class="Apple-converted-space font-style">&nbsp;</span></span>
            </li><br />
            <li class="li3 font-style" style="list-style-type: lower-roman;">
              <span class="s1 font-style">Communicate with other Users; and</span>
            </li><br />
            <li class="li3 font-style" style="list-style-type: lower-roman;">
              <span class="s1 font-style">Share Content with other Users.</span>
            </li><br />
          </ol>
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Certain Users may have additional authorisations to create, curate, review and
              publish
              Content on the Platform and accordingly may have additional permissions and usage rights
              on the Platform that enables them to contribute Content on the Platform. Such rights and
              authorisations shall be given by the Foundation, at its sole discretion.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users are responsible for maintaining the confidentiality of their User ID and
              password
              and all activities that occur under their User ID and password. Any unauthorised use of
              your User ID and password or any breach of security must be notified by sending any
              email notification to
              <a href="mailto:space@societalplatform.org" class="font-style"><span
                  class="s3 font-style">space@societalplatform.org</span></a>.<span
                class="Apple-converted-space font-style">&nbsp; </span>Users agree to provide
              true, accurate, current and complete information about themselves.<span
                class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users shall not transfer their rights to access the Platform to another person
              unless
              they have obtained explicit consent from EkStep in writing to do so.<span
                class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">All Users shall follow the extant policies and guidelines of the Platform at
              all times
              while Using the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">As a User, you will be responsible for all your actions and activities in
              relation to
              your Usage of the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Your Use of the Platform may possibly be disrupted due to technical or
              operational
              difficulties, without prior notice of downtime. EkStep makes no guarantee as to the
              continuous uptime and availability of the Platform or the quality of Content on the
              Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Subject to the terms and conditions set forth in these Terms of Use, EkStep
              grants the
              User a non-exclusive, non-transferable, non-commercial, limited right to access the
              Platform and the Content therein. Users shall access the Content on the Platform only
              for their own personal use.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p2">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Content Policy &amp; Community
              Guidelines</strong><br /><br /></span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">When Users Use the Platform, you join a community of practitioners of Societal
              Platform
              Idea </span><span class="s4 font-style">including but not limited to people from societal organisations,
              consulting
              organisations, academia</span><span class="s1 font-style"><span
                class="Apple-converted-space font-style">&nbsp; </span>which involves a certain
              level of trust.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users are expected to respect that trust and be responsible about their Usage
              of the
              Platform and all its Content and follow the
              <a href="/public/content-policy-and-community-guidelines" class="font-style colortheme"
                target="_blank"><span class="s3 font-text colortheme"><strong class="font-text colortheme">Content
                    Policy &amp; Community Guidelines</strong><br /><br /></span></a>.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">By submitting / creating / curating / publishing Content on the Platform,
              Users
              recognise and accept that the Content will be Used by other Users of the Platform.<span
                class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users shall ensure that proper and correct attributions, acknowledgments and
              sourcing
              references are given to the Content and individual(s)/ institution(s) that have been
              involved in the development and creation of Content and wherever Content has been
              quoted/used.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users shall ensure that they do not infringe on any third party rights,
              including but
              not limited to the intellectual property rights such as copyrights, trademarks with
              regard to Content on the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">For any legal matter arising out of infringement of any third party rights by
              the User,
              such User shall be solely responsible for any financial or other damages arising out of
              such violations and disputes.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">EkStep reserves the right to not publish on or remove from the Platform any
              Content
              provided by a User. <span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Prohibited Content &amp; Use</strong>: Users shall
            not:</span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Use the Platform for any purpose other than the Purpose;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Post, upload or distribute any Content that does not comply with the Content
              Policy
              &amp; Community Guidelines;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Impersonate any person or entity, falsely claim an affiliation with any person
              or
              entity, or access Platform accounts of others without permission, or perform any
              fraudulent activity on the Platform;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Delete the copyright or other proprietary rights notices on the Platform or
              any
              licensed Content;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Send junk mail or spam to other Users;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Use the Platform for any illegal purposes, or in violation of any local,
              state,
              national or international law, including without limitation, laws governing intellectual
              property and other proprietary rights, data protection and privacy right;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Defame, harass, abuse, threaten or defraud Users, or collect or attempt to
              collect
              personal information or sensitive personal information or data about Users or third
              parties, without their consent;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Remove, circumvent, disable, damage, or otherwise interfere with security
              related
              features of the Platform;</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Modify, adapt, translate or create derivative works based on Content on the
              Platform,
              or any part thereof, except and only to the extent expressly permitted by the license
              applicable to such Content; or</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Intentionally interfere with or damage the operation of the Platform or any
              User&rsquo;s Usage of it, by any means, including without limitation by participation in
              any denial-of-service type attacks or by uploading or otherwise disseminating viruses,
              adware, spyware, worms, or other malicious code.</span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Intellectual Property Rights</strong><br /><br /></span>
        </li><br />
        <ol class="ol2 spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">The Platform contains copyrighted material, trademarks and other intellectual
              property
              owned by the Foundation or the Users.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s font-style">You agree not to copy, modify, publish, transmit, distribute, perform, display
              or sell
              any such intellectual property.<span class="Apple-converted-space">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Access to or Use of the Platform does not confer upon anyone any license to
              EkStep&rsquo;s or any User&rsquo;s intellectual property rights.<span
                class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">You agree that you will not Use the Platform to scrape or attempt to scrape
              any Content
              available on the Platform.</span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p2">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">User Information &amp; Privacy</strong><br /><br /><span
              class="Apple-converted-space">&nbsp;</span></span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">EkStep takes the privacy of its Users very seriously. Please review the entire
              <a href="public/dataprivacy" class="font-style" target="_blank"><span class="s3 font-style"><strong
                    class="font-text colortheme">Privacy Policy</strong></span></a>.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">By using the Platform and / or by providing your information, you consent to
              the
              collection and use of your information on the Platform, in accordance with the
              <a href="public/dataprivacy" class="font-style" target="_blank"><span class="s3 font-style"><strong
                    class="font-text colortheme">Privacy Policy</strong></span></a>.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users shall not collect any personal information or sensitive personal data of
              other
              Users through the Platform, but if you do collect such<span
                class="Apple-converted-space font-style">&nbsp; </span>information, you must ensure that such
              collection, storage, transfer and disclosure is
              in accordance with Indian law currently in force, including but not limited to the
              (Indian) Information Technology (Reasonable Security Practices and Procedures) Rules,
              2011. EkStep shall not be responsible for any such information collected by its
              Users.</span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p2">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">External Links: </strong><br /><br />Links of other
            websites which
            are
            accessible from any Content on the Platform, may be governed by terms and conditions
            different from these Terms. Users shall check the relevant terms and conditions of those
            other websites before using any content available on those websites.<span
              class="Apple-converted-space font-style">&nbsp;</span></span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Changes in Policies</strong>:<br /><br /> These Terms
            (including
            any other
            Platform policies), may be updated or modified from time to time and the revised Terms
            will be reflected herein. Your continued use of the Platform constitutes acceptance of the
            then-current Terms. Hence, we encourage you to visit this page periodically to review any
            changes. We will post an effective date at the top of this page to make it clear when we
            made our most recent update.</span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Limited Liability</strong><br /><br /></span>
        </li><br />
        <ol class="ol2 font-style spaceallignment">
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">EkStep does not guarantee the accuracy, veracity, correctness, validity,
              usability,
              currency of any of the Content made available on the Platform or take any responsibility
              for any external websites linked on the Platform.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">Users are responsible for all the Content posted, transmitted, sent or
              communicated by
              them through the Platform. EkStep shall not be held responsible for any Content that is
              offensive, unlawful or does not otherwise comply with
              <a href="public/content-policy-and-community-guidelines" class="font-style" target="_blank"><span
                  class="s3 font-style"><strong class="font-text colortheme">Content Policy &amp; Community
                    Guidelines</strong></span></a>.</span>
          </li><br />
          <li class="li3 font-style" style="list-style-type: lower-alpha;">
            <span class="s1 font-style">When you select a link to an outside website, you are leaving the Platform and
              are
              subject to the privacy and security policies of the owners/sponsors of the outside
              website / domain.<span class="Apple-converted-space font-style">&nbsp;</span></span>
          </li><br />
        </ol>
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Indemnity</strong>:<br /><br /> You agree to fully
            indemnify and
            hold
            EkStep, its directors, officers, employees and agent, harmless for any liability, claim,
            proceedings, penalties, damages, losses, costs and expenses that comes as a result of your
            Usage of the Platform, your breach of the Terms, violation of any law, rules, regulations
            in relation to your use of the Platform.</span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Infringement</strong>: <br /><br />If you think that
            something on
            the
            Platform infringes your right to privacy or intellectual property rights, including
            copyright or trademark rights, please contact us on
            <a href="mailto:space@societalplatform.org" class="font-style"><span
                class="s3 font-style">space@societalplatform.org</span></a>
            with details of the alleged infringement and your contact details.<span
              class="Apple-converted-space font-style">&nbsp;</span></span>
        </li><br />
        <!-- </ol> -->
        <p class="p5"><span class="s1">&nbsp;</span></p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Termination</strong>:<br /><br /> Any violation or
            breach of these
            Terms,
            including while investigating complaints or alleged violation of these Terms, may lead to
            suspension or termination of your registration and access to the Platform. If EkStep
            decides to suspend or end your access, we will try to notify you using your email
            address.<span class="Apple-converted-space font-style">&nbsp;</span></span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Electronic Agreement</strong>:<br /><br /> This document
            is a
            written
            agreement and an electronic record and valid and enforceable electronic agreement /
            contract under Information Technology Act, 2000 (as applicable in Republic of India) and
            rules there under as applicable and the amended provisions pertaining to electronic
            records in various statutes under applicable Indian laws. This electronic record is
            generated by a computer system and does not require any physical or digital signatures.
            Your usage of the Platform shall be your deemed acceptance of these Terms and all the
            modifications and updates thereto.</span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Governing Law</strong>:<br /><br /> These Terms shall be
            governed
            by and
            construed in accordance with the Indian law. Any dispute arising under these Terms shall
            be subject to the exclusive jurisdiction of the courts of Bangalore, India.</span>
        </li><br />
        <!-- </ol> -->
        <p class="p5">&nbsp;</p>
        <!-- <ol class="ol1"> -->
        <li class="li3 font-style">
          <span class="s1 font-style"><strong class="font-text">Disclaimers</strong>:<br /><br /> THE PLATFORM,
            INCLUDING THE
            CONTENT, IS
            AVAILABLE ON AN &ldquo;AS-IS&rdquo; BASIS AND THERE ARE NO WARRANTIES OR LEGAL GUARANTEES
            OF ANY KIND SUCH AS &ldquo;MERCHANTABILITY&rdquo;, &ldquo;FITNESS FOR A PARTICULAR
            PURPOSE&rdquo;, &ldquo;NON-INFRINGEMENT&rdquo;. USE OF THE PLATFORM (INCLUDING ANY CONTENT
            OR INFORMATION AVAILABLE ON/THROUGH THE PLATFORM) IS ENTIRELY AT YOUR OWN RISK. BY USING
            THE PLATFORM, YOU AGREE THAT EKSTEP WILL NOT BE LIABLE IN ANY WAY FOR ANY INABILITY TO USE
            THE PLATFORM, OR FOR ANY CLAIM ARISING OUT OF THESE TERMS. EKSTEP SPECIFICALLY DISCLAIMS
            THE FOLLOWING: INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, DIRECT
            OR INDIRECT DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, LOST PROFITS, LOSS OF DATA OR
            COMPUTER MALFUNCTION ARISING OUT OF OR IN CONNECTION WITH THE ACCESS AND USE OF THE
            PLATFORM.<span class="Apple-converted-space">&nbsp;</span></span>
        </li>
        <!-- </ol> -->
      </ol>
    </div>
    <!-- </div> -->
  </div>
</section>